Repository Alluxio/alluxio, pull requests merged in 2019-07, with the labels that each got.

#9383 Support specifying mode when create new file by Alluxio FUSE
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseFileSystem.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioFuseFileSystemTest.java
Labels: target-1.8.2, target-2.0.1

#9407 Update PR title allowed words
  docs/resources/pr/pr_title_words.md
Labels: Doc Fix

#9412 [DOCFIX] Update alluxio.org/alluxio.com URLs to alluxio.io
  docs/cn/Getting-Started.md
  docs/cn/Overview.md
  docs/cn/advanced/Namespace-Management.md
  docs/cn/compute/Spark.md
  docs/en/Overview.md
  docs/en/advanced/Security.md
  docs/en/compute/Spark.md
Labels: Doc Fix

#9428 Fix version string in shaded-hadoop module
  shaded/hadoop/pom.xml
Labels: POM Change

#9430 Fix typo in storage management
  docs/en/advanced/Alluxio-Storage-Management.md
Labels: Doc Fix

#9408 Update depencencies in POM files in client module
  core/base/pom.xml
  core/client/fs/pom.xml
  core/client/hdfs/pom.xml
  core/common/pom.xml
  pom.xml
Labels: POM Change

#9433 Fix ufs.hadoop.version in underfs/hdfs module
  underfs/hdfs/pom.xml
Labels: POM Change

#9187 Improve docs to run Alluxio in cluster
  docs/cn/compute/Spark.md
  docs/en/compute/HBase.md
  docs/en/compute/Hive.md
  docs/en/compute/Spark.md
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
Labels: Doc Fix, target-2.0.0

#9444 Add k8s networking troubleshooting info
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9446 Add custom locality tiers section to Tiered Locality doc
  docs/en/advanced/Tiered-Locality.md
Labels: Doc Fix

#9438 Isolate zk client config for suppressing authentication
  core/common/pom.xml
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/master/MasterInquireClient.java
  core/common/src/main/java/alluxio/master/ZkMasterInquireClient.java
  core/common/src/test/java/alluxio/master/ZkMasterInquireClientTest.java
  minicluster/src/main/java/alluxio/master/MultiMasterLocalAlluxioCluster.java
  minicluster/src/main/java/alluxio/multi/process/MultiProcessCluster.java
  minicluster/src/main/java/alluxio/zookeeper/RestartableTestingServer.java
  pom.xml
  shell/pom.xml
Labels: POM Change

#9447 [DOCFIX] Add links to alluxio-presto-sandbox guide
  docs/en/Getting-Started.md
  docs/en/Overview.md
Labels: Doc Fix

#9451 Isolate zk client config for suppressing authentication
  core/common/src/main/java/alluxio/PropertyKey.java
  core/common/src/main/java/alluxio/master/MasterInquireClient.java
  core/common/src/main/java/alluxio/master/ZkMasterInquireClient.java
  minicluster/src/main/java/alluxio/master/MultiMasterLocalAlluxioCluster.java
  minicluster/src/main/java/alluxio/multi/process/MultiProcessCluster.java
  minicluster/src/main/java/alluxio/zookeeper/RestartableTestingServer.java
  pom.xml
  shell/pom.xml
Labels: POM Change

#9480 Add Github link for EMR docs
  docs/en/compute/AWS-EMR.md
Labels: Doc Fix

#9517 Fix worker registration failure
  core/server/master/src/main/java/alluxio/master/block/BlockMasterWorkerServiceHandler.java
Labels: target-2.0.1, target-2.1.0

#9575 Improve k8s short-circuit documentation
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9586 [DOCFIX] Fix k8s Deployment Doc Typos
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9581 Improve k8s short-circuit documentation
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9595 [DOCFIX] Fix the empty line in the end of AWS EMR docs
  docs/en/compute/AWS-EMR.md
Labels: Doc Fix

#9568 Implement copycat transport with gRPC
  core/server/common/pom.xml
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/transport/CopycatGrpcClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/transport/CopycatGrpcConnection.java
  core/server/common/src/main/java/alluxio/master/journal/raft/transport/CopycatGrpcServer.java
  core/server/common/src/main/java/alluxio/master/journal/raft/transport/CopycatGrpcTransport.java
  core/server/common/src/main/java/alluxio/master/journal/raft/transport/CopycatMessageServiceClientHandler.java
  core/server/common/src/test/java/alluxio/master/journal/raft/transport/CopycatGrpcTransportTest.java
  core/transport/src/grpc/copycat.proto
  core/transport/src/main/java/alluxio/grpc/CopycatMessage.java
  core/transport/src/main/java/alluxio/grpc/CopycatMessageOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/CopycatMessageServerGrpc.java
  core/transport/src/main/java/alluxio/grpc/CopycatProto.java
  core/transport/src/main/java/alluxio/grpc/CopycatRequestHeader.java
  core/transport/src/main/java/alluxio/grpc/CopycatRequestHeaderOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/CopycatResponseHeader.java
  core/transport/src/main/java/alluxio/grpc/CopycatResponseHeaderOrBuilder.java
  pom.xml
Labels: POM Change
