Repository Alluxio/alluxio, pull requests merged in 2019-04, with the labels that each got.

#8725 Add docs for running Spark on Alluxio in k8s
  docs/en/compute/Spark-On-Kubernetes.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#8827 Migrate to ForkJoinPool for master RPCs
  LICENSE
  build/findbugs/findbugs-exclude.xml
  core/common/src/main/java/alluxio/concurrent/jsr/CompletableFuture.java
  core/common/src/main/java/alluxio/concurrent/jsr/CompletionStage.java
  core/common/src/main/java/alluxio/concurrent/jsr/CountedCompleter.java
  core/common/src/main/java/alluxio/concurrent/jsr/ForkJoinPool.java
  core/common/src/main/java/alluxio/concurrent/jsr/ForkJoinTask.java
  core/common/src/main/java/alluxio/concurrent/jsr/ForkJoinWorkerThread.java
  core/common/src/main/java/alluxio/concurrent/jsr/TLRandom.java
  core/common/src/main/java/alluxio/concurrent/jsr/UnsafeAccess.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/common/src/test/java/alluxio/conf/ConfigurationTest.java
  core/server/common/src/main/java/alluxio/master/MasterProcess.java
  core/server/common/src/main/java/alluxio/master/journal/AsyncJournalWriter.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  pom.xml
Labels: POM Change

#8801 [SMALLFIX] FIX a chinese doc which is Running-Alluxio-Locally.md
  docs/cn/deploy/Running-Alluxio-Locally.md
Labels: Doc Fix

#8898 Add a section for using Hadoop native library
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#8909 Use default netty channel type for Spark in k8s
  docs/en/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#8905 Add non-generated gRPC classes under checkstyle/findbugs coverage
  build/findbugs/findbugs-exclude.xml
  core/common/src/main/java/alluxio/grpc/ChannelHealthChecker.java
  core/common/src/main/java/alluxio/grpc/DataMessageMarshaller.java
  core/common/src/main/java/alluxio/grpc/DataMessageMarshallerProvider.java
  core/common/src/main/java/alluxio/grpc/GrpcChannel.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelBuilder.java
  core/common/src/main/java/alluxio/grpc/GrpcManagedChannelPool.java
  core/common/src/main/java/alluxio/grpc/GrpcSerializationUtils.java
  core/common/src/main/java/alluxio/grpc/GrpcServer.java
  core/common/src/main/java/alluxio/grpc/GrpcServerAddress.java
  core/common/src/main/java/alluxio/grpc/GrpcServerBuilder.java
  core/common/src/main/java/alluxio/grpc/GrpcService.java
  core/common/src/main/java/alluxio/grpc/ReadableDataBuffer.java
  core/common/src/main/java/alluxio/grpc/ServiceVersionClientServiceHandler.java
  core/common/src/test/java/alluxio/grpc/GrpcManagedChannelPoolTest.java
  core/transport/pom.xml
  pom.xml
Labels: POM Change

#8917 Update title for Spark on k8s
  docs/en/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#8907 Fix cmd alluxio copyDir include masters
  bin/alluxio
Labels: cla-missing

#8879 [DOCFIX] Update Running-Alluxio-Locally.md in assignment #403
  docs/cn/deploy/Running-Alluxio-Locally.md
Labels: Doc Fix

#8848 [DOCFIX] Inline documentation code snippets in docs/en/deploy/Running…
  docs/en/deploy/Running-Alluxio-Locally.md
Labels: Doc Fix

#8830 [DOCFIX] Inline documentation code snippets in docs/cn/ufs/MapR-FS.md
  docs/cn/ufs/MapR-FS.md
Labels: Doc Fix

#8764 [SMALLFIX]Supply the name of variable to Preconditions
  core/common/src/main/java/alluxio/AbstractClient.java
Labels: cla-missing

#8741 [DOCFIX] Fix a spelling error of Spark.md
  docs/en/compute/Spark.md
Labels: Doc Fix

#8690 [DOCFIX] Update docs/cn/deploy/Running-Alluxio-Locally.md
  docs/cn/deploy/Running-Alluxio-Locally.md
Labels: Doc Fix

#8668 [DOCFIX] Inline documentation code snippets in MapR-FS.md
  docs/en/ufs/MapR-FS.md
Labels: Doc Fix

#8664 [DOCFIX] Use correct punctuation in docs/cn/api/Clients-Go.md
  docs/cn/api/Clients-Go.md
Labels: Doc Fix

#8657 [DOCFIX] Replace include with the real content
  docs/cn/deploy/Running-Alluxio-on-Virtual-Box.md
Labels: Doc Fix

#8620 [DOCFIX] Correct wrong link in alluxio/docs/cn/deploy
  docs/cn/deploy/Running-Alluxio-Locally.md
Labels: Doc Fix

#8472 [SMALLFIX] Simplify doc for gcs
  docs/en/Configuring-Alluxio-with-GCS.md
Labels: Doc Fix

#8937 Update docker doc in branch-2.0-preview
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#8797 [SMALLFIX]Change Running-Alluxio-Fault-Tolerant-on-EC2.md
  docs/cn/deploy/Running-Alluxio-Fault-Tolerant-on-EC2.md
Labels: Doc Fix
