Repository Alluxio/alluxio, pull requests merged in 2019-08, with the labels that each got.

#9620 [DOCFIX] Update use case links
  docs/en/Use-Cases.md
Labels: Doc Fix

#9618 [DOCFIX] Update alluxio.io URLs to use https
  docs/cn/Overview.md
  docs/en/FAQ.md
  docs/en/compute/HBase.md
  docs/en/compute/Hadoop-MapReduce.md
  docs/en/compute/Hive.md
  docs/en/compute/Presto.md
  docs/en/compute/Spark.md
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#9603 Add initial skeleton for catalog master
  assembly/server/pom.xml
  core/transport/src/grpc/catalog_master.proto
  core/transport/src/grpc/version.proto
  core/transport/src/main/java/alluxio/grpc/CatalogMasterClientServiceGrpc.java
  core/transport/src/main/java/alluxio/grpc/CatalogMasterProto.java
  core/transport/src/main/java/alluxio/grpc/FieldSchema.java
  core/transport/src/main/java/alluxio/grpc/FieldSchemaOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/GetAllDatabasesPRequest.java
  core/transport/src/main/java/alluxio/grpc/GetAllDatabasesPRequestOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/GetAllDatabasesPResponse.java
  core/transport/src/main/java/alluxio/grpc/GetAllDatabasesPResponseOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/ServiceType.java
  core/transport/src/main/java/alluxio/grpc/VersionProto.java
  experimental/pom.xml
  experimental/table/base/pom.xml
  experimental/table/base/src/main/java/alluxio/experimental/Constants.java
  experimental/table/client/pom.xml
  experimental/table/client/src/main/java/alluxio/client/catalog/CatalogMasterClient.java
  experimental/table/client/src/main/java/alluxio/client/catalog/RetryHandlingCatalogMasterClient.java
  experimental/table/pom.xml
  experimental/table/server/master/pom.xml
  experimental/table/server/master/src/main/java/alluxio/master/catalog/CatalogMaster.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/CatalogMasterClientServiceHandler.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/CatalogMasterFactory.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/DefaultCatalogMaster.java
  experimental/table/server/master/src/main/resources/META-INF/services/alluxio.master.MasterFactory
  experimental/table/server/pom.xml
  pom.xml
Labels: POM Change

#9638 Update overview to add new sandbox tutorial links
  docs/en/Overview.md
Labels: Doc Fix

#9640 Update Getting-Started.md - add tutorials
  docs/en/Getting-Started.md
Labels: Doc Fix

#9614 Add CLI options for listing last access time
  docs/en/basic/Command-Line-Interface.md
  shell/src/main/java/alluxio/cli/fs/command/LsCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/LsCommandIntegrationTest.java
Labels: area-apis

#9642 Fix checkstyle
  experimental/table/base/pom.xml
  experimental/table/client/pom.xml
  experimental/table/server/master/pom.xml
Labels: POM Change

#9646 Add THROUGH write type to DataFlow doc
  docs/en/Architecture-DataFlow.md
Labels: Doc Fix

#9654 [DOCFIX] Remove HTML in Overview and Getting Started docs
  docs/en/Getting-Started.md
  docs/en/Overview.md
Labels: Doc Fix

#9597 Implement a ConcurrentIdentityHashMap
  core/base/src/main/java/alluxio/collections/ConcurrentIdentityHashMap.java
  core/base/src/test/java/alluxio/collections/ConcurrentIdentityHashMapTest.java
  core/common/pom.xml
  core/common/src/main/java/alluxio/grpc/DataMessageMarshaller.java
Labels: POM Change

#9657 Add required meta service client interfaces
  experimental/table/client/pom.xml
  experimental/table/client/src/main/java/alluxio/client/catalog/CatalogMasterClient.java
  experimental/table/client/src/main/java/alluxio/client/catalog/RetryHandlingCatalogMasterClient.java
  experimental/table/pom.xml
  experimental/table/server/master/pom.xml
Labels: POM Change

#9660 [DOCFIX] Add img links to Overview and Getting Started docs with HTML
  docs/en/Getting-Started.md
  docs/en/Overview.md
Labels: Doc Fix

#9363 Add non-root user to Dockerfile
  integration/docker/Dockerfile
  integration/docker/Dockerfile.fuse
Labels: area-k8s

#9677 EMR script: check optional ENV delimited_properties
  integration/emr/alluxio-emr.sh
Labels: cla-missing

#9455 Clean io.netty dependencies
  core/client/fs/pom.xml
  core/server/master/pom.xml
  core/server/worker/pom.xml
  core/transport/pom.xml
  pom.xml
  tests/pom.xml
Labels: POM Change

#9749 Port update check from master
  core/common/src/main/java-templates/alluxio/ProjectConstants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/EnvironmentUtils.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/meta/UpdateCheck.java
  core/server/master/src/test/java/alluxio/master/meta/UpdateCheckTest.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-release-tarballs.go
  pom.xml
Labels: POM Change

#9756 Add HDFS version requirement to active sync docs
  docs/en/advanced/Namespace-Management.md
Labels: Doc Fix

#9736 Check for updates
  core/common/src/main/java-templates/alluxio/ProjectConstants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/EnvironmentUtils.java
  core/server/common/src/main/java/alluxio/master/journal/JournalEntryAssociation.java
  core/server/common/src/main/java/alluxio/master/journal/checkpoint/CheckpointName.java
  core/server/common/src/test/java/alluxio/master/journal/JournalEntryAssociationTest.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/UpdateCheck.java
  core/server/master/src/test/java/alluxio/master/meta/UpdateCheckTest.java
  core/transport/src/main/java/alluxio/proto/journal/Journal.java
  core/transport/src/main/java/alluxio/proto/journal/Meta.java
  core/transport/src/proto/journal/journal.proto
  core/transport/src/proto/journal/meta.proto
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-release-tarballs.go
  pom.xml
  tests/src/test/java/alluxio/server/ft/journal/MetaMasterJournalTest.java
Labels: POM Change

#9627 [DOCFIX] Add mkdir step to Alluxio building guide
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#9777 Remove unnecessary dependencies in poms
  experimental/table/base/pom.xml
  experimental/table/client/pom.xml
  experimental/table/client/src/main/java/alluxio/client/catalog/CatalogMasterClient.java
  experimental/table/client/src/main/java/alluxio/client/catalog/RetryHandlingCatalogMasterClient.java
  experimental/table/pom.xml
  experimental/table/server/master/pom.xml
Labels: POM Change

#9807 Enable mounting of locations
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  experimental/table/server/common/pom.xml
  experimental/table/server/common/src/main/java/alluxio/table/common/UdbContext.java
  experimental/table/server/common/src/main/java/alluxio/table/common/UnderDatabaseFactory.java
  experimental/table/server/common/src/main/java/alluxio/table/common/UnderDatabaseRegistry.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/AlluxioCatalog.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/Database.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/HiveDatabaseFactory.java
Labels: POM Change

#9814 Update pom
  assembly/server/pom.xml
  experimental/table/server/under/pom.xml
Labels: POM Change
