Repository Alluxio/alluxio, pull requests merged in 2019-05, with the labels that each got.

#8839 [SMALLFIX]Update Command-Line-Interface.md
  docs/cn/basic/Command-Line-Interface.md
Labels: Doc Fix

#8740 [DOCFIX] Update cn docs Presto.md and Spark.md
  docs/cn/compute/Presto.md
  docs/cn/compute/Spark.md
Labels: Doc Fix

#8698 [DOCFIX] Update Chinese doc (correct some inproper punctuations)
  docs/cn/api/Clients-Java.md
Labels: Doc Fix

#8652 [DOCFIX] Update cn docs Getting-Started and Overview
  docs/cn/Getting-Started.md
  docs/cn/Overview.md
Labels: Doc Fix

#8440 Update Tensorflow Docs
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#8953 [DOCFIX] Update cn docs Getting-Started and Overview
  docs/cn/Getting-Started.md
  docs/cn/Overview.md
Labels: Doc Fix

#8951 [DOCFIX] Update cn docs Presto.md and Spark.md
  docs/cn/compute/Presto.md
  docs/cn/compute/Spark.md
Labels: Doc Fix

#8959 [DOCFIX] Fix liquid syntax error
  docs/cn/compute/Spark.md
Labels: Doc Fix

#8954 Move shaded module from a top module to a submodule inside underfs
  pom.xml
  shaded/hadoop/pom.xml
  shaded/pom.xml
Labels: POM Change

#8963 Fix spark on k8s documentation
  docs/en/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#9039 Fix docker doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#9053 Fix incomplete EMR doc line
  docs/en/compute/AWS-EMR.md
Labels: Doc Fix

#9044 Update example insert statement for EMR documentation
  docs/en/compute/AWS-EMR.md
Labels: Doc Fix

#8987 [SMALLFIX] Replace anonymous type with lambda
  core/common/src/main/java/alluxio/resource/DynamicResourcePool.java
Labels: cla-missing

#9088 Update cluster docs with a note on zookeeper session timeouts
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#8996 Add a UFS to read from files hosted using http/https protocols
  core/base/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/concurrent/ManagedBlockingUfsForwarder.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/ObjectUnderFileSystem.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystem.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystemWithLogging.java
  core/common/src/main/java/alluxio/util/UnderFileSystemUtils.java
  core/common/src/main/java/alluxio/util/network/HttpUtils.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  shell/src/main/java/alluxio/cli/fs/command/LsCommand.java
  tests/src/test/java/alluxio/testutils/underfs/delegating/DelegatingUnderFileSystem.java
  tests/src/test/java/alluxio/testutils/underfs/sleeping/SleepingUnderFileSystem.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
  underfs/local/src/main/java/alluxio/underfs/local/LocalUnderFileSystem.java
  underfs/pom.xml
  underfs/web/pom.xml
  underfs/web/src/main/java/alluxio/underfs/web/WebUnderFileSystem.java
  underfs/web/src/main/java/alluxio/underfs/web/WebUnderFileSystemFactory.java
  underfs/web/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/web/src/test/java/alluxio/underfs/web/WebUnderFileSystemFactoryTest.java
  underfs/web/src/test/java/alluxio/underfs/web/WebUnderFileSystemTest.java
  underfs/web/src/test/resources/log4j.properties
Labels: POM Change

#8566 [DOCFIX] Fix the url link related issues for object store underfs
  docs/cn/ufs/COS.md
  docs/cn/ufs/OSS.md
Labels: Doc Fix

#8988 Fix Chinese character errors in Security.md
  docs/cn/advanced/Security.md
Labels: Doc Fix, cla-missing

#9095 Use Swagger to generate rest docs
  .gitignore
  core/common/pom.xml
  core/common/src/main/java/alluxio/wire/AlluxioJobMasterInfo.java
  core/common/src/main/java/alluxio/wire/AlluxioJobWorkerInfo.java
  core/common/src/main/java/alluxio/wire/TieredIdentity.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/block/BlockMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  core/server/proxy/pom.xml
  core/server/proxy/src/main/java/alluxio/proxy/AlluxioProxyRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/PathsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/StreamsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/worker/pom.xml
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  job/server/pom.xml
  job/server/src/main/java/alluxio/master/AlluxioJobMasterRestServiceHandler.java
  job/server/src/main/java/alluxio/worker/AlluxioJobWorkerRestServiceHandler.java
  pom.xml
  templates/markdown.hbs
  templates/operation.hbs
  templates/strapdown.html.hbs
Labels: POM Change

#9102 Add docs for optimized commits for object stores
  docs/en/advanced/Performance-Tuning.md
Labels: Doc Fix

#9115 Fix generate-tarballs - exclude generated restdoc from license check
  pom.xml
Labels: POM Change

#9144 [DOCFIX] Improve allxio-path.md and docs/README.md
  docs/README.md
  docs/_includes/Command-Line-Interface/alluxio-path.md
Labels: Doc Fix

#9120 Add paths and streams api to rest docs
  core/common/src/main/java/alluxio/wire/WorkerInfo.java
  core/common/src/main/java/alluxio/wire/WorkerNetAddress.java
  core/server/master/pom.xml
  core/server/proxy/pom.xml
  core/server/proxy/src/main/java/alluxio/proxy/PathsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/StreamsRestServiceHandler.java
  job/server/pom.xml
  job/server/src/main/java/alluxio/master/AlluxioJobMasterRestServiceHandler.java
  job/server/src/main/java/alluxio/worker/AlluxioJobWorkerRestServiceHandler.java
Labels: POM Change

#9169 Update FAQ.md
  docs/cn/FAQ.md
Labels: Doc Fix

#9168 Update FAQ.md
  docs/cn/FAQ.md
Labels: Doc Fix

#9165 Update FAQ.md
  docs/en/FAQ.md
Labels: Doc Fix

#9164 Update FAQ.md
  docs/en/FAQ.md
Labels: Doc Fix

#9155 Update FAQ.md
  docs/en/FAQ.md
Labels: Doc Fix

#9157 Update FAQ.md
  docs/en/FAQ.md
Labels: Doc Fix

#9158 Update FAQ.md
  docs/en/FAQ.md
Labels: Doc Fix

#9159 Update FAQ.md
  docs/cn/FAQ.md
Labels: Doc Fix

#9160 Update FAQ.md
  docs/cn/FAQ.md
Labels: Doc Fix

#9161 Update FAQ.md
  docs/cn/FAQ.md
Labels: Doc Fix

#9163 Update FAQ.md
  docs/en/FAQ.md
Labels: Doc Fix

#9139 Use Swagger to generate rest docs
  .gitignore
  core/common/pom.xml
  core/common/src/main/java/alluxio/wire/TieredIdentity.java
  core/common/src/main/java/alluxio/wire/WorkerInfo.java
  core/common/src/main/java/alluxio/wire/WorkerNetAddress.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/block/BlockMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/lineage/LineageMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  core/server/proxy/pom.xml
  core/server/proxy/src/main/java/alluxio/proxy/AlluxioProxyRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/PathsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/StreamsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/worker/pom.xml
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  pom.xml
  templates/markdown.hbs
  templates/operation.hbs
  templates/strapdown.html.hbs
Labels: POM Change

#9140 Use Swagger to generate rest docs
  .gitignore
  core/common/pom.xml
  core/common/src/main/java/alluxio/wire/TieredIdentity.java
  core/common/src/main/java/alluxio/wire/WorkerInfo.java
  core/common/src/main/java/alluxio/wire/WorkerNetAddress.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/AlluxioMasterRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/block/BlockMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/lineage/LineageMasterClientRestServiceHandler.java
  core/server/proxy/pom.xml
  core/server/proxy/src/main/java/alluxio/proxy/AlluxioProxyRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/PathsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/StreamsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/worker/pom.xml
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  pom.xml
  templates/markdown.hbs
  templates/operation.hbs
  templates/strapdown.html.hbs
Labels: POM Change

#9141 Use Swagger to generate rest docs
  .gitignore
  core/common/pom.xml
  core/common/src/main/java/alluxio/wire/WorkerInfo.java
  core/common/src/main/java/alluxio/wire/WorkerNetAddress.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/AlluxioMasterRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/block/BlockMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/lineage/LineageMasterClientRestServiceHandler.java
  core/server/proxy/pom.xml
  core/server/proxy/src/main/java/alluxio/proxy/AlluxioProxyRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/PathsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/StreamsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/worker/pom.xml
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  pom.xml
  templates/markdown.hbs
  templates/operation.hbs
  templates/strapdown.html.hbs
Labels: POM Change

#9142 Use Swagger to generate rest docs
  .gitignore
  core/common/pom.xml
  core/common/src/main/java/alluxio/wire/WorkerInfo.java
  core/common/src/main/java/alluxio/wire/WorkerNetAddress.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/AlluxioMasterRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/block/BlockMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/lineage/LineageMasterClientRestServiceHandler.java
  core/server/proxy/pom.xml
  core/server/proxy/src/main/java/alluxio/proxy/AlluxioProxyRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/PathsRestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/StreamsRestServiceHandler.java
  core/server/worker/pom.xml
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  pom.xml
  templates/markdown.hbs
  templates/operation.hbs
  templates/strapdown.html.hbs
Labels: POM Change

#9176 Fix a NPE issue for a corner case of S3 compatible UFS
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUtils.java
  underfs/s3a/src/test/java/alluxio/underfs/s3a/S3AUtilsTest.java
Labels: target-1.8.2, target-2.0.0
