Repository Alluxio/alluxio, pull requests merged in 2019-10, with the labels that each got.

#10004 Add alluxio core client runtime shaded jar
  core/base/pom.xml
  shaded/client/pom.xml
  shaded/pom.xml
Labels: POM Change

#10024 Improve distributedCp command to support write type parameter
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
Labels: API Change

#10028 Add table client to shaded client jar
  shaded/client/pom.xml
Labels: POM Change

#10010 Update journal docs
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
  docs/en/operation/Admin-CLI.md
  docs/en/operation/Journal.md
Labels: Doc Fix

#10037 [DOCFIX] Require trailing slash when mounting whole s3 bucket
  docs/en/ufs/S3.md
Labels: Doc Fix

#10051 Enable uri join of empty string
  core/base/src/main/java/alluxio/AlluxioURI.java
  core/common/src/test/java/alluxio/AlluxioURITest.java
Labels: API Change

#10053 Cleanup reverse resolve
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/RetryHandlingFileSystemMasterClient.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientServiceHandler.java
  core/transport/src/grpc/file_system_master.proto
  core/transport/src/main/java/alluxio/grpc/FileSystemMasterProto.java
  core/transport/src/main/java/alluxio/grpc/ReverseResolvePRequest.java
  core/transport/src/main/java/alluxio/grpc/ReverseResolvePRequestOrBuilder.java
Labels: API Change

#10064 Remove dead code/dependencies
  core/transport/src/grpc/catalog/catalog_master.proto
  core/transport/src/main/java/alluxio/grpc/catalog/CatalogMasterClientServiceGrpc.java
  core/transport/src/main/java/alluxio/grpc/catalog/CatalogMasterProto.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateDatabasePRequest.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateDatabasePRequestOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateDatabasePResponse.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateDatabasePResponseOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateTablePRequest.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateTablePRequestOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateTablePResponse.java
  core/transport/src/main/java/alluxio/grpc/catalog/CreateTablePResponseOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/catalog/FieldTypeId.java
  core/transport/src/main/java/alluxio/grpc/catalog/PrimitiveTypeName.java
  core/transport/src/main/java/alluxio/grpc/catalog/Repetition.java
  core/transport/src/main/java/alluxio/grpc/catalog/Type.java
  core/transport/src/main/java/alluxio/grpc/catalog/TypeOrBuilder.java
  experimental/table/base/pom.xml
  experimental/table/base/src/main/java/alluxio/experimental/ProtoUtils.java
  experimental/table/client/pom.xml
  experimental/table/client/src/main/java/alluxio/client/catalog/CatalogMasterClient.java
  experimental/table/client/src/main/java/alluxio/client/catalog/RetryHandlingCatalogMasterClient.java
  experimental/table/pom.xml
  experimental/table/server/common/src/main/java/alluxio/table/common/udb/UnderDatabase.java
  experimental/table/server/master/pom.xml
  experimental/table/server/master/src/main/java/alluxio/master/catalog/AlluxioCatalog.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/CatalogMaster.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/CatalogMasterClientServiceHandler.java
  experimental/table/server/master/src/main/java/alluxio/master/catalog/DefaultCatalogMaster.java
  experimental/table/server/master/src/test/java/alluxio/master/catalog/NoopDatabase.java
  experimental/table/server/under/hive/pom.xml
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/AlluxioFileIO.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/AlluxioInputFile.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/AlluxioOutputFile.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/AlluxioStreams.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/AlluxioTableOperations.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/HiveDataCatalog.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/HiveTable.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/HiveUtils.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/parquet/AlluxioInputFile.java
  experimental/table/server/under/hive/src/main/java/alluxio/table/under/hive/parquet/AlluxioSeekableInputStream.java
  tests/src/test/java/alluxio/client/catalog/CatalogMasterClientTest.java
Labels: POM Change

#10057 Add block size to information stored in UfsFileStatus
  core/common/src/main/java/alluxio/underfs/ObjectUnderFileSystem.java
  core/common/src/main/java/alluxio/underfs/UfsFileStatus.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystem.java
  core/common/src/test/java/alluxio/underfs/FingerprintTest.java
  core/common/src/test/java/alluxio/underfs/UfsFileStatusTest.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/test/java/alluxio/master/meta/DailyMetadataBackupTest.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
  underfs/local/src/main/java/alluxio/underfs/local/LocalUnderFileSystem.java
  underfs/web/src/main/java/alluxio/underfs/web/WebUnderFileSystem.java
Labels: API Change

#9929 Make Persist jobs write to dest directly on object store
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
Labels: API Change

#10063 Create JobServiceMetrics Command
  core/transport/src/grpc/job_master.proto
  core/transport/src/main/java/alluxio/grpc/GetJobServiceSummaryPOptions.java
  core/transport/src/main/java/alluxio/grpc/GetJobServiceSummaryPOptionsOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/GetJobServiceSummaryPRequest.java
  core/transport/src/main/java/alluxio/grpc/GetJobServiceSummaryPRequestOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/GetJobServiceSummaryPResponse.java
  core/transport/src/main/java/alluxio/grpc/GetJobServiceSummaryPResponseOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/JobMasterClientServiceGrpc.java
  core/transport/src/main/java/alluxio/grpc/JobMasterProto.java
  core/transport/src/main/java/alluxio/grpc/JobServiceSummary.java
  core/transport/src/main/java/alluxio/grpc/JobServiceSummaryOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/StatusSummary.java
  core/transport/src/main/java/alluxio/grpc/StatusSummaryOrBuilder.java
  job/client/src/main/java/alluxio/client/job/JobMasterClient.java
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/common/src/main/java/alluxio/job/wire/JobServiceSummary.java
  job/common/src/main/java/alluxio/job/wire/StatusSummary.java
  job/common/src/test/java/alluxio/job/wire/JobServiceSummaryTest.java
  job/server/src/main/java/alluxio/master/job/JobMaster.java
  job/server/src/main/java/alluxio/master/job/JobMasterClientServiceHandler.java
  shell/src/main/java/alluxio/cli/fsadmin/FileSystemAdminShell.java
  shell/src/main/java/alluxio/cli/fsadmin/command/AbstractFsAdminCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/command/Context.java
  shell/src/main/java/alluxio/cli/fsadmin/command/ReportCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommand.java
  shell/src/test/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommandTest.java
Labels: API Change

#10103 Add configuration for threadpool size job worker
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/_data/table/common-configuration.csv
  job/server/src/main/java/alluxio/worker/JobWorker.java
  job/server/src/main/java/alluxio/worker/job/task/TaskExecutorManager.java
Labels: API Change

#10107 [DOCFIX] Remove MapR related docs
  docs/cn/Getting-Started.md
  docs/cn/contributor/Building-Alluxio-From-Source.md
  docs/cn/ufs/MapR-FS.md
  docs/en/Getting-Started.md
  docs/en/contributor/Building-Alluxio-From-Source.md
  docs/en/ufs/MapR-FS.md
Labels: Doc Fix

#10117 Fix the way we pass parameters to lerna so it is happy
  webui/pom.xml
Labels: POM Change

#10115 Load libraries from lib/ directory
  assembly/server/pom.xml
  table/server/common/src/main/java/alluxio/table/common/LayoutRegistry.java
  table/server/common/src/main/java/alluxio/table/common/udb/UnderDatabaseRegistry.java
  table/server/master/src/main/java/alluxio/master/table/Table.java
  table/server/under/hive/pom.xml
  table/server/under/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
  table/server/under/pom.xml
Labels: POM Change

#10055 Remove root inode acl check
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
Labels: API Change, target-1.8.3

#10120 Update the option name in distributedLoad
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/PersistCommand.java
Labels: API Change

#10111 Implement blacklist for persisting files
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  tests/src/test/java/alluxio/client/cli/fs/command/PersistCommandTest.java
Labels: API Change

#10086 Update the output message for FreeCommand
  shell/src/main/java/alluxio/cli/fs/command/FreeCommand.java
Labels: API Change

#10121 Improve distributedCp and distributedMv and Persist
  job/server/src/main/java/alluxio/job/migrate/MigrateDefinition.java
  job/server/src/main/java/alluxio/job/persist/PersistDefinition.java
  job/server/src/test/java/alluxio/job/migrate/MigrateDefinitionRunTaskTest.java
  shell/src/main/java/alluxio/cli/fs/command/CpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedMvCommand.java
Labels: API Change

#10128 Propagate UserState to PollingMasterInquireClient
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/test/java/alluxio/client/block/BlockMasterClientPoolTest.java
  core/client/fs/src/test/java/alluxio/client/file/FileSystemMasterClientPoolTest.java
  core/client/fs/src/test/java/alluxio/client/metrics/MetricsHeartbeatContextTest.java
  core/common/src/main/java/alluxio/master/MasterClientContextBuilder.java
  core/common/src/main/java/alluxio/master/MasterInquireClient.java
  core/common/src/main/java/alluxio/master/PollingMasterInquireClient.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorker.java
  job/client/src/main/java/alluxio/client/job/JobContext.java
  job/client/src/main/java/alluxio/worker/job/JobMasterClientContextBuilder.java
  job/client/src/test/java/alluxio/client/job/JobContextTest.java
  job/server/src/main/java/alluxio/worker/AlluxioJobWorker.java
  minicluster/src/main/java/alluxio/multi/process/MultiProcessCluster.java
  shell/src/main/java/alluxio/cli/fs/command/MasterInfoCommand.java
  shell/src/main/java/alluxio/cli/job/command/LeaderCommand.java
  shell/src/main/java/alluxio/cli/job/command/ListCommand.java
  shell/src/main/java/alluxio/cli/job/command/StatCommand.java
  shell/src/main/java/alluxio/master/MasterHealthCheckClient.java
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
Labels: API Change, target-2.1.0

#10144 Add recently modified/failed jobs to the report
  core/transport/src/grpc/job_master.proto
  core/transport/src/main/java/alluxio/grpc/JobInfo.java
  core/transport/src/main/java/alluxio/grpc/JobInfoOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/JobMasterProto.java
  core/transport/src/main/java/alluxio/grpc/JobServiceSummary.java
  core/transport/src/main/java/alluxio/grpc/JobServiceSummaryOrBuilder.java
  job/common/src/main/java/alluxio/job/wire/JobInfo.java
  job/common/src/main/java/alluxio/job/wire/JobServiceSummary.java
  job/common/src/test/java/alluxio/job/wire/JobServiceSummaryTest.java
  shell/src/main/java/alluxio/cli/fsadmin/command/ReportCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommand.java
  shell/src/test/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommandTest.java
Labels: API Change

#10146 [DOCFIX] Add vi/vim support in Fuse docs
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#10091 [DOCFIX] Add a note for using SecondaryMaster with Embedded Journal
  docs/en/Architecture-DataFlow.md
Labels: Doc Fix

#10156 Remove unused dependencies
  table/base/pom.xml
  table/client/pom.xml
  table/pom.xml
  table/server/under/hive/pom.xml
Labels: POM Change

#10149 Replace runtime client module with shaded client
  core/client/pom.xml
  core/client/runtime/pom.xml
  shaded/client/pom.xml
Labels: POM Change

#10116 Update Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#10167 [DOCFIX] Add tar command that saves permissions
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#10164 Upgrade OSS Java Client to 3.6.0
  pom.xml
  underfs/oss/src/main/java/alluxio/underfs/oss/OSSInputStream.java
  underfs/oss/src/main/java/alluxio/underfs/oss/OSSOutputStream.java
  underfs/oss/src/main/java/alluxio/underfs/oss/OSSUnderFileSystem.java
  underfs/oss/src/test/java/alluxio/underfs/oss/OSSInputStreamTest.java
  underfs/oss/src/test/java/alluxio/underfs/oss/OSSOutputStreamTest.java
Labels: POM Change

#10192 Update EMR instructions
  docs/en/compute/AWS-EMR.md
Labels: Doc Fix, target-2.0.1, target-2.1.0

#10147 Add Job Definition Names to Job Stat command
  core/transport/src/grpc/job_master.proto
  core/transport/src/main/java/alluxio/grpc/JobInfo.java
  core/transport/src/main/java/alluxio/grpc/JobInfoOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/JobMasterProto.java
  job/common/src/main/java/alluxio/job/wire/JobInfo.java
  job/common/src/test/java/alluxio/job/wire/JobInfoTest.java
  job/server/src/test/java/alluxio/master/job/JobCoordinatorTest.java
  shell/src/main/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommand.java
  shell/src/main/java/alluxio/cli/job/command/StatCommand.java
  shell/src/test/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommandTest.java
  tests/src/test/java/alluxio/client/cli/job/StatCommandTest.java
Labels: API Change

#10145 Increase default user conf sync interval
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10172 Restructure journal documents
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
  docs/en/operation/Journal.md
Labels: Doc Fix

#10223 Update Tensorflow documentation tips section
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#10250 Rename table under module
  table/server/common/src/main/java/alluxio/table/common/udb/UnderDatabaseRegistry.java
  table/server/pom.xml
  table/server/underdb/hive/pom.xml
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveDatabaseFactory.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HivePartition.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveTable.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveUtils.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/Property.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/PathTranslator.java
  table/server/underdb/hive/src/main/resources/META-INF/services/alluxio.table.common.udb.UnderDatabaseFactory
  table/server/underdb/hive/src/test/java/alluxio/table/under/hive/HiveDatabaseTest.java
  table/server/underdb/hive/src/test/java/alluxio/table/under/hive/util/PathTranslatorTest.java
  table/server/underdb/pom.xml
  tests/pom.xml
Labels: POM Change

#10093 [DOCFIX] Update some docs for 2.1.0
  docs/en/advanced/Tiered-Locality.md
  docs/en/compute/Hadoop-MapReduce.md
  docs/en/compute/Spark-On-Kubernetes.md
  docs/en/compute/Spark.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#10202 [DOCFIX] Update CLI docs
  docs/en/basic/Command-Line-Interface.md
Labels: Doc Fix

#10227 [DOCFIX] Update CLI docs related to job service
  docs/en/basic/Command-Line-Interface.md
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#10154 [DOCFIX] Add table docs
  docs/_config.yml
  docs/en/structured-data/catalog-service.md
  docs/en/structured-data/transformation-service.md
Labels: Doc Fix

#10271 [DOCFIX] Remove application dependency section in GCS doc
  docs/en/ufs/GCS.md
Labels: Doc Fix

#10268 [DOCFIX] Edit content of namespace management
  docs/en/advanced/Namespace-Management.md
Labels: Doc Fix

#10233 Exclude logging from client jar and make then runtime dependencies
  core/client/runtime/pom.xml
Labels: POM Change

#10230 [DOCFIX] Add medium type to multi tier example
  docs/en/advanced/Alluxio-Storage-Management.md
Labels: Doc Fix

#10232 [DOCFIX] Improve metastore doc
  docs/en/operation/Metastore.md
Labels: Doc Fix, target-2.1.0

#10168 Update HDFS default version and remove reference to 1.x
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#10193 [DOCFIX] Remove reference to old command
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#10275 Add CLI for monitoring transformation status
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/JournalEntryAssociation.java
  core/server/common/src/test/java/alluxio/master/journal/JournalEntryAssociationTest.java
  core/transport/src/grpc/table/table_master.proto
  core/transport/src/main/java/alluxio/grpc/table/GetTransformJobInfoPRequest.java
  core/transport/src/main/java/alluxio/grpc/table/GetTransformJobInfoPRequestOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/table/GetTransformJobInfoPResponse.java
  core/transport/src/main/java/alluxio/grpc/table/GetTransformJobInfoPResponseOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/table/Partition.java
  core/transport/src/main/java/alluxio/grpc/table/PartitionOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/table/TableMasterClientServiceGrpc.java
  core/transport/src/main/java/alluxio/grpc/table/TableMasterProto.java
  core/transport/src/main/java/alluxio/grpc/table/TransformJobInfo.java
  core/transport/src/main/java/alluxio/grpc/table/TransformJobInfoOrBuilder.java
  core/transport/src/main/java/alluxio/proto/journal/Journal.java
  core/transport/src/main/java/alluxio/proto/journal/Table.java
  core/transport/src/proto/journal/journal.proto
  core/transport/src/proto/journal/table.proto
  table/base/src/main/java/alluxio/table/ProtoUtils.java
  table/client/src/main/java/alluxio/client/table/RetryHandlingTableMasterClient.java
  table/client/src/main/java/alluxio/client/table/TableMasterClient.java
  table/server/master/src/main/java/alluxio/master/table/AlluxioCatalog.java
  table/server/master/src/main/java/alluxio/master/table/DefaultTableMaster.java
  table/server/master/src/main/java/alluxio/master/table/Partition.java
  table/server/master/src/main/java/alluxio/master/table/TableMaster.java
  table/server/master/src/main/java/alluxio/master/table/TableMasterClientServiceHandler.java
  table/server/master/src/main/java/alluxio/master/table/transform/TransformJobInfo.java
  table/server/master/src/main/java/alluxio/master/table/transform/TransformManager.java
  table/shell/src/main/java/alluxio/cli/table/command/TransformStatusCommand.java
  table/shell/src/main/java/alluxio/cli/table/command/TransformTableCommand.java
Labels: API Change

#10201 Remove unused dependencies
  core/client/fs/pom.xml
  core/common/pom.xml
  core/server/common/pom.xml
  core/server/master/pom.xml
  job/common/pom.xml
  job/server/pom.xml
  minicluster/pom.xml
  shell/pom.xml
  table/server/master/pom.xml
Labels: POM Change

#10308 Support scheme and authority when creating TableReader and TableWriter
  core/base/src/main/java/alluxio/exception/ExceptionMessage.java
  job/server/src/main/java/alluxio/job/transform/CompactDefinition.java
  job/server/src/main/java/alluxio/job/transform/format/ReadWriterUtils.java
  job/server/src/main/java/alluxio/job/transform/format/TableReader.java
  job/server/src/main/java/alluxio/job/transform/format/TableWriter.java
  job/server/src/main/java/alluxio/job/transform/format/csv/CsvReader.java
  job/server/src/main/java/alluxio/job/transform/format/parquet/ParquetReader.java
  job/server/src/main/java/alluxio/job/transform/format/parquet/ParquetWriter.java
  job/server/src/main/java/alluxio/job/transform/format/tables/TablesWriter.java
  job/server/src/test/java/alluxio/job/transform/format/ReadWriteTest.java
  table/server/common/src/main/java/alluxio/table/common/transform/action/WriteAction.java
  tests/pom.xml
  tests/src/test/java/alluxio/job/transform/format/TableReaderIntegrationTest.java
  tests/src/test/java/alluxio/job/transform/format/TableWriterIntegrationTest.java
  tests/src/test/java/alluxio/job/transform/format/parquet/ParquetTestUtils.java
Labels: POM Change

#10311 [DOCFIX] Fix security page Hadoop doc link
  docs/en/advanced/Security.md
Labels: Doc Fix

#10249 Allow extra arguments as directories for ls command
  shell/src/main/java/alluxio/cli/fs/command/LsCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/LsCommandIntegrationTest.java
Labels: API Change

#10323 Update doc with sync command
  docs/en/structured-data/catalog-service.md
Labels: Doc Fix

#10332 Increase EJ transport buffer size
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10348 Fix Journal doc after a property change
  docs/en/operation/Journal.md
Labels: Doc Fix

#10346 [DOCFIX] Update table docs
  docs/en/basic/Command-Line-Interface.md
  docs/en/structured-data/catalog-service.md
  docs/en/structured-data/transformation-service.md
Labels: Doc Fix

#10340 Support determine file type and schema through catalog service
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContextReinitializer.java
  core/transport/src/grpc/table/layout/hive/hive.proto
  core/transport/src/grpc/table/table_master.proto
  core/transport/src/main/java/alluxio/grpc/table/FieldSchema.java
  core/transport/src/main/java/alluxio/grpc/table/FieldSchemaOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/table/TableMasterProto.java
  core/transport/src/main/java/alluxio/grpc/table/layout/hive/HiveLayoutProto.java
  core/transport/src/main/java/alluxio/grpc/table/layout/hive/StorageFormat.java
  core/transport/src/main/java/alluxio/grpc/table/layout/hive/StorageFormatOrBuilder.java
  job/common/src/main/java/alluxio/job/transform/CompactConfig.java
  job/common/src/main/java/alluxio/job/transform/FieldSchema.java
  job/common/src/main/java/alluxio/job/transform/Format.java
  job/common/src/main/java/alluxio/job/transform/HiveConstants.java
  job/common/src/main/java/alluxio/job/transform/PartitionInfo.java
  job/common/src/test/java/alluxio/job/composite/CompositeConfigTest.java
  job/server/src/main/java/alluxio/job/transform/CompactDefinition.java
  job/server/src/main/java/alluxio/job/transform/format/TableReader.java
  job/server/src/main/java/alluxio/job/transform/format/TableRow.java
  job/server/src/main/java/alluxio/job/transform/format/csv/CsvReader.java
  job/server/src/main/java/alluxio/job/transform/format/csv/CsvRow.java
  job/server/src/main/java/alluxio/job/transform/format/csv/CsvSchema.java
  job/server/src/main/java/alluxio/job/transform/format/csv/CsvUtils.java
  job/server/src/main/java/alluxio/job/transform/format/csv/Decimal.java
  job/server/src/main/java/alluxio/job/transform/format/parquet/ParquetReader.java
  job/server/src/main/java/alluxio/job/transform/format/parquet/ParquetRow.java
  job/server/src/test/java/alluxio/job/transform/format/ReadWriteTest.java
  table/server/common/pom.xml
  table/server/common/src/main/java/alluxio/table/common/layout/HiveLayout.java
  table/server/common/src/main/java/alluxio/table/common/transform/action/WriteAction.java
  table/server/master/src/main/java/alluxio/master/table/transform/TransformManager.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveUtils.java
  table/shell/src/main/java/alluxio/cli/table/command/TransformTableCommand.java
  tests/src/test/java/alluxio/job/transform/format/TableReaderIntegrationTest.java
Labels: POM Change

#10366 [DOCFIX] Improve K8s doc
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#10377 Fix uri validation in client context reinit
  core/common/src/main/java/alluxio/ClientContext.java
Labels: API Change
