Repository Alluxio/alluxio, pull requests merged in 2019-06, with the labels that each got.

#9105 Add docs for WEB underfs
  docs/cn/ufs/WEB.md
  docs/en/ufs/WEB.md
Labels: Doc Fix

#9207 Run alluxio-start.sh local without SSH
  bin/alluxio-start.sh
Labels: target-1.8.2, target-2.0.0

#9218 [SMALLFIX] Clean up the remaining pom code about ufs contract test
  underfs/cos/pom.xml
  underfs/gcs/pom.xml
  underfs/hdfs/pom.xml
  underfs/kodo/pom.xml
  underfs/oss/pom.xml
  underfs/s3a/pom.xml
  underfs/swift/pom.xml
  underfs/wasb/pom.xml
Labels: POM Change

#9212 Improve tiered locality doc
  docs/en/advanced/Tiered-Locality.md
Labels: Doc Fix

#9209 Improve cluster doc
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#9227 Simplify the docker tutorial
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#9202 Remove redundant config file manipulation from doc
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#9192 Support "s3://" in addition to "s3a://"
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/test/java/alluxio/master/meta/PathPropertiesTest.java
  docs/_includes/Command-Line-Interface/ls.md
  docs/_includes/Command-Line-Interface/mount.md
  docs/_includes/Configuring-Alluxio-with-Ceph/underfs-s3a.md
  docs/_includes/Configuring-Alluxio-with-S3/server-side-encryption-conf.md
  docs/_includes/Configuring-Alluxio-with-S3/underfs-address-s3a.md
  docs/cn/Getting-Started.md
  docs/cn/advanced/Namespace-Management.md
  docs/cn/api/Ufs-Extension-API.md
  docs/cn/basic/Command-Line-Interface.md
  docs/cn/compute/Deep-Learning.md
  docs/cn/ufs/Ceph.md
  docs/cn/ufs/Minio.md
  docs/cn/ufs/S3.md
  docs/en/Getting-Started.md
  docs/en/advanced/Namespace-Management.md
  docs/en/basic/Command-Line-Interface.md
  docs/en/compute/AWS-EMR.md
  docs/en/compute/Tensorflow.md
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
  docs/en/ufs/Ceph.md
  docs/en/ufs/Minio.md
  docs/en/ufs/S3.md
  docs/en/ufs/Ufs-Extension-API.md
  examples/src/main/java/alluxio/cli/UnderFileSystemContractTest.java
  underfs/pom.xml
  underfs/s3a/pom.xml
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3ALowLevelOutputStream.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystemFactory.java
  underfs/s3a/src/test/java/alluxio/underfs/s3a/S3ALowLevelOutputStreamTest.java
  underfs/s3a/src/test/java/alluxio/underfs/s3a/S3AOutputStreamTest.java
  underfs/s3a/src/test/java/alluxio/underfs/s3a/S3AUnderFileSystemFactoryTest.java
Labels: POM Change, target-2.0.0

#9241 Update Overview.md
  docs/en/Overview.md
Labels: Doc Fix

#9248 Add docs for k8s / fuse
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9224 [DOCFIX] Update the UFS extension documentation
  docs/en/ufs/Ufs-Extension-API.md
  docs/en/ufs/Ufs-Extensions.md
Labels: Doc Fix

#9252 Add instructions to use k8s spec corresponding to version
  docs/en/compute/Spark-On-Kubernetes.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9253 Add k8s debugging instructions
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9254 Add more k8s debugging instructions
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9255 Restructure Spark k8s docs
  docs/en/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#9256 [DOCFIX] Fix the OBS docs
  docs/en/ufs/OBS.md
Labels: Doc Fix

#9235 Put KODO doc into the right directory
  docs/en/ufs/Qiniu-KODO.md
Labels: Doc Fix

#9260 Update docs to latest
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/user-configuration.yml
Labels: Doc Fix

#9267 Add docs version tag
  docs/_config.yml
Labels: Doc Fix

#9268 Add docs version tag in release branch
  docs/_config.yml
Labels: Doc Fix

#9261 Add documentation for extracting k8s artifacts from docker image
  docs/en/compute/Spark-On-Kubernetes.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9245 Break infinite-loop during zk leader query
  core/common/pom.xml
  core/common/src/main/java/alluxio/master/ZkMasterInquireClient.java
  core/common/src/test/java/alluxio/master/ZkMasterInquireClientTest.java
Labels: POM Change

#9287 [DOCFIX] Update code-conventions
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#9238 Fix CLI after running alluxio-start.sh local
  bin/alluxio-start.sh
Labels: area-cli, target-2.0.0

#9293 [DOCFIX] Modify Swift docs
  docs/en/ufs/Swift.md
Labels: Doc Fix

#9249 [DOCFIX] Improve journal tool docs and add checkpoint docs
  docs/_data/table/developer-tips.csv
  docs/_data/table/en/developer-tips.yml
  docs/en/operation/Admin-CLI.md
  docs/en/operation/Journal.md
Labels: Doc Fix

#9288 Disable client-side metrics by default
  core/common/src/main/java/alluxio/PropertyKey.java
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/user-configuration.csv
Labels: target-1.8.2

#9250 Update map reduce docs
  docs/en/compute/Hadoop-MapReduce.md
Labels: Doc Fix

#9272 Update Mesos doc
  docs/en/deploy/Running-Alluxio-On-Mesos.md
Labels: Doc Fix

#9229 [DOCFIX] Update web interface doc
  docs/en/basic/Web-Interface.md
Labels: Doc Fix

#9233 [DOCFIX] Update MinIO doc for 2.0
  docs/en/ufs/Minio.md
Labels: Doc Fix

#9285 [DOCFIX] Fix and update Admin-CLI docs
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#9299 [DOCFIX] Add new sections to CLI docs
  docs/en/basic/Command-Line-Interface.md
  docs/en/contributor/contributor-tools.md
Labels: Doc Fix

#9306 Add a reminder to put the client jar on all the nodes
  docs/en/compute/Spark.md
Labels: Doc Fix

#9284 [DOCFIX] Update contributor guide
  docs/en/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#9307 Add medium type text
  docs/en/advanced/Alluxio-Storage-Management.md
Labels: Doc Fix

#9281 [DOCFIX]Improve the Overview page
  docs/en/Overview.md
Labels: Doc Fix

#9313 Add newline to end of docs
  docs/README.md
  docs/_data/table/en/env_vars.yml
  docs/en/advanced/Performance-Tuning.md
Labels: Doc Fix

#9317 [DOCFIX] Update Configuration-Settings, NFS and fix all broken links
  docs/en/Architecture-DataFlow.md
  docs/en/Getting-Started.md
  docs/en/advanced/Namespace-Management.md
  docs/en/advanced/Security.md
  docs/en/api/FS-API.md
  docs/en/api/POSIX-API.md
  docs/en/basic/Configuration-Settings.md
  docs/en/compute/Deep-Learning.md
  docs/en/compute/Hadoop-MapReduce.md
  docs/en/compute/Spark-On-Kubernetes.md
  docs/en/compute/Tensorflow.md
  docs/en/contributor/Contributor-Getting-Started.md
  docs/en/contributor/contributor-tools.md
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
  docs/en/operation/Server-Logging.md
  docs/en/ufs/Minio.md
  docs/en/ufs/NFS.md
  docs/en/ufs/Qiniu-KODO.md
  docs/en/ufs/Ufs-Extension-API.md
Labels: Doc Fix

#9302 [DOCFIX] Update Mesos doc
  docs/en/deploy/Running-Alluxio-On-Mesos.md
Labels: Doc Fix

#9322 [DOCFIX] Update MinIO doc for 2.0
  docs/en/ufs/Minio.md
Labels: Doc Fix

#9292 Add user documentation for path level configuration
  docs/en/basic/Configuration-Settings.md
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#9275 Update Performance-Tuning.md
  docs/en/advanced/Performance-Tuning.md
Labels: Doc Fix

#9263 [DOCFIX] Update metrics docs
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#9259 [DOCFIX] Update docs for GCS, change nested under storage path
  docs/en/ufs/GCS.md
Labels: Doc Fix

#9329 [DOCFIX] Fix relative path url
  docs/en/ufs/Qiniu-KODO.md
Labels: Doc Fix

#9280 Update Overview.md
  docs/en/Overview.md
Labels: Doc Fix

#9326 Update the test file name in GlusterFS doc
  docs/_includes/Common-Commands/start-alluxio.md
  docs/_includes/Configuring-Alluxio-with-GlusterFS/glusterfs-file.md
Labels: Doc Fix

#9327 Update S3 API doc
  docs/en/api/S3-API.md
Labels: Doc Fix

#9328 Update Presto doc
  docs/en/compute/Presto.md
Labels: Doc Fix

#9276 [DOCFIX] Update Tensorflow docs
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#9262 [DOCFIX] Add a property in the fuse property table
  docs/_data/table/Alluxio-FUSE-parameter.csv
  docs/_data/table/cn/Alluxio-FUSE-parameter.yml
  docs/_data/table/en/Alluxio-FUSE-parameter.yml
Labels: Doc Fix

#9314 [DOCFIX] Update hive docs
  docs/en/compute/Hive.md
Labels: Doc Fix

#9333 [DOCFIX] Update HBase docs
  docs/en/compute/HBase.md
Labels: Doc Fix

#9289 [DOCFIX] Update Documentation-Conventions
  docs/en/contributor/Documentation-Conventions.md
Labels: Doc Fix

#9301 Update Scalability-Tuning.md
  docs/en/advanced/Scalability-Tuning.md
Labels: Doc Fix

#9154 Enable building acl and active sync together
  underfs/hdfs/pom.xml
Labels: POM Change

#9338 [DOCFIX] Update Documentation-Conventions page
  docs/en/contributor/Documentation-Conventions.md
Labels: Doc Fix

#9340 [DOCFIX] Update security docs
  docs/en/advanced/Security.md
Labels: Doc Fix

#9298 [DOCFIX] Add doctor storage docs
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#9300 Add some instruction to find hdfs default port, the default port is n…
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#9347 Improve contributor tools docs
  docs/en/contributor/contributor-tools.md
Labels: Doc Fix

#9346 Edit configuration option names
  docs/en/advanced/Namespace-Management.md
Labels: Doc Fix

#9350 Clarify configuration requirements for k8s
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9361 Fix mapr repo
  pom.xml
Labels: POM Change

#9365 [DOCFIX] Update wording
  docs/en/compute/Hive.md
Labels: Doc Fix

#9362 Fix web interface doc
  docs/en/basic/Web-Interface.md
Labels: Doc Fix

#9368 Update pom.xml to use correct version
  integration/yarn/pom.xml
Labels: POM Change

#9370 Update poms and other locations to 2.1.0-SNAPSHOT
  assembly/client/pom.xml
  assembly/pom.xml
  assembly/server/pom.xml
  core/base/pom.xml
  core/client/fs/pom.xml
  core/client/hdfs/pom.xml
  core/client/pom.xml
  core/client/runtime/pom.xml
  core/common/pom.xml
  core/pom.xml
  core/server/common/pom.xml
  core/server/master/pom.xml
  core/server/pom.xml
  core/server/proxy/pom.xml
  core/server/worker/pom.xml
  core/transport/pom.xml
  docs/_config.yml
  examples/pom.xml
  integration/checker/pom.xml
  integration/docker/Dockerfile.fuse
  integration/fuse/pom.xml
  integration/kubernetes/alluxio-fuse.yaml.template
  integration/kubernetes/alluxio-master.yaml.template
  integration/kubernetes/alluxio-worker.yaml.template
  integration/mesos/pom.xml
  integration/pom.xml
  integration/yarn/pom.xml
  job/client/pom.xml
  job/common/pom.xml
  job/pom.xml
  job/server/pom.xml
  libexec/alluxio-config.sh
  logserver/pom.xml
  minicluster/pom.xml
  pom.xml
  shaded/hadoop/pom.xml
  shaded/pom.xml
  shell/pom.xml
  tests/pom.xml
  underfs/cos/pom.xml
  underfs/gcs/pom.xml
  underfs/hdfs/pom.xml
  underfs/kodo/pom.xml
  underfs/local/pom.xml
  underfs/oss/pom.xml
  underfs/pom.xml
  underfs/s3a/pom.xml
  underfs/swift/pom.xml
  underfs/wasb/pom.xml
  underfs/web/pom.xml
  webui/pom.xml
Labels: POM Change

#9377 Fix wording on server-logging doc
  docs/en/operation/Server-Logging.md
Labels: Doc Fix

#9379 Fix spacing
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/ufs/S3.md
Labels: Doc Fix

#9381 Fix spacing
  docs/en/ufs/S3.md
Labels: Doc Fix

#9382 [DOCFIX] Update metastore management page
  docs/en/operation/Metastore.md
Labels: Doc Fix

#9372 [DOCFIX] Fix Journal management docs
  docs/en/operation/Journal.md
Labels: Doc Fix

#9386 Fix performance tuning doc
  docs/en/advanced/Performance-Tuning.md
Labels: Doc Fix

#9388 [DOCFIX] Fix EMR docs
  docs/en/compute/AWS-EMR.md
Labels: Doc Fix
