Repository Alluxio/alluxio, pull requests merged in 2019-09, with the labels that each got.

#9825 Update pom dependencies
  experimental/table/server/master/src/main/java/alluxio/master/catalog/DefaultCatalogMaster.java
  experimental/table/server/under/hive/pom.xml
Labels: POM Change

#9830 [DOCFIX] Fix S3 URI for bootstrap script
  docs/en/compute/AWS-EMR.md
Labels: Doc Fix

#9829 Remove hive metastore dependency on table client
  core/transport/src/grpc/catalog_master.proto
  core/transport/src/main/java/alluxio/grpc/CatalogMasterProto.java
  core/transport/src/main/java/alluxio/grpc/ColumnStatisticsData.java
  core/transport/src/main/java/alluxio/grpc/ColumnStatisticsDataOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/ColumnStatisticsInfo.java
  core/transport/src/main/java/alluxio/grpc/ColumnStatisticsInfoOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/PartitionInfo.java
  core/transport/src/main/java/alluxio/grpc/PartitionInfoOrBuilder.java
  experimental/table/client/pom.xml
  experimental/table/client/src/main/java/alluxio/client/catalog/CatalogMasterClient.java
  experimental/table/client/src/main/java/alluxio/client/catalog/RetryHandlingCatalogMasterClient.java
Labels: POM Change

#9836 Update Running-Alluxio-Locally.md
  docs/en/deploy/Running-Alluxio-Locally.md
Labels: Doc Fix

#9854 Remove useless dependencies
  core/server/common/pom.xml
  core/server/master/pom.xml
  core/server/proxy/pom.xml
  core/server/worker/pom.xml
  job/server/pom.xml
  pom.xml
Labels: POM Change

#9870 Remove left-over exclude directive for shim-fs
  core/client/hdfs/pom.xml
Labels: POM Change

#9897 Update default HDFS client version to 2.7
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/common.go
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  docs/cn/ufs/HDFS.md
  docs/cn/ufs/secure-HDFS.md
  docs/en/ufs/HDFS.md
  pom.xml
  shaded/hadoop/pom.xml
  underfs/hdfs/pom.xml
Labels: POM Change

#9909 Bump copycat dependency version
  pom.xml
Labels: POM Change

#9904 Add documentation for Google Dataproc
  docs/en/compute/Google-Dataproc.md
Labels: Doc Fix

#9919 Add catalog command shell and AttachCommand
  assembly/client/pom.xml
  bin/alluxio
  experimental/table/pom.xml
  experimental/table/shell/pom.xml
  experimental/table/shell/src/main/java/alluxio/cli/catalog/CatalogShell.java
  experimental/table/shell/src/main/java/alluxio/cli/catalog/command/AbstractCatalogCommand.java
  experimental/table/shell/src/main/java/alluxio/cli/catalog/command/AttachDatabaseCommand.java
Labels: POM Change

#9954 Improve k8s docs
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9934 Fix tracking of finished jobs within JobMaster
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  job/common/src/main/java/alluxio/job/meta/JobInfo.java
  job/common/src/test/java/alluxio/job/meta/JobInfoTest.java
  job/server/src/main/java/alluxio/master/job/JobCoordinator.java
  job/server/src/main/java/alluxio/master/job/JobMaster.java
  job/server/src/main/java/alluxio/master/job/JobTracker.java
  job/server/src/test/java/alluxio/master/job/JobMasterTest.java
  job/server/src/test/java/alluxio/master/job/JobTrackerTest.java
  tests/src/test/java/alluxio/client/fs/FileOutStreamAsyncWriteIntegrationTest.java
  tests/src/test/java/alluxio/job/replicate/ReplicateIntegrationTest.java
Labels: area-core, target-2.1.0

#9951 Add explicit dependency on netty-native
  experimental/table/client/pom.xml
  pom.xml
Labels: POM Change

#9936 Add git revision to ./bin/alluxio version
  core/common/pom.xml
  core/common/src/main/java-templates/alluxio/ProjectConstants.java
  pom.xml
  shell/src/main/java/alluxio/cli/Version.java
Labels: POM Change

#9956 [DOCFIX] Update Chinese Overview.md and fix typo in English Overview.md
  docs/cn/Overview.md
  docs/en/Overview.md
Labels: Doc Fix
