Repository Alluxio/alluxio, pull requests merged in 2019-11, with the labels that each got.

#10358 [DOCFIX] Improve Docker documentation
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#10391 Update poms for release
  shaded/client/pom.xml
  webui/pom.xml
Labels: POM Change

#10392 Update versions to 2.1.1-SNAPSHOT
  docs/_config.yml
  integration/kubernetes/alluxio-fuse.yaml.template
  integration/kubernetes/helm-chart/alluxio/Chart.yaml
  integration/kubernetes/helm-chart/alluxio/values.yaml
  integration/kubernetes/multiMaster-embeddedJournal/job/alluxio-format-journal-job.yaml.template
  integration/kubernetes/multiMaster-embeddedJournal/master/alluxio-master-statefulset.yaml.template
  integration/kubernetes/multiMaster-embeddedJournal/worker/alluxio-worker-daemonset.yaml.template
  integration/kubernetes/singleMaster-hdfsJournal/job/alluxio-format-journal-job.yaml.template
  integration/kubernetes/singleMaster-hdfsJournal/master/alluxio-master-statefulset.yaml.template
  integration/kubernetes/singleMaster-hdfsJournal/worker/alluxio-worker-daemonset.yaml.template
  integration/kubernetes/singleMaster-localJournal/job/alluxio-format-journal-job.yaml.template
  integration/kubernetes/singleMaster-localJournal/master/alluxio-master-statefulset.yaml.template
  integration/kubernetes/singleMaster-localJournal/worker/alluxio-worker-daemonset.yaml.template
  integration/yarn/pom.xml
  libexec/alluxio-config.sh
  tests/pom.xml
  webui/pom.xml
Labels: POM Change

#10397 Fix race condition building extension properties
  core/common/src/main/java/alluxio/conf/AlluxioProperties.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change, area-core

#10351 Include sources for shaded client artifact
  shaded/client/pom.xml
Labels: POM Change

#10347 [DOCFIX] Improve presto documentation
  docs/en/compute/Presto.md
Labels: Doc Fix

#10405 Update Helm version in doc
  docs/_config.yml
Labels: Doc Fix

#10427 [DOCFIX] Improve the catalog docs
  docs/en/structured-data/catalog-service.md
Labels: Doc Fix

#10433 Enable jacoco code coverage plugin
  pom.xml
Labels: POM Change

#10436 Increase block heartbeat interval from worker from 1s to 10s
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change, area-core, target-1.8.3, target-2.0.2, target-2.1.1

#10442 Add alluxio shaded client jar
  pom.xml
  shaded/client/pom.xml
  shaded/pom.xml
Labels: POM Change

#10446 Replace runtime client module with shaded client
  core/client/pom.xml
  core/client/runtime/pom.xml
  shaded/client/pom.xml
Labels: POM Change

#10449 Include sources for shaded client artifact
  shaded/client/pom.xml
Labels: POM Change

#10454 Fix Alluxio Tarball in Dockerfile to latest version
  integration/docker/Dockerfile
Labels: target-2.1.0

#10452 Remove legacy Worker-based persist functionality
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
  core/server/worker/src/main/java/alluxio/worker/file/DefaultFileSystemWorker.java
  core/server/worker/src/main/java/alluxio/worker/file/FileDataManager.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemWorker.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemWorkerFactory.java
  core/server/worker/src/main/java/alluxio/worker/file/FileWorkerMasterSyncExecutor.java
  core/server/worker/src/main/java/alluxio/worker/file/UnderFileSystemUtils.java
  core/server/worker/src/main/resources/META-INF/services/alluxio.worker.WorkerFactory
  core/server/worker/src/test/java/alluxio/worker/file/FileDataManagerTest.java
  core/server/worker/src/test/java/alluxio/worker/file/FileWorkerMasterSyncExecutorTest.java
  core/server/worker/src/test/java/alluxio/worker/file/UnderFileSystemUtilsTest.java
Labels: API Change

#10407 Replace FindBugs with SpotBugs maven plugin
  build/findbugs/findbugs-exclude.xml
  core/base/src/main/java/alluxio/security/authorization/AccessControlList.java
  core/base/src/main/java/alluxio/security/authorization/DefaultAccessControlList.java
  core/base/src/main/java/alluxio/uri/MultiPartSchemeURI.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockOutStream.java
  core/common/src/main/java/alluxio/collections/TwoKeyConcurrentMap.java
  core/common/src/main/java/alluxio/conf/InstancedConfiguration.java
  core/common/src/main/java/alluxio/conf/Source.java
  core/common/src/main/java/alluxio/security/authentication/SaslStreamClientDriver.java
  core/common/src/main/java/alluxio/security/login/AlluxioLoginModule.java
  core/common/src/main/java/alluxio/security/user/BaseUserState.java
  core/common/src/main/java/alluxio/util/IdUtils.java
  core/common/src/main/java/alluxio/util/executor/ControllableScheduler.java
  core/common/src/main/java/alluxio/util/io/FileUtils.java
  core/common/src/main/java/alluxio/wire/WorkerInfo.java
  core/common/src/test/java/alluxio/AlluxioURITest.java
  core/common/src/test/java/alluxio/conf/SourceTest.java
  core/common/src/test/java/alluxio/security/authorization/AccessControlListTest.java
  core/server/common/src/main/java/alluxio/cli/ValidateEnv.java
  core/server/common/src/main/java/alluxio/master/journal/AsyncJournalWriter.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalFile.java
  core/server/common/src/main/java/alluxio/underfs/AbstractUfsManager.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTreePersistentState.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMasterClientServiceHandler.java
  core/transport/pom.xml
  job/common/src/main/java/alluxio/job/util/SerializationUtils.java
  job/server/src/main/java/alluxio/job/plan/transform/compact/HeapCompactor.java
  pom.xml
  tests/src/main/java/alluxio/master/backcompat/Version.java
  underfs/web/src/main/java/alluxio/underfs/web/WebUnderFileSystem.java
Labels: API Change, POM Change

#10478 Propagate UserState to PollingMasterInquireClient
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/test/java/alluxio/client/block/BlockMasterClientPoolTest.java
  core/client/fs/src/test/java/alluxio/client/file/FileSystemMasterClientPoolTest.java
  core/client/fs/src/test/java/alluxio/client/metrics/MetricsHeartbeatContextTest.java
  core/common/src/main/java/alluxio/master/MasterClientContextBuilder.java
  core/common/src/main/java/alluxio/master/MasterInquireClient.java
  core/common/src/main/java/alluxio/master/PollingMasterInquireClient.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorker.java
  job/client/src/main/java/alluxio/client/job/JobContext.java
  job/client/src/main/java/alluxio/worker/job/JobMasterClientContextBuilder.java
  job/client/src/test/java/alluxio/client/job/JobContextTest.java
  job/server/src/main/java/alluxio/worker/AlluxioJobWorker.java
  minicluster/src/main/java/alluxio/multi/process/MultiProcessCluster.java
  shell/src/main/java/alluxio/cli/fs/command/MasterInfoCommand.java
  shell/src/main/java/alluxio/cli/job/command/LeaderCommand.java
  shell/src/main/java/alluxio/cli/job/command/ListCommand.java
  shell/src/main/java/alluxio/cli/job/command/StatCommand.java
  shell/src/main/java/alluxio/master/MasterHealthCheckClient.java
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
Labels: API Change

#10491 Cleanup file after a failed cp command
  shell/src/main/java/alluxio/cli/fs/command/CpCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/CpCommandIntegrationTest.java
Labels: API Change

#10492 Update alluxio version in docs
  docs/_config.yml
Labels: Doc Fix

#10486 Report CPU Load Average of JobWorkers
  core/transport/src/grpc/job_master.proto
  core/transport/src/main/java/alluxio/grpc/GetAllWorkerHealthPOptions.java
  core/transport/src/main/java/alluxio/grpc/GetAllWorkerHealthPOptionsOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/GetAllWorkerHealthPRequest.java
  core/transport/src/main/java/alluxio/grpc/GetAllWorkerHealthPRequestOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/GetAllWorkerHealthPResponse.java
  core/transport/src/main/java/alluxio/grpc/GetAllWorkerHealthPResponseOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/JobHeartbeatPRequest.java
  core/transport/src/main/java/alluxio/grpc/JobHeartbeatPRequestOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/JobInfo.java
  core/transport/src/main/java/alluxio/grpc/JobMasterClientServiceGrpc.java
  core/transport/src/main/java/alluxio/grpc/JobMasterProto.java
  core/transport/src/main/java/alluxio/grpc/JobWorkerHealth.java
  core/transport/src/main/java/alluxio/grpc/JobWorkerHealthOrBuilder.java
  job/client/src/main/java/alluxio/client/job/JobMasterClient.java
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/common/src/main/java/alluxio/job/wire/JobWorkerHealth.java
  job/server/pom.xml
  job/server/src/main/java/alluxio/master/job/JobMaster.java
  job/server/src/main/java/alluxio/master/job/JobMasterClientServiceHandler.java
  job/server/src/main/java/alluxio/master/job/JobMasterWorkerServiceHandler.java
  job/server/src/main/java/alluxio/worker/job/JobMasterClient.java
  job/server/src/main/java/alluxio/worker/job/RetryHandlingJobMasterClient.java
  job/server/src/main/java/alluxio/worker/job/command/CommandHandlingExecutor.java
  job/server/src/main/java/alluxio/worker/job/command/JobWorkerHealthReporter.java
  job/server/src/test/java/alluxio/job/command/CommandHandlingExecutorTest.java
  pom.xml
  shell/src/main/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommand.java
  shell/src/test/java/alluxio/cli/fsadmin/report/JobServiceMetricsCommandTest.java
  tests/src/test/java/alluxio/job/master/JobMasterIntegrationTest.java
Labels: POM Change

#10503 Update Shaded Hadoop POM
  shaded/hadoop/pom.xml
Labels: POM Change

#10483 Support session level connection management for leader election
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/PrimarySelectorClient.java
  minicluster/src/main/java/alluxio/multi/process/PortCoordination.java
  tests/src/test/java/alluxio/server/ft/ZookeeperFailureIntegrationTest.java
Labels: API Change

#10485 Process worker metrics asynchronously
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/metrics/DefaultMetricsMaster.java
  core/server/master/src/test/java/alluxio/master/metrics/MetricsMasterTest.java
Labels: API Change

#10484 Remove extraneous client RPC to get block info from master
  core/client/fs/src/main/java/alluxio/client/block/AlluxioBlockStore.java
  core/client/fs/src/main/java/alluxio/client/file/FileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/FileInStreamTest.java
  core/common/src/main/java/alluxio/client/file/URIStatus.java
  core/common/src/main/java/alluxio/wire/FileInfo.java
Labels: API Change

#10516 [DOCFIX] Remove broken link in Qiniu KODO
  docs/cn/ufs/KODO.md
  docs/en/ufs/Qiniu-KODO.md
Labels: Doc Fix

#10450 [DOCFIX] Improve HBase doc
  docs/en/compute/HBase.md
Labels: Doc Fix

#10531 Use Jacoco offline instrumentation to track PowerMock tests
  pom.xml
Labels: POM Change
