Repository Alluxio/alluxio, pull requests merged in 2019-12, with the labels that each got.

#10551 Update EMR docs
  docs/en/cloud/AWS-EMR.md
  docs/img/emr_ami_accept_terms.png
  docs/img/emr_ami_subscribe.png
  docs/img/emr_ami_subscribe_done.png
  docs/img/emr_console_public_dns.png
  docs/img/emr_console_waiting.png
Labels: Doc Fix

#10527 Add CFT docs
  docs/en/cloud/AWS-CFT.md
  docs/img/cft_cluster_created.png
  docs/img/cft_cluster_in_progress.png
  docs/img/cft_configure_alluxio_backup.png
  docs/img/cft_configure_alluxio_journal.png
  docs/img/cft_configure_alluxio_num_nodes.png
  docs/img/cft_configure_alluxio_props.png
  docs/img/cft_configure_alluxio_worker.png
  docs/img/cft_configure_iam_profile.png
  docs/img/cft_configure_instance_type.png
  docs/img/cft_configure_s3_bucket.png
  docs/img/cft_configure_worker_spot_price.png
  docs/img/cft_create_stack.png
  docs/img/cft_create_stack_url.png
  docs/img/cft_ec2_keypair.png
  docs/img/cft_ec2_region.png
  docs/img/cft_ha_ec2console.png
  docs/img/cft_ha_ec2console_private.png
  docs/img/cft_ha_fsadmin.png
  docs/img/cft_iam_capabilities.png
  docs/img/cft_output_alluxio_web_ui.png
  docs/img/cft_output_single_master.png
  docs/img/cft_output_ssh.png
  docs/img/cft_stack_options.png
Labels: Doc Fix

#10555 Include integration test results in code coverage
  dev/jenkins/build.sh
  pom.xml
  tests/pom.xml
Labels: POM Change

#10562 Update dataproc docs
  docs/en/cloud/Google-Dataproc.md
Labels: Doc Fix

#10513 Add CachingFileSystem
  core/base/src/main/java/alluxio/exception/ExceptionMessage.java
  core/base/src/main/java/alluxio/exception/FileIncompleteException.java
  core/base/src/main/java/alluxio/exception/OpenDirectoryException.java
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/CachingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/MetadataCache.java
  core/client/fs/src/test/java/alluxio/client/file/BaseFileSystemTest.java
  core/client/fs/src/test/java/alluxio/client/file/CachingFileSystemTest.java
  core/client/fs/src/test/java/alluxio/client/file/MetadataCacheTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseFileSystem.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioFuseFileSystemTest.java
Labels: API Change

#10556 [DOCFIX] Modify metric system docs
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#10570 Remove CFT docs
  docs/en/cloud/AWS-CFT.md
  docs/img/cft_cluster_created.png
  docs/img/cft_cluster_in_progress.png
  docs/img/cft_configure_alluxio_backup.png
  docs/img/cft_configure_alluxio_journal.png
  docs/img/cft_configure_alluxio_num_nodes.png
  docs/img/cft_configure_alluxio_props.png
  docs/img/cft_configure_alluxio_worker.png
  docs/img/cft_configure_iam_profile.png
  docs/img/cft_configure_instance_type.png
  docs/img/cft_configure_s3_bucket.png
  docs/img/cft_configure_worker_spot_price.png
  docs/img/cft_create_stack.png
  docs/img/cft_create_stack_url.png
  docs/img/cft_ec2_keypair.png
  docs/img/cft_ec2_region.png
  docs/img/cft_ha_ec2console.png
  docs/img/cft_ha_ec2console_private.png
  docs/img/cft_ha_fsadmin.png
  docs/img/cft_iam_capabilities.png
  docs/img/cft_output_alluxio_web_ui.png
  docs/img/cft_output_single_master.png
  docs/img/cft_output_ssh.png
  docs/img/cft_stack_options.png
Labels: Doc Fix

#10587 Update backup docs
  docs/en/operation/Journal.md
Labels: Doc Fix

#10567 Remove unused io.grpc:grpc-netty dependency from alluxio-core-transport
  core/transport/pom.xml
Labels: POM Change

#10572 Update Zookeeper docs
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
Labels: Doc Fix

#10590 Update dependencies and client api for hive udb
  table/pom.xml
  table/server/underdb/hive/pom.xml
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
Labels: POM Change

#10588 Change default worker heartbeat back to 1s
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  tests/src/test/java/alluxio/client/fs/FileOutStreamIntegrationTest.java
Labels: API Change, target-1.8.3, target-2.1.1

#10563 Use download URL for EMR doc
  docs/en/cloud/AWS-EMR.md
Labels: Doc Fix

#10583 Add accordion plugin files
  docs/_plugins/accordion.rb
  docs/_plugins/collapsible.rb
  docs/en/cloud/AWS-EMR.md
Labels: Doc Fix

#10594 [DOCFIX] Remove duplicate paragraphs
  docs/cn/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#10604 Rename urls to minimize changes to urls
  docs/en/Overview.md
  docs/en/api/FS-API.md
  docs/en/compute/HBase.md
  docs/en/compute/Presto.md
  docs/en/compute/Spark.md
  docs/en/contributor/Contributor-Getting-Started.md
  docs/en/core-services/Caching.md
  docs/en/core-services/Catalog.md
  docs/en/deploy/Requirements.md
  docs/en/deploy/Running-Alluxio-Locally.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
  docs/en/index.html
  docs/en/operation/2.x-Upgrade.md
  docs/en/operation/Admin-CLI.md
  docs/en/operation/Client-Logging.md
  docs/en/operation/Configuration.md
  docs/en/operation/Journal.md
  docs/en/operation/Metastore.md
  docs/en/operation/Metrics-System.md
  docs/en/operation/Performance-Tuning.md
  docs/en/operation/Scalability-Tuning.md
  docs/en/operation/Security.md
  docs/en/operation/Server-Logging.md
  docs/en/operation/Tiered-Locality.md
  docs/en/operation/Troubleshooting.md
  docs/en/operation/User-CLI.md
  docs/en/operation/Web-Interface.md
  docs/en/overview/FAQ.md
  docs/en/overview/Getting-Started.md
  docs/en/reference/Properties-List.md
  docs/en/storage/Azure-Blob-Store.md
  docs/en/storage/Ceph.md
  docs/en/storage/GCS.md
  docs/en/storage/HDFS.md
  docs/en/storage/OBS.md
  docs/en/storage/OSS.md
  docs/en/storage/Qiniu-KODO.md
  docs/en/storage/S3.md
  docs/en/storage/Swift.md
  docs/en/storage/WEB.md
Labels: Doc Fix

#10589 Optimize DistributedLoadCommand
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#10609 Rename POSIX-API, move Configuration, User-CLI and Web-Interface
  docs/_config.yml
  docs/_data/table/cn/Developer-Tips.yml
  docs/_data/table/en/developer-tips.yml
  docs/cn/Getting-Started.md
  docs/cn/advanced/Alluxio-Storage-Management.md
  docs/cn/advanced/Security.md
  docs/cn/advanced/Tiered-Locality.md
  docs/cn/advanced/Time-To-Live.md
  docs/cn/api/Clients-Java.md
  docs/cn/api/FS-API.md
  docs/cn/api/POSIX-API.md
  docs/cn/compute/Presto.md
  docs/cn/compute/Spark.md
  docs/cn/contributor/Contributor-Getting-Started.md
  docs/cn/deploy/Running-Alluxio-Yarn-Integration.md
  docs/cn/deploy/Running-Alluxio-on-Mesos.md
  docs/cn/operation/Configuration.md
  docs/cn/operation/Troubleshooting.md
  docs/cn/operation/User-CLI.md
  docs/cn/operation/Web-Interface.md
  docs/cn/ufs/Azure-Blob-Store.md
  docs/cn/ufs/COS.md
  docs/cn/ufs/KODO.md
  docs/cn/ufs/OBS.md
  docs/cn/ufs/OSS.md
  docs/cn/ufs/S3.md
  docs/cn/ufs/WEB.md
Labels: Doc Fix

#10614 Port changes of [#10589] to branch-2.1
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#10613 Handle too many attempts properly in DistributedLoadCommand
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#10615 Use 2.2 hive client for greater compatibility
  table/server/underdb/hive/pom.xml
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
Labels: POM Change

#10629 Change the links in Chinese docs
  docs/cn/Overview.md
  docs/cn/api/Clients-Go.md
  docs/cn/api/Clients-Hadoop.md
  docs/cn/api/Clients-Java.md
  docs/cn/api/Clients-Python.md
  docs/cn/api/Clients-Rest.md
  docs/cn/api/FS-API.md
  docs/cn/api/POSIX-API.md
  docs/cn/api/S3-API.md
  docs/cn/compute/Deep-Learning.md
  docs/cn/compute/Flink.md
  docs/cn/compute/HBase.md
  docs/cn/compute/Hadoop-MapReduce.md
  docs/cn/compute/Hive.md
  docs/cn/contributor/Building-Alluxio-From-Source.md
  docs/cn/contributor/Code-Conventions.md
  docs/cn/contributor/Contributor-Getting-Started.md
  docs/cn/deploy/Running-Alluxio-Locally.md
  docs/cn/deploy/Running-Alluxio-On-Kubernetes.md
  docs/cn/deploy/Running-Alluxio-Yarn-Integration.md
  docs/cn/deploy/Running-Alluxio-on-a-Cluster.md
  docs/cn/operation/Configuration.md
  docs/cn/operation/Journal.md
  docs/cn/operation/Server-Logging.md
  docs/cn/operation/Troubleshooting.md
  docs/cn/overview/FAQ.md
  docs/en/overview/FAQ.md
Labels: Doc Fix

#10630 Change Chinese doc group and priority
  docs/cn/Overview.md
  docs/cn/api/Clients-Go.md
  docs/cn/api/Clients-Hadoop.md
  docs/cn/api/Clients-Python.md
  docs/cn/api/Clients-Rest.md
  docs/cn/api/FS-API.md
  docs/cn/api/POSIX-API.md
  docs/cn/api/S3-API.md
  docs/cn/compute/Deep-Learning.md
  docs/cn/compute/Flink.md
  docs/cn/compute/HBase.md
  docs/cn/compute/Hadoop-MapReduce.md
  docs/cn/compute/Hive.md
  docs/cn/compute/Presto.md
  docs/cn/compute/Spark.md
  docs/cn/compute/Zeppelin.md
  docs/cn/contributor/Building-Alluxio-From-Source.md
  docs/cn/contributor/Contributor-Getting-Started.md
  docs/cn/core-services/Caching.md
  docs/cn/core-services/Unified-Namespace.md
  docs/cn/deploy/Running-Alluxio-Fault-Tolerant-on-EC2.md
  docs/cn/deploy/Running-Alluxio-Locally.md
  docs/cn/deploy/Running-Alluxio-On-Docker.md
  docs/cn/deploy/Running-Alluxio-On-Kubernetes.md
  docs/cn/deploy/Running-Alluxio-Yarn-Integration.md
  docs/cn/deploy/Running-Alluxio-Yarn-Standalone.md
  docs/cn/deploy/Running-Alluxio-on-EC2.md
  docs/cn/deploy/Running-Alluxio-on-GCE.md
  docs/cn/deploy/Running-Alluxio-on-Mesos.md
  docs/cn/deploy/Running-Alluxio-on-Virtual-Box.md
  docs/cn/deploy/Running-Alluxio-on-a-Cluster.md
  docs/cn/operation/Admin-CLI.md
  docs/cn/operation/Configuration.md
  docs/cn/operation/Journal.md
  docs/cn/operation/Metrics-System.md
  docs/cn/operation/Security.md
  docs/cn/operation/Server-Logging.md
  docs/cn/operation/Tiered-Locality.md
  docs/cn/operation/Troubleshooting.md
  docs/cn/operation/User-CLI.md
  docs/cn/operation/Web-Interface.md
  docs/cn/overview/FAQ.md
  docs/cn/overview/Getting-Started.md
  docs/cn/ufs/Azure-Blob-Store.md
  docs/cn/ufs/COS.md
  docs/cn/ufs/Ceph.md
  docs/cn/ufs/GCS.md
  docs/cn/ufs/GlusterFS.md
  docs/cn/ufs/Minio.md
  docs/cn/ufs/OSS.md
  docs/cn/ufs/Qiniu-KODO.md
  docs/cn/ufs/Swift.md
  docs/cn/ufs/WEB.md
Labels: Doc Fix

#10633 Rename en docs from storage/ back to ufs/
  docs/en/core-services/Unified-Namespace.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
  docs/en/operation/Troubleshooting.md
  docs/en/operation/User-CLI.md
  docs/en/overview/FAQ.md
  docs/en/overview/Getting-Started.md
  docs/en/ufs/Azure-Blob-Store.md
  docs/en/ufs/Ceph.md
  docs/en/ufs/GCS.md
  docs/en/ufs/GlusterFS.md
  docs/en/ufs/HDFS.md
  docs/en/ufs/Minio.md
  docs/en/ufs/NFS.md
  docs/en/ufs/OBS.md
  docs/en/ufs/OSS.md
  docs/en/ufs/Qiniu-KODO.md
  docs/en/ufs/S3.md
  docs/en/ufs/Swift.md
  docs/en/ufs/Ufs-Extension-API.md
  docs/en/ufs/Ufs-Extensions.md
  docs/en/ufs/WEB.md
Labels: Doc Fix

#10538 Enable short circuit even domain socket is configured
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/block/stream/DataWriter.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10642 [DOCFIX] Add details to the table docs
  docs/en/basic/Command-Line-Interface.md
  docs/en/structured-data/transformation-service.md
Labels: Doc Fix

#10639 Improve Job Ls
  core/transport/src/grpc/job_master.proto
  core/transport/src/main/java/alluxio/grpc/JobMasterProto.java
  core/transport/src/main/java/alluxio/grpc/ListAllPResponse.java
  core/transport/src/main/java/alluxio/grpc/ListAllPResponseOrBuilder.java
  job/client/src/main/java/alluxio/client/job/JobMasterClient.java
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/common/src/main/java/alluxio/job/wire/PlanInfo.java
  job/common/src/main/java/alluxio/job/wire/WorkflowInfo.java
  job/server/src/main/java/alluxio/job/workflow/WorkflowExecution.java
  job/server/src/main/java/alluxio/job/workflow/composite/CompositeExecution.java
  job/server/src/main/java/alluxio/master/job/JobMaster.java
  job/server/src/main/java/alluxio/master/job/JobMasterClientServiceHandler.java
  job/server/src/main/java/alluxio/master/job/plan/PlanCoordinator.java
  job/server/src/main/java/alluxio/master/job/workflow/WorkflowTracker.java
  job/server/src/test/java/alluxio/master/job/plan/PlanCoordinatorTest.java
  job/server/src/test/java/alluxio/master/job/workflow/WorkflowTrackerTest.java
  shell/src/main/java/alluxio/cli/job/command/ListCommand.java
  tests/src/test/java/alluxio/client/cli/job/ListCommandTest.java
Labels: API Change

#10625 Shutdown JobWorker on high load of CPU
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  job/server/src/main/java/alluxio/worker/job/command/AlwaysHealthyJobWorkerHealthReporter.java
  job/server/src/main/java/alluxio/worker/job/command/CommandHandlingExecutor.java
  job/server/src/main/java/alluxio/worker/job/command/JobWorkerHealthReporter.java
  job/server/src/main/java/alluxio/worker/job/task/TaskExecutor.java
  job/server/src/main/java/alluxio/worker/job/task/TaskExecutorManager.java
  minicluster/src/main/java/alluxio/master/LocalAlluxioCluster.java
  minicluster/src/main/java/alluxio/master/MultiMasterLocalAlluxioCluster.java
  tests/src/test/java/alluxio/job/master/JobMasterIntegrationTest.java
Labels: API Change

#10660 Fix typo in ufs/s3 doc
  docs/en/ufs/S3.md
Labels: Doc Fix

#10663 Turn off JobWorker throttling by default
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10673 Add a note on compatibility of AWS EMR command
  docs/en/cloud/AWS-EMR.md
Labels: Doc Fix
