Repository Alluxio/alluxio, pull requests merged in 2020-05, with the labels that each got.

#11380 Use tabs and collapsible sections in K8s docs
  docs/_config.yml
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11381 Improve navtabs and add accordion styling
  docs/_plugins/nav-tabs.rb
  docs/css/main.css
Labels: Doc Fix

#11383 Make reserved space on directories only when required
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMetadataManager.java
  core/server/worker/src/main/java/alluxio/worker/block/meta/StorageDir.java
  core/server/worker/src/main/java/alluxio/worker/block/meta/StorageTier.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockMetadataManagerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockStoreMetaTest.java
  core/server/worker/src/test/java/alluxio/worker/block/TieredBlockStoreTest.java
  core/server/worker/src/test/java/alluxio/worker/block/allocator/AllocatorTestBase.java
  core/server/worker/src/test/java/alluxio/worker/block/annotator/EmulatingBlockIteratorTest.java
  core/server/worker/src/test/java/alluxio/worker/block/management/tier/AlignTaskTest.java
  core/server/worker/src/test/java/alluxio/worker/block/management/tier/PromoteTaskTest.java
  core/server/worker/src/test/java/alluxio/worker/block/management/tier/SwapRestoreTaskTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/AbstractBlockMetaTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/BlockMetaTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/StorageDirTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/StorageTierTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/TempBlockMetaTest.java
  tests/src/test/java/alluxio/client/cli/fs/AbstractShellIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/PinCommandMultipleMediaIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/AbstractFileOutStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileSystemMasterIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/LocalFirstPolicyIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/UfsSyncIntegrationTest.java
  tests/src/test/java/alluxio/client/rest/AlluxioMasterRestApiTest.java
  tests/src/test/java/alluxio/client/rest/AlluxioWorkerRestApiTest.java
  tests/src/test/java/alluxio/job/JobIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/FlakyUfsIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MultiWorkerIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/SpecificTierWriteIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/TierPromoteIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/TieredStoreIntegrationTest.java
Labels: API Change

#11398 [DOCFIX] Update minor formatting S3 doc
  docs/en/ufs/S3.md
Labels: Doc Fix

#11377 Implement Job Service based master stress tools
  assembly/client/pom.xml
  job/client/src/main/java/alluxio/client/job/JobGrpcClientUtils.java
  job/server/pom.xml
  job/server/src/main/java/alluxio/job/plan/stress/StressBenchDefinition.java
  job/server/src/main/resources/META-INF/services/alluxio.job.plan.PlanDefinition
  pom.xml
  stress/common/pom.xml
  stress/common/src/main/java/alluxio/stress/BaseParameters.java
  stress/common/src/main/java/alluxio/stress/GraphGenerator.java
  stress/common/src/main/java/alluxio/stress/JsonSerializable.java
  stress/common/src/main/java/alluxio/stress/Parameters.java
  stress/common/src/main/java/alluxio/stress/Summary.java
  stress/common/src/main/java/alluxio/stress/TaskResult.java
  stress/common/src/main/java/alluxio/stress/graph/BarGraph.java
  stress/common/src/main/java/alluxio/stress/graph/Graph.java
  stress/common/src/main/java/alluxio/stress/graph/LineGraph.java
  stress/common/src/main/java/alluxio/stress/job/StressBenchConfig.java
  stress/common/src/main/java/alluxio/stress/master/MasterBenchParameters.java
  stress/common/src/main/java/alluxio/stress/master/MasterBenchSummary.java
  stress/common/src/main/java/alluxio/stress/master/MasterBenchTaskResult.java
  stress/common/src/main/java/alluxio/stress/master/MaxThroughputSummary.java
  stress/common/src/main/java/alluxio/stress/master/Operation.java
  stress/pom.xml
  stress/shell/pom.xml
  stress/shell/src/main/java/alluxio/stress/cli/Benchmark.java
  stress/shell/src/main/java/alluxio/stress/cli/StressMasterBench.java
  stress/shell/src/main/java/alluxio/stress/cli/report/GenerateReport.java
  stress/shell/src/main/java/alluxio/stress/cli/suite/MaxThroughput.java
  stress/shell/src/main/java/alluxio/stress/cli/suite/Suite.java
Labels: POM Change

#11204 Improve metadata sync operations
  core/client/fs/src/test/java/alluxio/client/metrics/MetricsHeartbeatContextTest.java
  core/common/src/main/java/alluxio/collections/LockPool.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcUtils.java
  core/common/src/main/java/alluxio/resource/LockResource.java
  core/common/src/main/java/alluxio/resource/RefCountLockResource.java
  core/common/src/main/java/alluxio/util/LogUtils.java
  core/common/src/test/java/alluxio/collections/LockPoolTest.java
  core/common/src/test/java/alluxio/resource/LockResourceTest.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  core/server/master/src/main/java/alluxio/master/file/activesync/ActiveSyncManager.java
  core/server/master/src/main/java/alluxio/master/file/meta/CompositeInodeLockList.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeLockManager.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/LockedInodePath.java
  core/server/master/src/main/java/alluxio/master/file/meta/LockingScheme.java
  core/server/master/src/main/java/alluxio/master/file/meta/SimpleInodeLockList.java
  core/server/master/src/main/java/alluxio/underfs/UfsStatusCache.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/CompositeInodeLockListTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/InodeLockManagerTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/LockedInodePathTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/SimpleInodeLockListTest.java
  core/server/master/src/test/java/alluxio/master/metastore/InodeStoreTest.java
  core/server/master/src/test/java/alluxio/underfs/UfsStatusCacheTest.java
  tests/src/test/java/alluxio/client/fs/ConcurrentFileSystemMasterSetTtlTest.java
  tests/src/test/java/alluxio/client/fs/LoadMetadataIntegrationTest.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
Labels: API Change

#11419 Do minor refactoring for tier-management
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/block/management/BlockTransferExecutor.java
  core/server/worker/src/main/java/alluxio/worker/block/management/ManagementTaskCoordinator.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/AlignTask.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/PromoteTask.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/TierManagementTaskProvider.java
  tests/src/test/java/alluxio/server/ft/MultiWorkerIntegrationTest.java
Labels: API Change

#11426 Fix default metadata sync executor sizes
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
Labels: API Change

#11399 Move validation tools from examples/ module into shell/
  shell/pom.xml
  shell/src/main/java/alluxio/cli/BasicCheckpoint.java
  shell/src/main/java/alluxio/cli/BasicNonByteBufferOperations.java
  shell/src/main/java/alluxio/cli/BasicOperations.java
  shell/src/main/java/alluxio/cli/JournalCrashTest.java
  shell/src/main/java/alluxio/cli/RelatedS3Operations.java
  shell/src/main/java/alluxio/cli/RunOperation.java
  shell/src/main/java/alluxio/cli/RunTestUtils.java
  shell/src/main/java/alluxio/cli/S3ASpecificOperations.java
  shell/src/main/java/alluxio/cli/TestRunner.java
  shell/src/main/java/alluxio/cli/UnderFileSystemCommonOperations.java
  shell/src/main/java/alluxio/cli/UnderFileSystemContractTest.java
Labels: POM Change

#11396 Make Ozone as a under file system of Alluxio
  core/base/src/main/java/alluxio/Constants.java
  pom.xml
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystemFactory.java
  underfs/ozone/pom.xml
  underfs/ozone/src/main/java/alluxio/underfs/ozone/OzoneUnderFileSystemFactory.java
  underfs/ozone/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/pom.xml
Labels: POM Change

#11438 [DOCFIX] Improve software requirement doc
  docs/en/deploy/Requirements.md
Labels: Doc Fix

#11441 Add docs/.jekyll-cache to .gitignore
  docs/.gitignore
Labels: Doc Fix

#11394 [DOCFIX] Update port list on Docker doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#11448 [DOCFIX] Improve S3 documentation
  docs/en/ufs/S3.md
Labels: Doc Fix

#11453 Improve FileSystem API doc
  docs/en/api/FS-API.md
Labels: Doc Fix

#11463 Throw exception when fail to create local cache
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
Labels: API Change

#11478 Implement non-intrusive locking for backups
  core/base/src/main/java/alluxio/exception/ExceptionMessage.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/resource/LockResource.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/meta/DailyMetadataBackup.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/transport/src/main/proto/grpc/meta_master.proto
  tests/src/test/java/alluxio/client/cli/fsadmin/BackupCommandIntegrationTest.java
Labels: API Change

#11449 Improve incremental active sync
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  core/server/master/src/main/java/alluxio/master/file/activesync/ActiveSyncManager.java
  core/server/master/src/main/java/alluxio/master/file/activesync/ActiveSyncer.java
  core/server/master/src/main/java/alluxio/underfs/UfsStatusCache.java
  core/server/master/src/test/java/alluxio/underfs/UfsStatusCacheTest.java
  tests/src/test/java/alluxio/client/fs/LoadMetadataIntegrationTest.java
  tests/src/test/java/alluxio/testutils/underfs/sleeping/SleepingUnderFileSystem.java
  tests/src/test/java/alluxio/testutils/underfs/sleeping/SleepingUnderFileSystemOptions.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/activesync/SupportedHdfsActiveSyncProvider.java
Labels: API Change

#11486 Fix UFS HDFS build
  underfs/hdfs/pom.xml
Labels: POM Change

#11458 Refactor and fix block-transfer partitioner
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/block/management/AbstractBlockManagementTask.java
  core/server/worker/src/main/java/alluxio/worker/block/management/BlockTransferExecutor.java
  core/server/worker/src/main/java/alluxio/worker/block/management/BlockTransferPartitioner.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/PromoteTask.java
  core/server/worker/src/test/java/alluxio/worker/block/management/tier/BlockTransferPartitionerTest.java
Labels: API Change

#11482 Implement non-intrusive locking for backups
  core/base/src/main/java/alluxio/exception/ExceptionMessage.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/resource/LockResource.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/meta/DailyMetadataBackup.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/transport/src/grpc/meta_master.proto
  core/transport/src/main/java/alluxio/grpc/BackupPOptions.java
  core/transport/src/main/java/alluxio/grpc/BackupPOptionsOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/MetaMasterProto.java
  core/transport/src/main/java/alluxio/proto/client/Cache.java
  tests/src/test/java/alluxio/client/cli/fsadmin/BackupCommandIntegrationTest.java
Labels: API Change
