Repository Alluxio/alluxio, pull requests merged in 2020-09, with the labels that each got.

#12047 Add Azure Data Lake Gen 1 support for UFS
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  docs/en/ufs/Azure-Data-Lake.md
  underfs/adl/pom.xml
  underfs/adl/src/main/java/alluxio/underfs/adl/AdlUnderFileSystem.java
  underfs/adl/src/main/java/alluxio/underfs/adl/AdlUnderFileSystemFactory.java
  underfs/adl/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/adl/src/test/java/alluxio/underfs/adl/AdlUnderFileSystemFactoryTest.java
  underfs/adl/src/test/resources/log4j.properties
  underfs/pom.xml
Labels: API Change, POM Change

#12082 Move copycat dependency to catalyst
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/server/common/pom.xml
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalEntryCommand.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalConfiguration.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReaderStream.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotWriterStream.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingContext.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServerConnection.java
  core/server/common/src/test/java/alluxio/master/transport/GrpcMessagingTransportTest.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  pom.xml
Labels: API Change, POM Change

#11949 [DOCFIX] Update S3 Chinese Doc
  docs/cn/ufs/S3.md
Labels: Doc Fix

#11948 [DOCFIX] Update Chinese HDFS Docs
  docs/cn/ufs/HDFS.md
Labels: Doc Fix

#11943 [DOCFIX] Update Chinese Minio Doc
  docs/cn/ufs/Minio.md
Labels: Doc Fix

#12053 Implement snapshot replication for embedded journal
  core/base/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/ServiceVersionClientServiceHandler.java
  core/server/common/src/main/java/alluxio/master/journal/JournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalServiceClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalServiceHandler.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalUtils.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotDownloader.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotUploader.java
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/transport/src/main/proto/grpc/raft_journal.proto
  core/transport/src/main/proto/grpc/version.proto
  minicluster/src/main/java/alluxio/multi/process/MultiProcessCluster.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTest.java
Labels: API Change

#12094 Prevent UI from installing dependencies twice
  webui/pom.xml
Labels: POM Change

#12114 Fix slow and contented local cache restart
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/NoExceptionCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/PageStoreTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
Labels: API Change

#12075 Add s3 connection TTL config property
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
Labels: API Change

#12121 Merge master to ratis-journal branch
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/NoExceptionCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/PageStoreTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/worker/src/main/java/alluxio/worker/grpc/AbstractWriteHandler.java
  core/transport/src/main/proto/grpc/job_master.proto
  integration/emr/alluxio-emr.sh
  job/common/src/main/java/alluxio/job/ErrorUtils.java
  job/common/src/main/java/alluxio/job/ProtoUtils.java
  job/common/src/main/java/alluxio/job/plan/meta/PlanInfo.java
  job/common/src/main/java/alluxio/job/wire/JobInfo.java
  job/common/src/main/java/alluxio/job/wire/PlanInfo.java
  job/common/src/main/java/alluxio/job/wire/TaskInfo.java
  job/common/src/main/java/alluxio/job/wire/WorkflowInfo.java
  job/common/src/test/java/alluxio/job/wire/JobServiceSummaryTest.java
  job/server/src/main/java/alluxio/job/workflow/WorkflowExecution.java
  job/server/src/main/java/alluxio/master/job/JobMaster.java
  job/server/src/main/java/alluxio/master/job/JobMasterClientRestServiceHandler.java
  job/server/src/main/java/alluxio/master/job/plan/PlanCoordinator.java
  job/server/src/main/java/alluxio/master/job/plan/PlanTracker.java
  job/server/src/main/java/alluxio/master/job/workflow/WorkflowTracker.java
  job/server/src/main/java/alluxio/worker/job/task/TaskExecutor.java
  job/server/src/main/java/alluxio/worker/job/task/TaskExecutorManager.java
  job/server/src/test/java/alluxio/master/job/plan/PlanTrackerTest.java
  job/server/src/test/java/alluxio/master/job/workflow/WorkflowTrackerTest.java
  job/server/src/test/java/alluxio/worker/job/task/TaskExecutorTest.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
  tests/src/test/java/alluxio/client/rest/JobMasterClientRestApiTest.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AOutputStream.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
Labels: API Change

#12122 [DOCFIX] Add transformation definition docs
  docs/en/core-services/Transformation.md
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#12132 [DOCFIX] Fix typo in Code-Conventions.md
  docs/cn/contributor/Code-Conventions.md
Labels: Doc Fix

#12128 [DOCFIX] Add API doc for getJobStatus
  job/server/pom.xml
  job/server/src/main/java/alluxio/master/job/JobMasterClientRestServiceHandler.java
Labels: POM Change

#12144 Downgrade swagger-maven-plugin from 3.1.7 back to 3.1.1
  pom.xml
Labels: POM Change

#12145 Make polling client timeout properly on unresponsive masters
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/master/PollingMasterInquireClient.java
Labels: API Change

#12149 Add worker master periodical connections timeout
  core/client/fs/src/main/java/alluxio/client/meta/RetryHandlingMetaMasterConfigClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/network/NetworkAddressUtils.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemMasterClient.java
Labels: API Change

#12159 [DOCFIX] Fix broken link in overview page
  docs/cn/Overview.md
  docs/en/Overview.md
Labels: Doc Fix

#12157 [DOCFIX] Include new collectInfo features into the doc
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix
