Repository Alluxio/alluxio, pull requests merged in 2020-02, with the labels that each got.

#10829 Remove keys from RemovedKeys list
  core/common/src/main/java/alluxio/conf/RemovedKey.java
Labels: target-2.1.2

#10825 Add instance check
  core/common/pom.xml
  core/common/src/main/java/alluxio/util/EnvironmentUtils.java
  core/server/master/src/main/java/alluxio/master/meta/UpdateCheck.java
  core/server/master/src/test/java/alluxio/master/meta/UpdateCheckTest.java
Labels: POM Change

#10831 [DOCFIX] Remove ALLUXIO_RELEASED_VERSION from docs/_config.yml
  docs/_config.yml
  docs/_layouts/global.html
  docs/cn/contributor/Building-Alluxio-From-Source.md
  docs/cn/deploy/Running-Alluxio-Locally.md
  docs/cn/deploy/Running-Alluxio-On-Docker.md
  docs/cn/overview/Getting-Started.md
  docs/cn/ufs/GCS.md
  docs/cn/ufs/S3.md
  docs/en/cloud/AWS-EMR.md
  docs/en/cloud/Google-Dataproc.md
  docs/en/contributor/Building-Alluxio-From-Source.md
  docs/en/core-services/Unified-Namespace.md
  docs/en/deploy/Running-Alluxio-Locally.md
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
  docs/en/overview/Getting-Started.md
  docs/en/ufs/HDFS.md
  docs/en/ufs/S3.md
Labels: Doc Fix

#10838 Fix shaded hadoop version after release
  shaded/hadoop/pom.xml
  underfs/hdfs/pom.xml
Labels: POM Change

#10841 Move the dependency on aws-java-sdk-core to core-server-common
  core/common/pom.xml
  core/server/common/pom.xml
  core/server/common/src/main/java/alluxio/util/EnvironmentUtils.java
Labels: POM Change

#10834 Support compiling with Java 11
  core/transport/pom.xml
  integration/checker/pom.xml
  pom.xml
  table/server/underdb/hive/pom.xml
Labels: POM Change

#10839 [DOCFIX] Remove ALLUXIO_RELEASED_VERSION from docs/_config.yml
  docs/_config.yml
  docs/_layouts/global.html
  docs/cn/contributor/Building-Alluxio-From-Source.md
  docs/cn/deploy/Running-Alluxio-Locally.md
  docs/cn/deploy/Running-Alluxio-On-Docker.md
  docs/cn/overview/Getting-Started.md
  docs/cn/ufs/GCS.md
  docs/cn/ufs/S3.md
  docs/en/cloud/AWS-EMR.md
  docs/en/cloud/Google-Dataproc.md
  docs/en/contributor/Building-Alluxio-From-Source.md
  docs/en/core-services/Unified-Namespace.md
  docs/en/deploy/Running-Alluxio-Locally.md
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
  docs/en/overview/Getting-Started.md
  docs/en/ufs/HDFS.md
  docs/en/ufs/S3.md
Labels: Doc Fix

#10835 Refactor for local cache
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10846 Update check periodically
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/heartbeat/HeartbeatContext.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/UpdateChecker.java
Labels: API Change

#10771 Exclude com.ibm package in shaded client jar to support ibm jvm
  shaded/client/pom.xml
Labels: POM Change

#10866 [DOCFIX] Fix Admin-CLI page typo
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#10863 [DOCFIX] Update coalescing documentation
  docs/en/core-services/Transformation.md
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#10819 Bump gRPC/netty/protobuf versions
  pom.xml
Labels: POM Change

#10850 Increment cluster counter and delete orphaned meter in MetricsStore
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/heartbeat/HeartbeatContext.java
  core/common/src/main/java/alluxio/metrics/Metric.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  core/common/src/test/java/alluxio/metrics/MetricTest.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/metrics/DefaultMetricsMaster.java
  core/server/master/src/main/java/alluxio/master/metrics/MetricsStore.java
  core/server/master/src/test/java/alluxio/master/metrics/MetricsMasterTest.java
  core/server/master/src/test/java/alluxio/master/metrics/MetricsStoreTest.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  tests/src/test/java/alluxio/client/cli/fsadmin/command/MetricsCommandIntegrationTest.java
Labels: API Change

#10854 Improve operation count by add human readable option "-h"
  shell/src/main/java/alluxio/cli/fs/command/CountCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/CountCommandTest.java
Labels: API Change

#10875 Add distributedLoad doc
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#10874 Add openFile based on URIStatus
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemCache.java
  core/client/fs/src/main/java/alluxio/client/file/LocalCacheFileSystem.java
Labels: API Change

#10881 Remove remnants of MapR FS
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  pom.xml
Labels: API Change, POM Change

#10884 Allow udb sync timeout to be configurable
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  table/server/master/src/main/java/alluxio/master/table/Database.java
Labels: API Change

#10877 Fix meter bug to calculate throughput value at master directly
  core/client/fs/src/main/java/alluxio/client/metrics/ClientMasterSync.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  core/server/master/src/main/java/alluxio/master/metrics/DefaultMetricsMaster.java
  core/server/master/src/main/java/alluxio/master/metrics/MetricsStore.java
  core/server/master/src/test/java/alluxio/master/metrics/MetricsMasterTest.java
  core/server/master/src/test/java/alluxio/master/metrics/MetricsStoreTest.java
Labels: API Change

#10845 Choose HDFS read API based on Client buffer size
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/options/InStreamOptions.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/options/OpenOptions.java
  core/server/worker/src/main/java/alluxio/worker/block/AsyncCacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/UfsInputStreamManager.java
  core/server/worker/src/main/java/alluxio/worker/block/UnderFileSystemBlockReader.java
  core/server/worker/src/main/java/alluxio/worker/block/UnderFileSystemBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadRequest.java
  core/server/worker/src/test/java/alluxio/worker/block/UnderFileSystemBlockReaderTest.java
  core/transport/src/grpc/block_worker.proto
  core/transport/src/main/java/alluxio/grpc/BlockWorkerProto.java
  core/transport/src/main/java/alluxio/grpc/ReadRequest.java
  core/transport/src/main/java/alluxio/grpc/ReadRequestOrBuilder.java
  tests/src/test/java/alluxio/client/fs/FileInStreamIntegrationTest.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileInputStream.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
Labels: API Change

#10868 Refactor the client cache to use string file id
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageId.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  core/client/fs/src/test/java/alluxio/client/file/cache/DefaultMetaStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LRUCacheEvictorTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/LocalPageStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/PageStoreTest.java
  core/common/src/main/java/alluxio/client/file/URIStatus.java
  core/common/src/main/java/alluxio/wire/FileInfo.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
Labels: API Change

#10898 Remove library property for local cache
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileSystem.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10871 Fix worker/client to get right cluster config
  core/common/src/main/java/alluxio/ClientContext.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/ConfigurationUtils.java
  core/server/common/src/main/java/alluxio/conf/ServerConfiguration.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorker.java
  job/server/src/main/java/alluxio/worker/AlluxioJobWorker.java
  tests/src/test/java/alluxio/server/configuration/ConfigCheckerIntegrationTest.java
Labels: API Change

#10901 Fix iteration for RocksBlockStore
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/metastore/rocks/RocksBlockStore.java
  core/server/master/src/main/java/alluxio/master/metastore/rocks/RocksInodeStore.java
  core/server/master/src/main/java/alluxio/master/metastore/rocks/RocksUtils.java
  core/server/master/src/test/java/alluxio/master/metastore/rocks/RocksBlockStoreTest.java
  minicluster/src/main/java/alluxio/multi/process/PortCoordination.java
  tests/src/test/java/alluxio/server/ft/journal/JournalBackupIntegrationTest.java
Labels: API Change

#10869 Terminate initial scan on stop active sync
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/activesync/ActiveSyncManager.java
  core/server/master/src/main/java/alluxio/master/file/activesync/ActiveSyncer.java
Labels: API Change

#10596 Add collectInfo command
  bin/alluxio
  core/common/src/main/java/alluxio/cli/CommandUtils.java
  core/common/src/main/java/alluxio/shell/CommandReturn.java
  core/common/src/main/java/alluxio/shell/ShellCommand.java
  core/common/src/main/java/alluxio/util/ShellUtils.java
  core/common/src/test/java/alluxio/shell/ShellCommandTest.java
  core/server/common/src/main/java/alluxio/cli/validation/Utils.java
  shell/pom.xml
  shell/src/main/java/alluxio/cli/bundler/CollectInfo.java
  shell/src/main/java/alluxio/cli/bundler/TarUtils.java
  shell/src/main/java/alluxio/cli/bundler/command/AbstractCollectInfoCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectAlluxioInfoCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectConfigCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectEnvCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectJvmInfoCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectLogCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectMetricsCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/ExecuteShellCollectInfoCommand.java
  shell/src/test/java/alluxio/cli/bundler/CollectInfoTest.java
  shell/src/test/java/alluxio/cli/bundler/InfoCollectorTestUtils.java
  shell/src/test/java/alluxio/cli/bundler/TarUtilsTest.java
  shell/src/test/java/alluxio/cli/bundler/command/CollectAlluxioInfoCommandTest.java
  shell/src/test/java/alluxio/cli/bundler/command/CollectConfCommandTest.java
  shell/src/test/java/alluxio/cli/bundler/command/CollectEnvCommandTest.java
  shell/src/test/java/alluxio/cli/bundler/command/CollectLogCommandTest.java
Labels: POM Change

#10909 Add xattrs to proto
  core/common/src/main/java/alluxio/client/file/URIStatus.java
  core/common/src/main/java/alluxio/grpc/GrpcUtils.java
  core/common/src/test/java/alluxio/client/file/URIStatusTest.java
  core/common/src/test/java/alluxio/wire/FileInfoTest.java
  core/transport/src/grpc/file_system_master.proto
  core/transport/src/main/java/alluxio/grpc/FileInfo.java
  core/transport/src/main/java/alluxio/grpc/FileInfoOrBuilder.java
  core/transport/src/main/java/alluxio/grpc/FileSystemMasterProto.java
Labels: API Change

#10911 Add an experimental API to URIStatus
  core/common/src/main/java/alluxio/client/file/URIStatus.java
Labels: API Change

#10907 Improve local cache
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/common/src/main/java/alluxio/client/file/URIStatus.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/wire/FileInfo.java
Labels: API Change

#10916 Exclude dependency on rocksdb from client jar
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  shaded/client/pom.xml
Labels: POM Change

#10748 Implement a User-Side Alluxio Local Cache
  core/base/src/main/java/alluxio/exception/PageNotFoundException.java
  core/client/fs/pom.xml
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/main/java/alluxio/client/file/LocalCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheEvictor.java
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/DefaultMetaStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/MetaStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageId.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageInfo.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/evictor/LRUCacheEvictor.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStoreOptions.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/PageStoreOptions.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/PageStoreType.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStoreOptions.java
  core/client/fs/src/test/java/alluxio/client/file/MockFileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/cache/DefaultMetaStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LRUCacheEvictorTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/LocalPageStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/PageStoreTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/common/src/main/java/alluxio/client/file/URIStatus.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/util/CommonUtils.java
  core/common/src/main/java/alluxio/wire/FileInfo.java
  core/transport/src/main/java/alluxio/proto/client/Cache.java
  core/transport/src/proto/client/cache.proto
  shaded/client/pom.xml
  tests/src/test/java/alluxio/client/fs/LocalCacheFileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
Labels: API Change, POM Change

#10779 Make metadata caching FileSystem composite
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/test/java/alluxio/client/file/MetadataCachingBaseFileSystemTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  tests/src/test/java/alluxio/client/fs/LocalCacheFileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
Labels: API Change

#10947 Process worker metrics asynchronously
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/metrics/DefaultMetricsMaster.java
Labels: API Change

#10951 Increase job description print length
  job/common/src/main/java/alluxio/job/plan/transform/CompactConfig.java
  shell/src/main/java/alluxio/cli/job/command/StatCommand.java
Labels: API Change

#10968 Reduce getWorkerInfoList RPCs on client and job servers
  core/client/fs/src/main/java/alluxio/client/block/AlluxioBlockStore.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileOutStream.java
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/test/java/alluxio/client/block/AlluxioBlockStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/FileOutStreamTest.java
  core/client/hdfs/src/test/java/alluxio/hadoop/AbstractFileSystemTest.java
  job/server/src/main/java/alluxio/job/plan/load/LoadDefinition.java
  job/server/src/main/java/alluxio/job/plan/migrate/MigrateDefinition.java
  job/server/src/main/java/alluxio/job/plan/persist/PersistDefinition.java
  job/server/src/main/java/alluxio/job/plan/replicate/EvictDefinition.java
  job/server/src/main/java/alluxio/job/plan/replicate/MoveDefinition.java
  job/server/src/main/java/alluxio/job/util/JobUtils.java
  job/server/src/test/java/alluxio/job/plan/load/LoadDefinitionTest.java
  job/server/src/test/java/alluxio/job/plan/migrate/MigrateDefinitionSelectExecutorsTest.java
  job/server/src/test/java/alluxio/job/plan/replicate/ReplicateDefinitionTest.java
  shell/src/main/java/alluxio/cli/LogLevel.java
  shell/src/main/java/alluxio/cli/fsadmin/metrics/ClearCommand.java
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MultiWorkerIntegrationTest.java
Labels: API Change

#10963 Cache the getWorkerInfoList results and refresh periodically
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
Labels: API Change

#10962 Enable location fallback by default
  core/client/hdfs/src/test/java/alluxio/hadoop/AbstractFileSystemTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10965 Add description for Tasks in job stat
  core/transport/src/grpc/job_master.proto
  job/common/src/main/java/alluxio/job/plan/meta/PlanInfo.java
  job/common/src/main/java/alluxio/job/wire/TaskInfo.java
  job/common/src/test/java/alluxio/job/wire/TaskInfoTest.java
  job/server/src/main/java/alluxio/master/job/plan/PlanCoordinator.java
  job/server/src/main/java/alluxio/worker/job/task/TaskExecutorManager.java
  shell/src/main/java/alluxio/cli/job/command/StatCommand.java
Labels: API Change

#11005 Add buckets for client cache on local page store
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStoreOptions.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/LocalPageStoreTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#11012 [DOCFIX] Update transformation doc
  docs/en/core-services/Transformation.md
Labels: Doc Fix

#10976 Fix casts to long
  core/client/fs/src/main/java/alluxio/client/metrics/ClientMasterSync.java
  core/common/src/main/java/alluxio/concurrent/ForkJoinPoolHelper.java
  core/common/src/main/java/alluxio/network/RejectingServer.java
  core/common/src/main/java/alluxio/resource/DynamicResourcePool.java
  core/common/src/main/java/alluxio/util/CommonUtils.java
  core/server/common/src/main/java/alluxio/master/AbstractMaster.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalSystem.java
  core/server/common/src/main/java/alluxio/worker/AbstractWorker.java
  core/server/master/src/main/java/alluxio/master/MasterUtils.java
  core/server/master/src/main/java/alluxio/master/file/replication/ReplicationChecker.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/meta/DailyMetadataBackup.java
  core/server/master/src/main/java/alluxio/master/metastore/caching/Cache.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  core/server/worker/src/main/java/alluxio/worker/block/AsyncCacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/grpc/GrpcExecutors.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseFileSystem.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/master/MasterHealthCheckClient.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/HiveClientPool.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3ALowLevelOutputStream.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
Labels: API Change

#11011 [DOCFIX] Update catalog docs
  docs/en/core-services/Catalog.md
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#9942 Update outdated dependencies: jetty, jersey and others
  core/common/src/test/java/alluxio/security/authentication/GrpcSecurityTest.java
  core/server/common/pom.xml
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/metrics/MetricsMasterClientServiceHandler.java
  core/server/proxy/pom.xml
  core/server/worker/pom.xml
  core/transport/pom.xml
  job/server/pom.xml
  pom.xml
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
Labels: POM Change

#11016 Fix "In Alluxio" calculation for DuCommand
  shell/pom.xml
  shell/src/main/java/alluxio/cli/fs/command/DuCommand.java
  shell/src/test/java/alluxio/cli/fs/command/DuCommandTest.java
Labels: API Change, POM Change

#11026 [DOCFIX] Update unified namespace docs
  docs/en/core-services/Unified-Namespace.md
Labels: Doc Fix

#11029 [DOCFIX] Update Spark documentation
  docs/en/compute/Spark.md
Labels: Doc Fix

#11045 [DOCFIX] Update scalability tuning documentation
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#11053 [DOCFIX] Fix alluxio presto sandbox docs
  docs/en/cloud/Alluxio-Presto-AMI.md
Labels: Doc Fix

#11040 [DOCFIX] Update the presto docs
  docs/en/compute/Presto.md
Labels: Doc Fix

#11047 [DOCFIX] Update performance tuning docs
  docs/en/operation/Performance-Tuning.md
Labels: Doc Fix

#11032 [DOCFIX] Update MapReduce documentation
  docs/en/compute/Hadoop-MapReduce.md
Labels: Doc Fix

#11050 [DOCFIX] Update cluster install docs
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#11033 [DOCFIX] Update MinIO documentation
  docs/en/ufs/Minio.md
Labels: Doc Fix
