Repository Alluxio/alluxio, pull requests merged in 2020-04, with the labels that each got.

#11225 Improve docs check
  dev/scripts/src/alluxio.org/check-docs/main.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/limit_test.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/.travis.yml
  dev/scripts/src/vendor/gopkg.in/yaml.v3/LICENSE
  dev/scripts/src/vendor/gopkg.in/yaml.v3/NOTICE
  dev/scripts/src/vendor/gopkg.in/yaml.v3/README.md
  dev/scripts/src/vendor/gopkg.in/yaml.v3/apic.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/decode.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/emitterc.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/encode.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/go.mod
  dev/scripts/src/vendor/gopkg.in/yaml.v3/parserc.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/readerc.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/resolve.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/scannerc.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/sorter.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/writerc.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/yaml.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/yamlh.go
  dev/scripts/src/vendor/gopkg.in/yaml.v3/yamlprivateh.go
  pom.xml
Labels: POM Change

#11224 Parallelize DistributedLoadCommand client's job completion check
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#11194 Use worker podIP for connect and hostIP for block locations
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcUtils.java
  core/common/src/main/java/alluxio/util/network/NetworkAddressUtils.java
  core/common/src/main/java/alluxio/wire/WorkerNetAddress.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerProcess.java
  core/transport/src/main/proto/grpc/common.proto
  integration/kubernetes/helm-chart/alluxio/CHANGELOG.md
  integration/kubernetes/helm-chart/alluxio/templates/config/alluxio-conf.yaml
  integration/kubernetes/helm-chart/alluxio/templates/worker/daemonset.yaml
  integration/kubernetes/helm-chart/alluxio/values.yaml
  integration/kubernetes/multiMaster-embeddedJournal/alluxio-configmap.yaml.template
  integration/kubernetes/multiMaster-embeddedJournal/worker/alluxio-worker-daemonset.yaml.template
  integration/kubernetes/singleMaster-hdfsJournal/alluxio-configmap.yaml.template
  integration/kubernetes/singleMaster-hdfsJournal/worker/alluxio-worker-daemonset.yaml.template
  integration/kubernetes/singleMaster-localJournal/alluxio-configmap.yaml.template
  integration/kubernetes/singleMaster-localJournal/worker/alluxio-worker-daemonset.yaml.template
  job/server/src/main/java/alluxio/worker/AlluxioJobWorkerProcess.java
Labels: API Change, area-k8s

#11241 Remove doubled PK defaults for master client gc threshold
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change, target-2.1.3, target-2.2.1

#11240 Improve docker documentation
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#11247 Improve locality tier documentation
  docs/en/operation/Tiered-Locality.md
Labels: Doc Fix

#11274 Retry block streams with exponential back-off policy
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/retry/ExponentialTimeBoundedRetry.java
  core/common/src/main/java/alluxio/retry/RetryUtils.java
  core/common/src/main/java/alluxio/retry/TimeBoundedRetry.java
Labels: API Change

#11273 Make connection multiplexing bounded for streaming channels
  core/client/fs/src/main/java/alluxio/client/block/stream/DefaultBlockWorkerClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelBuilder.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelKey.java
  core/common/src/test/java/alluxio/grpc/GrpcManagedChannelPoolTest.java
Labels: API Change

#11256 Replace Web UI linter in build command with maven exec plugin
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  webui/common/package.json
  webui/master/package.json
  webui/pom.xml
  webui/worker/package.json
Labels: POM Change

#11270 Improve Journal Operation doc
  docs/en/operation/Journal.md
Labels: Doc Fix

#11292 [DOCFIX] Correct relative doc link in Journal.md
  docs/en/operation/Journal.md
Labels: Doc Fix

#11302 Improve and re-organize Logging doc page
  docs/en/operation/Basic-Logging.md
  docs/en/operation/Client-Logging.md
  docs/en/operation/Remote-Logging.md
  docs/en/operation/Server-Logging.md
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#11219 Add ORC file input support
  job/common/src/main/java/alluxio/job/plan/transform/Format.java
  job/common/src/main/java/alluxio/job/plan/transform/HiveConstants.java
  job/common/src/main/java/alluxio/job/plan/transform/PartitionInfo.java
  job/server/pom.xml
  job/server/src/main/java/alluxio/job/plan/transform/CompactDefinition.java
  job/server/src/main/java/alluxio/job/plan/transform/format/SchemaConversionUtils.java
  job/server/src/main/java/alluxio/job/plan/transform/format/TableReader.java
  job/server/src/main/java/alluxio/job/plan/transform/format/csv/CsvSchema.java
  job/server/src/main/java/alluxio/job/plan/transform/format/orc/OrcReader.java
  job/server/src/main/java/alluxio/job/plan/transform/format/orc/OrcRow.java
  job/server/src/main/java/alluxio/job/plan/transform/format/orc/OrcSchema.java
  job/server/src/test/java/alluxio/job/plan/transform/format/orc/OrcReaderTest.java
  job/server/src/test/resources/TestOrcFile.columnProjection.orc
  pom.xml
Labels: POM Change

#11301 Update gRPC and netty version to address CVE
  pom.xml
Labels: POM Change

#11313 [DOCFIX] Fix broken link in Tiered Locality
  dev/scripts/src/alluxio.org/check-docs/main.go
  docs/en/operation/Tiered-Locality.md
Labels: Doc Fix

#11314 Add nav tabs plugin to docs
  docs/_plugins/nav-tabs.rb
  docs/css/main.css
Labels: Doc Fix

#11304 Optimize gRPC managed resource handling
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClientPool.java
  core/client/fs/src/main/java/alluxio/client/block/stream/DefaultBlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataWriter.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataWriter.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/test/java/alluxio/client/block/stream/GrpcDataWriterTest.java
  core/client/fs/src/test/java/alluxio/client/block/stream/UfsFallbackLocalFileDataWriterTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
  core/common/src/main/java/alluxio/grpc/GrpcChannel.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelBuilder.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelKey.java
  core/common/src/main/java/alluxio/grpc/GrpcConnection.java
  core/common/src/main/java/alluxio/grpc/GrpcConnectionKey.java
  core/common/src/main/java/alluxio/grpc/GrpcConnectionPool.java
  core/common/src/main/java/alluxio/grpc/GrpcManagedChannelPool.java
  core/common/src/main/java/alluxio/security/authentication/ChannelAuthenticator.java
  core/common/src/main/java/alluxio/util/network/NettyUtils.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/common/src/test/java/alluxio/grpc/GrpcConnectionPoolTest.java
  core/common/src/test/java/alluxio/grpc/GrpcManagedChannelPoolTest.java
  core/common/src/test/java/alluxio/security/authentication/GrpcSecurityTest.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingClient.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
  core/server/worker/src/test/java/alluxio/worker/grpc/ReadHandlerTest.java
  tests/src/test/java/alluxio/client/fs/FileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/job/JobIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MultiWorkerIntegrationTest.java
Labels: API Change

#10215 [DOCFIX] Update the Journal
  docs/en/operation/Journal.md
Labels: Doc Fix

#11332 Use property templates for max connection count
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcConnectionPool.java
Labels: API Change

#11333 Bump default connection count for streaming channels
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#11335 Optimize gRPC managed resource handling
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClientPool.java
  core/client/fs/src/main/java/alluxio/client/block/stream/DefaultBlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataWriter.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataWriter.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/test/java/alluxio/client/block/stream/GrpcDataWriterTest.java
  core/client/fs/src/test/java/alluxio/client/block/stream/UfsFallbackLocalFileDataWriterTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
  core/common/src/main/java/alluxio/grpc/GrpcChannel.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelBuilder.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelKey.java
  core/common/src/main/java/alluxio/grpc/GrpcConnection.java
  core/common/src/main/java/alluxio/grpc/GrpcConnectionKey.java
  core/common/src/main/java/alluxio/grpc/GrpcConnectionPool.java
  core/common/src/main/java/alluxio/grpc/GrpcManagedChannelPool.java
  core/common/src/main/java/alluxio/security/authentication/ChannelAuthenticator.java
  core/common/src/main/java/alluxio/util/network/NettyUtils.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/common/src/test/java/alluxio/grpc/GrpcConnectionPoolTest.java
  core/common/src/test/java/alluxio/grpc/GrpcManagedChannelPoolTest.java
  core/common/src/test/java/alluxio/security/authentication/GrpcSecurityTest.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingClient.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
  core/server/worker/src/test/java/alluxio/worker/grpc/ReadHandlerTest.java
  tests/src/test/java/alluxio/client/fs/FileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/job/JobIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MultiWorkerIntegrationTest.java
Labels: API Change

#11347 Fix fetching max-msg-size for embedded-journal transport
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
Labels: API Change

#11205 Add Glue UDB to Catalog Service
  table/server/common/src/main/java/alluxio/table/common/BaseConfiguration.java
  table/server/common/src/main/java/alluxio/table/common/udb/PathTranslator.java
  table/server/common/src/main/java/alluxio/table/common/udb/UdbUtils.java
  table/server/common/src/test/java/alluxio/table/common/udb/PathTranslatorTest.java
  table/server/underdb/glue/pom.xml
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GlueDatabase.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GlueDatabaseFactory.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GluePartition.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GlueTable.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GlueUtils.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/Property.java
  table/server/underdb/glue/src/main/resources/META-INF/services/alluxio.table.common.udb.UnderDatabaseFactory
  table/server/underdb/glue/src/test/java/alluxio/table/under/glue/GlueDatabaseTest.java
  table/server/underdb/glue/src/test/java/alluxio/table/under/glue/GlueUtilsTest.java
  table/server/underdb/glue/src/test/java/alluxio/table/under/glue/MockGlueDatabase.java
  table/server/underdb/glue/src/test/java/alluxio/table/under/glue/RemoteGlueTest.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveUtils.java
  table/server/underdb/pom.xml
Labels: POM Change

#11351 Use pread for all remote hdfs api read calls
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
Labels: API Change

#11354 Stop tracking connections in copycat client/server
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingClient.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
  pom.xml
Labels: POM Change

#11357 Stop tracking connections in copycat client/server
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingClient.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
  pom.xml
Labels: POM Change

#11348 Add doc for PrometheusMetricsServlet
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#11279 Make config reinit executor static
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClientPool.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContextReinitializer.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/heartbeat/HeartbeatContext.java
  tests/src/test/java/alluxio/client/fs/FileSystemContextReinitIntegrationTest.java
Labels: API Change

#11366 Remove default values for deprecated properties
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change
