Repository Alluxio/alluxio, pull requests merged in 2020-03, with the labels that each got.

#11062 [DOCFIX] Update code conventions doc
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#11082 Fix config check with default values
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/ConfigurationUtils.java
  tests/src/test/java/alluxio/server/configuration/ConfigCheckerIntegrationTest.java
Labels: API Change

#11052 [DOCFIX] Update security docs
  docs/en/operation/Security.md
Labels: Doc Fix

#11061 [DOCFIX] Improve doc for proto build
  docs/en/contributor/Building-Alluxio-From-Source.md
  docs/en/contributor/contributor-tools.md
Labels: Doc Fix

#11093 Update POSIX API documentation
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#11070 [DOCFIX] Update catalog documentation
  docs/en/core-services/Catalog.md
Labels: Doc Fix

#11099 Port changes of [#11061] to branch-2.2
  docs/en/contributor/Building-Alluxio-From-Source.md
  docs/en/contributor/contributor-tools.md
Labels: Doc Fix

#11095 [DOCFIX] Update Tensorflow doc
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#11103 [DOCFIX] Update docker doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#11091 [DOCFIX] Update metric docs
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#11111 Update scope on a property
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#10926 [DOCFIX] Add collectInfo command to doc
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#11119 [DOCFIX] Update EMR docs
  docs/en/cloud/AWS-EMR.md
Labels: Doc Fix

#11122 [DOCFIX] Fix docs in quick start and FAQ
  docs/en/overview/FAQ.md
  docs/en/overview/Getting-Started.md
Labels: Doc Fix

#11123 [DOCFIX] Update S3 API doc
  docs/en/api/S3-API.md
Labels: Doc Fix

#11127 Fix Hadoop 1 build
  integration/pom.xml
Labels: POM Change

#11121 [DOCFIX] Update Spark-on-K8s doc
  docs/en/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#10931 [DOCFIX] Add workflow for community submitting a new feature
  docs/en/contributor/Contributor-Getting-Started.md
  docs/resources/templates/Design-Document-Template.md
Labels: Doc Fix

#11136 [DOCFIX] Update admin CLI docs
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#11077 [DOCFIX] Update kubernetes documentation
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11126 [DOCFIX] Improve building doc
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#11144 [DOCFIX] Fix link in contributor getting started
  docs/en/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#11148 [DOCFIX] Update partitioned table instructions
  docs/en/compute/Hive.md
Labels: Doc Fix

#11146 Add logging when RPC or Fuse calls too long
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/AbstractClientTest.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseUtils.java
Labels: API Change

#11151 Implement async write into local cache
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  tests/src/test/java/alluxio/client/fs/LocalCacheFileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
Labels: API Change

#11165 [DOCFIX] Update catalog docs
  docs/en/core-services/Catalog.md
Labels: Doc Fix

#11163 Exclude protobuf from hive udb jar
  table/server/underdb/hive/pom.xml
Labels: POM Change

#11158 Add option to disable Web UI
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/web/MasterWebServer.java
  core/server/worker/src/main/java/alluxio/web/WorkerWebServer.java
Labels: API Change

#11150 [DOCFIX] Add docs on debug logging for RPCs
  docs/en/operation/Server-Logging.md
Labels: Doc Fix

#11170 [DOCFIX] Remove sandbox request link from docs
  docs/cn/Overview.md
  docs/en/Overview.md
Labels: Doc Fix

#11187 [DOCFIX] Add K8s docs pointer to public helm repo
  docs/_config.yml
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11191 Move fuse module back to default profile
  integration/pom.xml
Labels: POM Change

#11185 Make Default JobMasterClient.getJobStatus non-verbose
  core/transport/src/main/proto/grpc/job_master.proto
  job/client/src/main/java/alluxio/client/job/JobMasterClient.java
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/server/src/main/java/alluxio/master/job/JobMaster.java
  job/server/src/main/java/alluxio/master/job/JobMasterClientServiceHandler.java
  shell/src/main/java/alluxio/cli/job/command/StatCommand.java
Labels: API Change

#11198 Fix typo from 'Alluxi' to 'Alluxio'
  docs/cn/ufs/Azure-Blob-Store.md
Labels: Doc Fix

#11202 Fix backup heartbeat termination
  core/server/master/src/main/java/alluxio/master/backup/BackupWorkerRole.java
Labels: target-2.2.1

#11217 Add ability to override S3 max error retry count
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
Labels: API Change

#11210 Implement LFU evictor for client cache
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheEvictor.java
  core/client/fs/src/main/java/alluxio/client/file/cache/evictor/LFUCacheEvictor.java
  core/client/fs/src/main/java/alluxio/client/file/cache/evictor/LRUCacheEvictor.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LFUCacheEvictorTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LRUCacheEvictorTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#11192 Fix categoryList parsing in docs check
  dev/jenkins/build.sh
  dev/scripts/check-docs.sh
  dev/scripts/src/alluxio.org/check-docs/main.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/.travis.yml
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/LICENSE
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/NOTICE
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/README.md
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/apic.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/decode.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/emitterc.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/encode.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/go.mod
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/limit_test.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/parserc.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/readerc.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/resolve.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/scannerc.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/sorter.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/writerc.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/yaml.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/yamlh.go
  dev/scripts/src/alluxio.org/vendor/gopkg.in/yaml.v3/yamlprivateh.go
  pom.xml
Labels: POM Change
