Repository Alluxio/alluxio, pull requests merged in 2020-12, with the labels that each got.

#12592 Fix ufs cn doc title and nickname style
  docs/cn/ufs/Azure-Blob-Store.md
  docs/cn/ufs/COS.md
  docs/cn/ufs/Ceph.md
  docs/cn/ufs/GCS.md
  docs/cn/ufs/GlusterFS.md
  docs/cn/ufs/HDFS.md
  docs/cn/ufs/Minio.md
  docs/cn/ufs/NFS.md
  docs/cn/ufs/OBS.md
  docs/cn/ufs/OSS.md
  docs/cn/ufs/Ozone.md
  docs/cn/ufs/Qiniu-KODO.md
  docs/cn/ufs/S3.md
  docs/cn/ufs/Swift.md
  docs/cn/ufs/WEB.md
Labels: Doc Fix

#12601 [DOCFIX] Fix error default security type in chinese
  docs/_data/table/cn/security-configuration.yml
Labels: Doc Fix

#12608 [DOCFIX] Add title and nickname translation for cache in caching cn doc
  docs/cn/core-services/Caching.md
Labels: Doc Fix

#12607 [DOCFIX] Fix transformation cn disunity definition
  docs/cn/core-services/Transformation.md
Labels: Doc Fix

#12609 [DOCIFX] Improve operation doc cn translation
  docs/_config.yml
Labels: Doc Fix

#12610 Add cloud native cn translation
  docs/_config.yml
Labels: Doc Fix

#12613 Show errors for DistributedLoad/Cp/Mv job submission failures in console
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/job/JobAttempt.java
Labels: API Change

#12493 Add cosn UFS to provide better ability to read and write cos
  core/base/src/main/java/alluxio/Constants.java
  docs/cn/ufs/COS.md
  docs/cn/ufs/COSN.md
  docs/en/ufs/COSN.md
  pom.xml
  shaded/cosn/pom.xml
  shaded/pom.xml
  underfs/cosn/pom.xml
  underfs/cosn/src/main/java/alluxio/underfs/cosn/CosNUnderFileSystemFactory.java
  underfs/cosn/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/cosn/src/test/java/alluxio/underfs/cosn/CosNUnderFileSystemFactoryTest.java
  underfs/cosn/src/test/resources/log4j.properties
  underfs/pom.xml
Labels: POM Change, area-ufs

#12623 Add Support for Azure Data Lake Gen2 OAuth Client Credentials
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/ufs/Azure-Data-Lake-Gen2.md
  underfs/abfs/src/main/java/alluxio/underfs/abfs/AbfsUnderFileSystem.java
Labels: API Change

#12620 [DOCFIX] Add details about journal folder for embedded journal
  docs/en/operation/Journal.md
Labels: Doc Fix

#12604 Add retries when failed to evict
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#12624 Add new line to underfs/abfs/pom.xml
  underfs/abfs/pom.xml
Labels: POM Change

#12606 Add JNI-based Fuse support
  .gitignore
  conf/log4j.properties
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BufferCachingGrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcBlockingStream.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/SharedGrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/file/FileOutStream.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/main/java/alluxio/client/file/MetadataCachingBaseFileSystem.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/docker/Dockerfile.fuse
  integration/docker/libjnifuse.so
  integration/fuse/bin/alluxio-fuse
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseUtils.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/jnifuse/AbstractFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/jnifuse/ErrorCodes.java
  integration/fuse/src/main/java/alluxio/jnifuse/FuseException.java
  integration/fuse/src/main/java/alluxio/jnifuse/FuseFileSystem.java
  integration/fuse/src/main/java/alluxio/jnifuse/FuseFillDir.java
  integration/fuse/src/main/java/alluxio/jnifuse/LibFuse.java
  integration/fuse/src/main/java/alluxio/jnifuse/constants/Errno.java
  integration/fuse/src/main/java/alluxio/jnifuse/struct/FileStat.java
  integration/fuse/src/main/java/alluxio/jnifuse/struct/FuseContext.java
  integration/fuse/src/main/java/alluxio/jnifuse/struct/FuseFileInfo.java
  integration/fuse/src/main/java/alluxio/jnifuse/struct/Statvfs.java
  integration/fuse/src/main/java/alluxio/jnifuse/struct/Struct.java
  integration/fuse/src/main/java/alluxio/jnifuse/utils/SecurityUtils.java
  integration/fuse/src/main/native/libjnifuse/Makefile
  integration/fuse/src/main/native/libjnifuse/debug.h
  integration/fuse/src/main/native/libjnifuse/jnifuse_fs.cc
  integration/fuse/src/main/native/libjnifuse/jnifuse_fs.h
  integration/fuse/src/main/native/libjnifuse/jnifuse_helper.cc
  integration/fuse/src/main/native/libjnifuse/jnifuse_impls.cc
  integration/fuse/src/main/native/libjnifuse/jnifuse_impls.h
  integration/fuse/src/main/native/libjnifuse/operation.cc
  integration/fuse/src/main/native/libjnifuse/operation.h
  integration/fuse/src/test/java/alluxio/fuse/AlluxioJniFuseFileSystemTest.java
  integration/fuse/src/test/java/alluxio/jnifuse/struct/FileStatTest.java
  integration/fuse/src/test/java/alluxio/jnifuse/struct/FuseFileInfoTest.java
  integration/fuse/src/test/java/alluxio/jnifuse/struct/StatvfsTest.java
  integration/fuse/src/test/java/alluxio/jnifuse/struct/StructTest.java
  pom.xml
Labels: API Change

#12626 [DOCFIX] Shorten Azure Storage Doc Title
  docs/en/ufs/Azure-Data-Lake-Gen2.md
Labels: Doc Fix

#12629 [DOCFIX] Fix naming inconsistencies in COSN docs
  docs/cn/ufs/COSN.md
  docs/en/ufs/COSN.md
Labels: Doc Fix

#12630 Disable default jni fuse
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#12614 Relocate erasure coding
  shaded/hadoop/pom.xml
Labels: POM Change

#12578 Add lock pool metrics
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeLockManager.java
Labels: area-core

#12650 Add ratis size related configuration
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
Labels: API Change

#12656 [DOCFIX] Update property keys in docs
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
Labels: Doc Fix

#12670 Disable authority check
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#12676 Fix table mount option description in docs to "mount.option."
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#12671 Add maven plugin for proto lock
  core/transport/pom.xml
  pom.xml
Labels: POM Change

#12686 [DOCFIX] Update COS and COSN documentation
  docs/cn/ufs/COS.md
  docs/cn/ufs/COSN.md
Labels: Doc Fix
