Repository Alluxio/alluxio, pull requests merged in 2020-08, with the labels that each got.

#11869 Fix a guava runtime error introduced by the move to default to Hadoop 3
  shaded/hadoop/pom.xml
Labels: POM Change

#11807 Add Glue column statistics support
  table/server/underdb/glue/pom.xml
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GlueDatabase.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GlueUtils.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/Property.java
  table/server/underdb/glue/src/test/java/alluxio/table/under/glue/GlueUtilsTest.java
Labels: POM Change

#11877 Upgrade rocksdbjni to 6.11.4
  pom.xml
Labels: POM Change

#11876 Upgrade protobuf to 3.12.4
  pom.xml
Labels: POM Change

#11884 Upgrade testcontainers to 1.14.3
  tests/pom.xml
Labels: POM Change

#11885 Cleanup after mesos scheduler
  bin/alluxio
  core/base/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/operation/User-CLI.md
  examples/src/main/java/alluxio/cli/AlluxioFrameworkIntegrationTest.java
Labels: API Change

#11890 [DOCFIX] Update Chinese Docker Doc
  docs/cn/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#11867 Force target to be java 8 even if we are using jdk 11 to compile
  pom.xml
Labels: POM Change

#11886 Upgrade metrics to 4.1.11
  core/common/pom.xml
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  core/common/src/main/java/alluxio/metrics/sink/JmxSink.java
  pom.xml
Labels: POM Change

#11889 Upgrade commons-logging to 1.2
  pom.xml
Labels: POM Change

#11897 Upgrade java-xmlbuilder from 0.4 to 1.3
  pom.xml
Labels: POM Change

#11904 Upgrade jcommander to 1.78
  pom.xml
Labels: POM Change

#11891 Upgrade jets3t to 0.9.4
  pom.xml
Labels: POM Change

#11910 Upgrade mockito-all (1.10.19) to mockito-core (3.4.4)
  core/client/fs/src/test/java/alluxio/client/block/AlluxioBlockStoreTest.java
  core/client/fs/src/test/java/alluxio/client/block/stream/BlockInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/block/stream/GrpcBlockingStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/FileOutStreamTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataTest.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockWorkerTest.java
  core/server/worker/src/test/java/alluxio/worker/grpc/AbstractWriteHandlerTest.java
  core/server/worker/src/test/java/alluxio/worker/grpc/BlockReadHandlerTest.java
  integration/yarn/src/test/java/alluxio/yarn/ContainerAllocatorTest.java
  job/server/src/main/java/alluxio/job/plan/transform/format/JobPath.java
  job/server/src/test/java/alluxio/job/plan/transform/format/JobPathTest.java
  job/server/src/test/java/alluxio/master/job/JobMasterTest.java
  job/server/src/test/java/alluxio/master/job/workflow/WorkflowTrackerTest.java
  job/server/src/test/java/alluxio/worker/job/task/TaskExecutorTest.java
  pom.xml
  underfs/hdfs/src/test/java/alluxio/underfs/hdfs/HdfsUnderFileSystemTest.java
  underfs/kodo/src/test/java/alluxio/underfs/kodo/KodoUnderFileSystemTest.java
  underfs/oss/src/test/java/alluxio/underfs/oss/OSSInputStreamTest.java
  underfs/s3a/src/test/java/alluxio/underfs/s3a/S3ALowLevelOutputStreamTest.java
Labels: POM Change

#11870 Make the default integration test use hadoop3 profile to be consistent
  job/server/src/main/java/alluxio/job/plan/transform/format/JobPath.java
  pom.xml
  tests/pom.xml
Labels: POM Change

#11901 Upgrade SpotBugs maven plugin from 3.1.12.2 to 4.0.4
  core/client/fs/src/main/java/alluxio/client/metrics/MetricsHeartbeatContext.java
  core/common/src/main/java/alluxio/security/authentication/DefaultAuthenticationServer.java
  pom.xml
Labels: POM Change

#11906 Upgrade joss to 0.10.4
  pom.xml
Labels: POM Change

#11907 Upgrade cos_api to 5.6.28
  underfs/cos/pom.xml
Labels: POM Change

#11915 Upgrade orc to 1.6.3
  pom.xml
Labels: POM Change

#11913 Remove integration checker which is outdated
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  docs/cn/compute/Hadoop-MapReduce.md
  docs/cn/compute/Hive.md
  docs/cn/compute/Spark.md
  docs/en/compute/Hadoop-MapReduce.md
  docs/en/compute/Hive.md
  docs/en/compute/Spark.md
  integration/checker/bin/alluxio-checker.sh
  integration/checker/bin/hive-checker.sh
  integration/checker/bin/mapreduce-checker.sh
  integration/checker/bin/spark-checker.sh
  integration/checker/pom.xml
  integration/checker/src/main/java/alluxio/checker/CheckerUtils.java
  integration/checker/src/main/java/alluxio/checker/HiveIntegrationChecker.java
  integration/checker/src/main/java/alluxio/checker/MapReduceIntegrationChecker.java
  integration/checker/src/main/java/alluxio/checker/SparkIntegrationChecker.java
  integration/checker/src/main/resources/log4j2.xml
  integration/pom.xml
Labels: POM Change

#11849 Update maven plugins
  pom.xml
Labels: POM Change

#11895 Add jaxb runtime support for java 11
  core/server/common/pom.xml
  pom.xml
  table/server/underdb/glue/pom.xml
  underfs/s3a/pom.xml
Labels: POM Change

#11922 Revert jets3t to 0.8.1
  pom.xml
  underfs/gcs/src/main/java/alluxio/underfs/gcs/GCSUnderFileSystem.java
Labels: POM Change

#11905 Upgrade from log4j to log4j2
  integration/tools/hms/pom.xml
  logserver/pom.xml
  pom.xml
  shaded/client/pom.xml
  shaded/hadoop/pom.xml
  underfs/pom.xml
Labels: POM Change

#11927 Fix shaded client duplicate jackson.core.ObjectCodec entry
  shaded/client/pom.xml
Labels: POM Change

#11926 Remove mesos from pom
  assembly/server/pom.xml
Labels: POM Change

#11911 Upgrade jline to jline 3.16
  integration/tools/validation/pom.xml
  integration/tools/validation/src/main/java/alluxio/cli/hdfs/HdfsConfValidationTask.java
  pom.xml
  shell/pom.xml
  shell/src/main/java/alluxio/cli/bundler/command/CollectLogCommand.java
  shell/src/main/java/alluxio/cli/fs/command/HelpCommand.java
Labels: API Change, POM Change

#11914 Upgrade to jakarta.ws 2.1.6
  core/server/common/pom.xml
  core/server/master/pom.xml
  core/server/proxy/pom.xml
  core/server/worker/pom.xml
  pom.xml
  tests/pom.xml
Labels: POM Change

#11931 Try to fix duplicate logging library
  shaded/client/pom.xml
Labels: POM Change

#11871 Replace alluxio.worker.memory.size with alluxio.worker.ramdisk.size
  README.md
  bin/alluxio-mount.sh
  conf/alluxio-site.properties.template
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  docs/_data/table/cn/worker-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/worker-configuration.csv
  docs/cn/core-services/Caching.md
  docs/cn/deploy/Requirements.md
  docs/cn/deploy/Running-AlluxioFuse-On-Docker.md
  docs/cn/operation/Troubleshooting.md
  docs/en/cloud/Google-Dataproc.md
  docs/en/core-services/Caching.md
  docs/en/deploy/Requirements.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/operation/Troubleshooting.md
  integration/dataproc/alluxio-dataproc.sh
  integration/kubernetes/helm-chart/alluxio/templates/config/alluxio-conf.yaml
  integration/vagrant/ansible/roles/alluxio/tasks/config.yml
  integration/yarn/bin/alluxio-worker-yarn.sh
  integration/yarn/src/main/java/alluxio/yarn/ApplicationMaster.java
  integration/yarn/src/main/java/alluxio/yarn/Client.java
  integration/yarn/src/test/java/alluxio/yarn/ClientTest.java
  libexec/alluxio-config.sh
  tests/src/test/java/alluxio/client/cli/fs/AbstractShellIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fs/GetConfTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/PinCommandMultipleMediaIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileInStreamRehydrationIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileOutStreamAsyncWriteIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileSystemMasterIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileSystemMasterRestartIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/IsolatedFileSystemIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/UfsFallbackFileOutStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/rest/AlluxioMasterRestApiTest.java
  tests/src/test/java/alluxio/client/rest/AlluxioWorkerRestApiTest.java
  tests/src/test/java/alluxio/job/JobIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MultiWorkerIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/journal/TableMasterJournalIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/CapacityUsageIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/LostStorageIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/SpecificTierWriteIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/TierPromoteIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/TieredStoreIntegrationTest.java
Labels: API Change

#11928 Fix classloader related test failures
  core/common/src/test/java/alluxio/conf/InstancedConfigurationTest.java
  core/common/src/test/java/alluxio/network/TieredIdentityFactoryTest.java
  core/common/src/test/java/alluxio/test/util/CommonUtils.java
  pom.xml
  tests/src/test/java/alluxio/server/auth/MasterClientAuthenticationIntegrationTest.java
Labels: POM Change

#11933 Update swagger annotations and plugin
  pom.xml
Labels: POM Change

#11941 Upgrade jetty to address cve
  pom.xml
Labels: POM Change

#11955 Update grpc and netty to resolve CVEs
  integration/tools/validation/pom.xml
  pom.xml
Labels: POM Change

#11872 [DOCFIX] Update Chinese Caching Doc
  docs/cn/core-services/Caching.md
Labels: Doc Fix

#11920 [DOCFIX] Add Chinese Ozone Doc
  docs/cn/ufs/Ozone.md
Labels: Doc Fix

#11873 [DOCFIX] Add Chinese Spark on Kubernetes Doc
  docs/cn/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#11814 Enable the JVM pause monitor by default
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/JvmPauseMonitor.java
  core/common/src/test/java/alluxio/TestLoggerRule.java
  core/common/src/test/java/alluxio/util/JvmPauseMonitorTest.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
Labels: API Change

#11836 [DOCFIX] Add Chinese Catalog.md Doc
  docs/cn/core-services/Catalog.md
Labels: Doc Fix

#11837 [DOCFIX] Update Unified-Namespace.md Chinese Doc
  docs/cn/core-services/Unified-Namespace.md
Labels: Doc Fix

#11957 [DOCFIX] Update Glue User CLI
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#11956 Remove guice dependency
  pom.xml
  shaded/hadoop/pom.xml
Labels: POM Change

#11967 [DOCFIX] Update docker and k8s page w.r.t. short-circuit ops
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11969 [DOCFIX] Remove one of the empty lines at the end of Ozone doc
  docs/cn/ufs/Ozone.md
Labels: Doc Fix

#11970 [DOCFIX] Add back empty end of file line in Ozone doc
  docs/cn/ufs/Ozone.md
Labels: Doc Fix

#11962 Create a compatibility layer to handle older hive metastores
  table/server/underdb/glue/pom.xml
  table/server/underdb/hive/pom.xml
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/CompatibleMetastoreClient.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/HMSClientFactory.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/HMSShim.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/HiveClientPool.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/HiveCompatibility.java
Labels: POM Change

#11874 [DOCFIX] Add Chinese Tensorflow Document
  docs/cn/compute/Tensorflow.md
Labels: Doc Fix

#11982 Revert rocksdb version
  pom.xml
Labels: POM Change

#11990 Fix tools.jar dependency
  table/server/underdb/glue/pom.xml
  table/server/underdb/hive/pom.xml
Labels: POM Change

#11958 Add node sizing recommendations to scalability tuning document
  docs/en/deploy/Requirements.md
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#12004 Update metadata sync guidelines
  docs/en/core-services/Unified-Namespace.md
  docs/img/unified-namespace-metadata-sync-performance.png
Labels: Doc Fix

#12014 Downgrade grpc to 1.28.1 and upgrade netty to 4.1.51.Final
  pom.xml
Labels: POM Change

#12024 [DOCFIX] Fix link formatting in cn/User-CLI doc
  docs/cn/ufs/GCS.md
Labels: Doc Fix

#11940 Migrate state machine to ratis
  core/server/common/pom.xml
  core/server/common/src/main/java/alluxio/master/journal/DefaultJournalMaster.java
  core/server/common/src/main/java/alluxio/master/journal/JournalMaster.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalWriter.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftPrimarySelector.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  pom.xml
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/TriggeredCheckpointTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTest.java
Labels: POM Change

#12027 Add <parent> declaration to webui pom
  pom.xml
  webui/common/.eslintrc.js
  webui/common/.prettierrc.js
  webui/common/src/components/LineGraph/LineGraph.scss
  webui/common/src/utilities/nivo/transformToNivoFormat.tsx
  webui/master/.eslintrc.js
  webui/master/.prettierrc.js
  webui/master/src/store/init/reducer.tsx
  webui/pom.xml
  webui/worker/.eslintrc.js
  webui/worker/.prettierrc.js
Labels: POM Change

#12038 Undo upgrade of maven-surefire-plugin
  pom.xml
Labels: POM Change
