Repository Alluxio/alluxio, pull requests merged in 2020-06, with the labels that each got.

#11484 Add hive metastore connectivity and permission check tool
  bin/alluxio
  core/server/master/pom.xml
  docs/en/operation/User-CLI.md
  integration/pom.xml
  integration/tools/pom.xml
  integration/tools/src/main/java/alluxio/cli/ValidateHms.java
  integration/tools/src/main/java/alluxio/cli/ValidateUtils.java
  pom.xml
  shell/pom.xml
  shell/src/main/java/alluxio/cli/HmsTests.java
Labels: POM Change

#11497 Remove jetty all dependencies from hive metastore jar
  integration/tools/pom.xml
Labels: POM Change

#11505 [DOCFIX] Add instructions to turn on UFS logging
  docs/en/operation/Basic-Logging.md
Labels: Doc Fix

#11457 Fix dependencies
  core/client/fs/pom.xml
  pom.xml
Labels: POM Change

#11494 Optimize browse input width
  webui/master/src/containers/pages/Browse/Browse.scss
Labels: area-webui

#11504 Fix NPE associated with s3 account owner
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/CommonUtils.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
  underfs/s3a/src/test/java/alluxio/underfs/s3a/S3AUnderFileSystemTest.java
Labels: API Change

#11467 Add Ozone UFS documentation
  docs/en/ufs/Ozone.md
Labels: Doc Fix

#11531 Add Cloud Native section to docs
  docs/_config.yml
  docs/en/cloud/AWS-EMR.md
  docs/en/cloud/Alluxio-Presto-AMI.md
  docs/en/cloud/Google-Dataproc.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11519 Change hms validation tool to use extension class loader
  bin/alluxio
  core/common/src/main/java/alluxio/cli/ValidationTool.java
  core/common/src/main/java/alluxio/cli/ValidationToolFactory.java
  core/common/src/main/java/alluxio/cli/ValidationToolRegistry.java
  core/common/src/main/java/alluxio/cli/ValidationUtils.java
  core/server/master/pom.xml
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  integration/tools/hms/pom.xml
  integration/tools/hms/src/main/java/alluxio/cli/HmsValidationTool.java
  integration/tools/hms/src/main/java/alluxio/cli/HmsValidationToolFactory.java
  integration/tools/hms/src/main/resources/META-INF/services/alluxio.cli.ValidationToolFactory
  integration/tools/pom.xml
  pom.xml
  shell/pom.xml
  shell/src/main/java/alluxio/cli/HmsTests.java
Labels: POM Change

#11537 Add a cache for PropertyKey.isValid
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HadoopConfigurationUtils.java
  core/client/hdfs/src/test/java/alluxio/hadoop/HadoopConfigurationUtilsTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#11546 Port changes of [#11537] to branch-2.2
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HadoopConfigurationUtils.java
  core/client/hdfs/src/test/java/alluxio/hadoop/HadoopConfigurationUtilsTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#11535 Implement interrupt based locking protocol over state-lock
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/resource/LockResource.java
  core/server/common/src/main/java/alluxio/master/AbstractMaster.java
  core/server/common/src/main/java/alluxio/master/MasterContext.java
  core/server/common/src/main/java/alluxio/master/StateLockManager.java
  core/server/common/src/main/java/alluxio/master/StateLockOptions.java
  core/server/common/src/main/java/alluxio/master/journal/StateChangeJournalContext.java
  core/server/common/src/test/java/alluxio/master/StateLockManagerTest.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/backup/BackupOps.java
  core/server/master/src/main/java/alluxio/master/backup/BackupWorkerRole.java
  core/server/master/src/main/java/alluxio/master/meta/DailyMetadataBackup.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMasterClientServiceHandler.java
  core/server/master/src/test/java/alluxio/master/journal/JournalContextTest.java
  core/server/master/src/test/java/alluxio/master/meta/DailyMetadataBackupTest.java
  core/transport/src/main/proto/grpc/meta_master.proto
  tests/src/test/java/alluxio/client/cli/fsadmin/BackupCommandIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fsadmin/BackupCommandStateLockingIntegrationTest.java
Labels: API Change

#11581 Bump master-network msg size to 100MB
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#11573 Reduce number of clients in DistributedLoadCommand
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/DistributedLoadCommandTest.java
Labels: API Change

#11585 Reduce number of clients in DistributedLoadCommand
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#11588 Implement interrupt based locking protocol over state-lock
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/resource/LockResource.java
  core/common/src/main/java/alluxio/resource/RefCountLockResource.java
  core/server/common/src/main/java/alluxio/master/AbstractMaster.java
  core/server/common/src/main/java/alluxio/master/MasterContext.java
  core/server/common/src/main/java/alluxio/master/StateLockManager.java
  core/server/common/src/main/java/alluxio/master/StateLockOptions.java
  core/server/common/src/main/java/alluxio/master/journal/StateChangeJournalContext.java
  core/server/common/src/test/java/alluxio/master/StateLockManagerTest.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/backup/BackupOps.java
  core/server/master/src/main/java/alluxio/master/backup/BackupWorkerRole.java
  core/server/master/src/main/java/alluxio/master/meta/DailyMetadataBackup.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMasterClientServiceHandler.java
  core/server/master/src/test/java/alluxio/master/journal/JournalContextTest.java
  core/server/master/src/test/java/alluxio/master/meta/DailyMetadataBackupTest.java
  core/transport/src/grpc/meta_master.proto
  tests/src/test/java/alluxio/client/cli/fsadmin/BackupCommandIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fsadmin/BackupCommandStateLockingIntegrationTest.java
Labels: API Change

#11601 Use accordians for K8s troubleshooting
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11595 Update version check
  core/common/src/main/java-templates/alluxio/ProjectConstants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/UpdateCheck.java
  core/server/master/src/main/java/alluxio/master/meta/UpdateChecker.java
  pom.xml
Labels: API Change, POM Change

#11604 Change backup delegation property defaults
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#11615 Bump commons-compress from 1.16.1 to 1.19
  pom.xml
Labels: POM Change

#11617 Bump jetty version from 9.2.28 to 9.4.28
  core/server/master/src/main/java/alluxio/web/MasterWebServer.java
  core/server/worker/src/main/java/alluxio/web/WorkerWebServer.java
  pom.xml
Labels: POM Change

#11634 [DOCFIX] Add more notes to alluxio presto ami doc
  docs/en/cloud/Alluxio-Presto-AMI.md
Labels: Doc Fix

#11645 [DOCFIX] Use different properties corresponding to domain socket types
  docs/en/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#11636 [DOCFIX] Update transformation docs
  docs/en/core-services/Transformation.md
Labels: Doc Fix

#11654 [DOCFIX] Update Metric docs
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#11655 [DOCFIX] Update Tiered Locality docs
  docs/en/operation/Tiered-Locality.md
Labels: Doc Fix

#11656 [DOCFIX] Update Contributor Tools docs
  docs/en/contributor/contributor-tools.md
Labels: Doc Fix

#11658 [DOCFIX] Add example Ozone configuration files
  docs/en/ufs/Ozone.md
Labels: Doc Fix

#11661 [DOCFIX] Add software requirements for FUSE
  docs/en/deploy/Requirements.md
Labels: Doc Fix

#11653 [DOCFIX] Update Caching Docs
  docs/en/core-services/Caching.md
Labels: Doc Fix

#11651 [DOCFIX] Fix presto doc
  docs/cn/compute/Presto.md
  docs/en/compute/Presto.md
Labels: Doc Fix

#11652 Disable hostPID by default
  integration/kubernetes/helm-chart/alluxio/CHANGELOG.md
  integration/kubernetes/helm-chart/alluxio/values.yaml
Labels: area-k8s

#11631 [DOCFIX] Update unified namespace docs
  docs/en/core-services/Unified-Namespace.md
Labels: Doc Fix

#11649 [DOCFIX] Update code conventions doc
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#11675 Fix Tensorflow documentation classify_image.py url
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#11632 [DOCFIX] Update spark docs
  docs/en/compute/Spark.md
Labels: Doc Fix

#11638 [DOCFIX] Update presto docs
  docs/en/compute/Presto.md
Labels: Doc Fix

#11643 [DOCFIX] Update perf docs
  docs/en/operation/Performance-Tuning.md
Labels: Doc Fix

#11690 [DOCFIX] Fix typo in collectInfo usage info
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#11687 [DOCFIX] Add instructions for Presto versions with support for SDS
  docs/en/core-services/Catalog.md
Labels: Doc Fix
