Repository Alluxio/alluxio, pull requests merged in 2020-07, with the labels that each got.

#11688 [DOCFIX] Add runHdfsMountTests and runUfsIOTest to UserCLI doc
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#11666 [DOCFIX] Fix fuse doc
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#11701 Fix spaces in navtab titles
  docs/_plugins/nav-tabs.rb
Labels: Doc Fix

#11695 [DOCFIX] Update FAQ about Alluxio book
  docs/cn/overview/FAQ.md
  docs/en/overview/FAQ.md
  docs/img/alluxio_book.png
Labels: Doc Fix

#11696 Add Alibaba Cloud ACK document
  docs/en/cloud/Alibaba-Cloud-ACK.md
Labels: Doc Fix

#11633 [DOCFIX] Improve troubleshooting doc
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#11700 [DOCFIX] Update 'Caching' doc for multi-tier management changes
  docs/en/core-services/Caching.md
Labels: Doc Fix

#11734 [DOCFIX] Add docs Deploy-Alluxio-Fuse-for-Deep-Learning.md
  docs/cn/deploy/Running-AlluxioFuse-On-Docker.md
Labels: Doc Fix

#11739 [DOCFIX] Update Cluster doc
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#11745 [DOCFIX] Fix spelling mistakes of Running-AlluxioFuse-On-Docker.md
  docs/cn/deploy/Running-AlluxioFuse-On-Docker.md
Labels: Doc Fix

#11740 Add chinese version of Documentation-Conventions.md
  docs/cn/contributor/Documentation-Conventions.md
Labels: Doc Fix

#11749 Remove outdated CN docs to be consistent with EN
  docs/cn/compute/Flink.md
  docs/cn/compute/Zeppelin.md
  docs/cn/deploy/Running-Alluxio-Fault-Tolerant-on-EC2.md
  docs/cn/deploy/Running-Alluxio-Yarn-Integration.md
  docs/cn/deploy/Running-Alluxio-Yarn-Standalone.md
  docs/cn/deploy/Running-Alluxio-on-EC2.md
  docs/cn/deploy/Running-Alluxio-on-GCE.md
  docs/cn/deploy/Running-Alluxio-on-Mesos.md
  docs/cn/deploy/Running-Alluxio-on-Virtual-Box.md
  docs/cn/index.html
  docs/cn/operation/Troubleshooting.md
Labels: Doc Fix

#11762 Fix typo in fuse doc
  docs/cn/deploy/Running-AlluxioFuse-On-Docker.md
Labels: Doc Fix

#11724 [DOCFIX] Improve logLevel command explanation
  docs/en/operation/Basic-Logging.md
Labels: Doc Fix

#11567 Add alluxio.hadoop.LocalCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileSystem.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AlluxioHdfsFileSystem.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AlluxioHdfsInputStream.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HadoopConfigurationUtils.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HadoopUtils.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HdfsFileInputStream.java
  core/client/hdfs/src/main/java/alluxio/hadoop/LocalCacheFileSystem.java
Labels: API Change

#11764 Display PropertyKeys containing keywords as credentials
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/conf/PropertyKeyTest.java
Labels: API Change

#11773 Update reference documentation for 2.3
  docs/_data/table/client-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
Labels: Doc Fix

#11798 Upgrade Junit from 4.12 to 4.13
  pom.xml
Labels: POM Change

#11799 Upgrade parquet libraries version from 1.10.0 to 1.11.0
  job/server/src/main/java/alluxio/job/plan/transform/CompactDefinition.java
  pom.xml
Labels: POM Change

#11800 Upgrade jackson from 2.10.1 to 2.11.1
  pom.xml
Labels: POM Change

#11808 Upgrade commons-lang3 from 3.4 to 3.11
  pom.xml
Labels: POM Change

#11806 Upgrade commons-io from 2.6 to 2.7
  pom.xml
Labels: POM Change

#11780 [DOCFIX] Update Chinese Deploy Docs Requirements, Local
  docs/cn/deploy/Requirements.md
  docs/cn/deploy/Running-Alluxio-Locally.md
Labels: Doc Fix

#11811 Upgrade httpclient to 4.5.6 and upgrade httpcore to 4.4.13
  pom.xml
Labels: POM Change

#11819 [DOCFIX] Fix broken link in cn Contributor Getting Started
  docs/cn/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#11797 [DOCFIX] Update Code-Convention Page with Javadoc guide
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#11830 Fix format in Code-Conventions page
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#11828 Upgrade jackson-datatype 0.9.10-jackson to 0.9.12
  core/server/common/pom.xml
Labels: POM Change

#11833 Update guava from 27.0.1-jre to 29.0-jre
  pom.xml
Labels: POM Change

#11815 [DOCFIX] Update Kubernetes Chinese docs
  docs/cn/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#9940 Remove dependency: commons-lang 2.x and commons-httpclient 3.x
  core/base/pom.xml
  core/base/src/main/java/alluxio/AlluxioURI.java
  core/base/src/main/java/alluxio/collections/PrefixList.java
  core/common/pom.xml
  core/common/src/main/java/alluxio/cli/AbstractShell.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelKey.java
  core/common/src/main/java/alluxio/grpc/GrpcServerAddress.java
  core/common/src/main/java/alluxio/metrics/sink/RegexMetricFilter.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystemFactoryRegistry.java
  core/common/src/main/java/alluxio/util/CommonUtils.java
  core/common/src/main/java/alluxio/util/LogUtils.java
  core/common/src/main/java/alluxio/util/network/HttpUtils.java
  core/common/src/main/java/alluxio/wire/BackupStatus.java
  core/server/common/src/main/java/alluxio/ProcessUtils.java
  core/server/common/src/main/java/alluxio/master/journal/JournalUtils.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/FaultTolerantAlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/metrics/MetricsMasterClientServiceHandler.java
  core/server/master/src/test/java/alluxio/master/meta/checkconf/ServerConfigurationCheckerTest.java
  core/server/master/src/test/java/alluxio/master/meta/checkconf/ServerConfigurationStoreTest.java
  core/server/proxy/src/main/java/alluxio/proxy/AlluxioProxyProcess.java
  core/server/worker/pom.xml
  core/server/worker/src/test/java/alluxio/worker/block/TieredBlockStoreTestUtils.java
  integration/tools/validation/src/main/java/alluxio/cli/hdfs/SecureHdfsValidationTask.java
  job/common/src/main/java/alluxio/job/wire/TaskInfo.java
  job/server/src/main/java/alluxio/worker/job/task/TaskExecutor.java
  pom.xml
  shell/pom.xml
  shell/src/main/java/alluxio/cli/LogLevel.java
  shell/src/main/java/alluxio/cli/bundler/CollectInfo.java
  shell/src/main/java/alluxio/cli/docgen/ConfigurationDocGenerator.java
  shell/src/main/java/alluxio/cli/docgen/MetricsDocGenerator.java
  shell/src/main/java/alluxio/cli/fs/command/CpCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/command/BackupCommand.java
  table/server/common/src/main/java/alluxio/table/common/layout/HiveLayout.java
  table/server/common/src/main/java/alluxio/table/common/transform/action/CompactAction.java
  tests/src/test/java/alluxio/client/cli/fs/ConfigurationDocGeneratorTest.java
  tests/src/test/java/alluxio/client/rest/TestCaseOptionsTest.java
  underfs/cos/src/main/java/alluxio/underfs/cos/COSInputStream.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/GCSInputStream.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/GCSUnderFileSystem.java
  underfs/kodo/src/main/java/alluxio/underfs/kodo/KodoClient.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AInputStream.java
  underfs/web/src/main/java/alluxio/underfs/web/WebUnderFileSystem.java
Labels: API Change, POM Change

#11818 Upgrade zookeeper from 3.5.5 to 3.5.8
  core/common/pom.xml
  pom.xml
Labels: POM Change

#11843 Revert kubernetes docs
  docs/cn/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11826 [DOCFIX] Improve docker documentation
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#11845 Fix format in Code-Conventions.md
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#11842 Replace anonymous class with lambda
  shell/src/main/java/alluxio/cli/LogLevel.java
Labels: API Change

#11781 [DOCFIX] Update Chinese Deploy Docs Cluster
  docs/cn/deploy/Running-Alluxio-on-a-Cluster.md
Labels: Doc Fix

#11835 [DOCFIX] Add Transformation.md Chinese Version
  docs/cn/core-services/Transformation.md
Labels: Doc Fix

#11854 [DOCFIX] Update Kubernetes Deploy Documentation
  docs/cn/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11858 Shade out mozilla/public-suffix-list.txt
  shaded/client/pom.xml
Labels: POM Change

#11855 [DOCFIX] Improve K8s troubleshooting doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#11782 [DOCFIX] Add Chinese version of Running-Alluxio-On-a-HA-Cluster.md
  docs/cn/deploy/Running-Alluxio-On-a-HA-Cluster.md
Labels: Doc Fix

#11851 Enable compilation under jdk 11
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/common.go
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  integration/tools/hms/pom.xml
  pom.xml
  shaded/hadoop/pom.xml
  table/server/underdb/glue/pom.xml
  underfs/hdfs/pom.xml
Labels: API Change, POM Change

#11862 Remove legacy mesos scheduler
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  integration/mesos/bin/alluxio-env-mesos.sh
  integration/mesos/bin/alluxio-master-mesos.sh
  integration/mesos/bin/alluxio-mesos-start.sh
  integration/mesos/bin/alluxio-mesos-stop.sh
  integration/mesos/bin/alluxio-worker-mesos.sh
  integration/mesos/bin/common.sh
  integration/mesos/pom.xml
  integration/mesos/src/main/java/alluxio/mesos/AlluxioFramework.java
  integration/mesos/src/main/java/alluxio/mesos/AlluxioMasterExecutor.java
  integration/mesos/src/main/java/alluxio/mesos/AlluxioScheduler.java
  integration/mesos/src/main/java/alluxio/mesos/AlluxioWorkerExecutor.java
  integration/mesos/src/main/java/alluxio/mesos/OfferUtils.java
  pom.xml
Labels: POM Change
