Repository Alluxio/alluxio, pull requests merged in 2020-10, with the labels that each got.

#12148 [DOCFIX] Fix deploy Alluxio on a Cluster with HA
  docs/cn/deploy/Running-Alluxio-On-a-HA-Cluster.md
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
Labels: Doc Fix

#12174 Implement a local first raft client for improved journal performance
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/LocalFirstRaftClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalWriter.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTest.java
Labels: API Change

#12181 Implement raft journal and snapshot management with Ratis
  conf/log4j.properties
  core/base/src/main/java/alluxio/Constants.java
  core/client/fs/src/main/java/alluxio/client/meta/RetryHandlingMetaMasterConfigClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/ServiceVersionClientServiceHandler.java
  core/common/src/main/java/alluxio/master/PollingMasterInquireClient.java
  core/common/src/main/java/alluxio/util/network/NetworkAddressUtils.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/server/common/pom.xml
  core/server/common/src/main/java/alluxio/master/journal/DefaultJournalMaster.java
  core/server/common/src/main/java/alluxio/master/journal/JournalMaster.java
  core/server/common/src/main/java/alluxio/master/journal/JournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalEntryCommand.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/LocalFirstRaftClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalConfiguration.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalServiceClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalServiceHandler.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalUtils.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalWriter.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftPrimarySelector.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotDownloader.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReaderStream.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotUploader.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotWriterStream.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingClient.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingClientConnection.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingConnection.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingContext.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingProxy.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServerConnection.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServiceClientHandler.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingThread.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingThreadFactory.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingTransport.java
  core/server/common/src/main/java/alluxio/master/transport/Listener.java
  core/server/common/src/main/java/alluxio/master/transport/Listeners.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/server/common/src/test/java/alluxio/master/transport/GrpcMessagingTransportTest.java
  core/server/master/src/main/java/alluxio/master/backup/AbstractBackupRole.java
  core/server/master/src/main/java/alluxio/master/backup/BackupHandshakeMessage.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/backup/BackupWorkerRole.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemMasterClient.java
  core/transport/src/main/proto/grpc/raft_journal.proto
  core/transport/src/main/proto/grpc/version.proto
  minicluster/src/main/java/alluxio/multi/process/MultiProcessCluster.java
  pom.xml
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTest.java
Labels: API Change, POM Change

#12186 [DOCFIX] Update memory requirement in doc
  docs/en/deploy/Requirements.md
Labels: Doc Fix

#12188 [DOCFIX] Update upgrade docs
  docs/en/operation/2.x-Upgrade.md
  docs/en/operation/Upgrade.md
Labels: Doc Fix

#12193 [DOCFIX] Add instruction for java 11
  docs/en/operation/Configuration.md
  docs/en/overview/FAQ.md
Labels: Doc Fix

#12198 Update the unified namespace documentation
  docs/en/core-services/Unified-Namespace.md
Labels: Doc Fix

#11942 Add -g option for du command
  shell/src/main/java/alluxio/cli/fs/command/DuCommand.java
  shell/src/test/java/alluxio/cli/fs/command/DuCommandTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/DuCommandIntegrationTest.java
Labels: API Change

#12205 [DOCFIX] Update catalog documentation
  docs/en/core-services/Catalog.md
Labels: Doc Fix

#12228 Add a faq chapter in Running-Alluxio-On-Docker.md
  docs/cn/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#12244 Run the docGen and automatically update properties
  docs/_data/table/client-metrics.csv
  docs/_data/table/cluster-management-configuration.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/Alluxio-FUSE-parameter.yml
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/cluster-management-configuration.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
Labels: Doc Fix

#12240 [DOCFIX] Update code conventions doc
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#12204 [DOCFIX] Update presto documentation
  docs/en/compute/Presto.md
Labels: Doc Fix

#12199 [DOCFIX] Update Spark compute documentation
  docs/en/compute/Spark.md
Labels: Doc Fix

#12210 [DOCFIX] Update dataproc docs
  docs/en/cloud/Google-Dataproc.md
Labels: Doc Fix

#12218 [DOCFIX] Update emr docs
  docs/en/cloud/AWS-EMR.md
Labels: Doc Fix

#12265 [DOCFIX] Update Use Cases doc
  docs/en/overview/Use-Cases.md
Labels: Doc Fix

#12266 [DOCFIX] Update Azure Blob Store doc
  docs/en/ufs/Azure-Blob-Store.md
Labels: Doc Fix

#12231 [DOCFIX] Update contributor guide doc obsolete link
  docs/en/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#12270 [DOCFIX] Update Running Alluxio on HA cluster docs
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
Labels: Doc Fix

#12272 [DOCFIX] Update Admin CLI doc
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#12224 [DOCFIX] Improve collectInfo doc
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#12230 [DOCFIX] Improve Alibaba ACK doc
  docs/en/cloud/Alibaba-Cloud-ACK.md
Labels: Doc Fix

#12262 [DOCFIX] Update security docs
  docs/en/operation/Security.md
Labels: Doc Fix

#12264 [DOCFIX] Update caching docs
  docs/en/core-services/Caching.md
Labels: Doc Fix

#12285 [DOCFIX] Fix dataproc example with local hdfs ufs
  docs/en/cloud/Google-Dataproc.md
Labels: Doc Fix

#12271 [DOCFIX] Update scalability docs
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#12290 [DOCFIX] Add Java 11 supported comment
  docs/en/deploy/Requirements.md
Labels: Doc Fix

#12248 [DOCFIX] Revise hdfs docs
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#12206 [DOCFIX] Update performance tuning documentation
  docs/en/operation/Performance-Tuning.md
Labels: Doc Fix

#12263 [DOCFIX] Update docs for mapreduce
  docs/en/compute/Hadoop-MapReduce.md
Labels: Doc Fix

#12296 [DOCFIX] Update Tired Locality Doc
  docs/en/operation/Tiered-Locality.md
Labels: Doc Fix

#12299 [DOCFIX] Add a section on java 11 to structured data
  docs/en/compute/Presto.md
  docs/en/core-services/Catalog.md
Labels: Doc Fix

#12226 Upgrade Ozone ufs to 1.0.0 version
  docs/cn/ufs/Ozone.md
  docs/en/ufs/Ozone.md
  pom.xml
  shaded/ozone/pom.xml
  shaded/pom.xml
  underfs/ozone/pom.xml
Labels: POM Change

#12201 Add Java 11 github-actions
  .github/workflows/java11_integration_tests.yml
  .github/workflows/java11_unit_tests.yml
  .github/workflows/java8_integration_tests.yml
  .github/workflows/java8_unit_tests.yml
  dev/github/run_tests.sh
  pom.xml
Labels: POM Change

#12319 [DOCFIX] Update the metrics doc with cluster performance metrics
  docs/en/operation/Metrics-System.md
  docs/img/screenshot_generalMetrics.png
Labels: Doc Fix

#12275 Update Journal management doc and deprecated properties
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  docs/en/operation/Journal.md
  docs/en/operation/User-CLI.md
Labels: API Change

#12324 [DOCFIX] Update Metastore Doc
  docs/en/operation/Metastore.md
Labels: Doc Fix

#12318 [DOCFIX] Improve on hive doc
  docs/en/compute/Hive.md
Labels: Doc Fix

#12232 [DOCFIX]Optimize alluxio ha documentation
  docs/cn/deploy/Running-Alluxio-On-a-HA-Cluster.md
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
Labels: Doc Fix

#12335 [DOCFIX] Fix formatting in docs
  docs/cn/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#12257 [DOCFIX] Clarify the consistency and writing with ASYNC_THROUGH
  docs/en/overview/Architecture.md
Labels: Doc Fix

#12337 Revert "Upgrade Ozone ufs to 1.0.0 version"
  docs/cn/ufs/Ozone.md
  docs/en/ufs/Ozone.md
  pom.xml
  shaded/ozone/pom.xml
  shaded/pom.xml
  underfs/ozone/pom.xml
Labels: POM Change

#12342 Revert "Upgrade Ozone ufs to 1.0.0 version"
  docs/cn/ufs/Ozone.md
  docs/en/ufs/Ozone.md
  pom.xml
  shaded/ozone/pom.xml
  shaded/pom.xml
  underfs/ozone/pom.xml
Labels: POM Change

#12317 [DOCFIX] Improve contributor guide doc
  docs/en/contributor/Contributor-Tools.md
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#12352 Bump hadoop-azure pkg version to 2.10.0
  underfs/adl/pom.xml
  underfs/wasb/pom.xml
Labels: POM Change

#12315 Add client-side API to iterate on results of listStatus
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemCache.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemMasterClient.java
  core/client/fs/src/main/java/alluxio/client/file/MetadataCachingBaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/RetryHandlingFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AlluxioHdfsFileSystem.java
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/retry/RetryUtils.java
  shell/src/main/java/alluxio/cli/fs/command/CountCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DuCommand.java
  shell/src/main/java/alluxio/cli/fs/command/LsCommand.java
  shell/src/test/java/alluxio/cli/fs/command/DuCommandTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/CountCommandTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/LsCommandIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/LsCommandSecurityIntegrationTest.java
Labels: API Change

#12361 Upgrade JUnit 4.13 to 4.13.1 to fix security vulnerability
  pom.xml
Labels: POM Change

#12367 Add a releaseProfile to generate dependency reduced pom
  pom.xml
  shaded/client/pom.xml
  shaded/hadoop/pom.xml
Labels: POM Change

#12371 Upgrade Ozone ufs to 1.0.0 version
  docs/cn/ufs/Ozone.md
  docs/en/ufs/Ozone.md
  pom.xml
  shaded/ozone/pom.xml
  shaded/pom.xml
  underfs/ozone/pom.xml
Labels: POM Change

#12378 Revert "Upgrade JUnit 4.13 to 4.13.1 to fix security vulnerability"
  pom.xml
Labels: POM Change

#12387 [DOCFIX] Update tested Presto version
  docs/en/compute/Presto.md
Labels: Doc Fix

#12397 [DOCFIX] Add more guidance on K8s port forwarding
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#12385 Check and fail page store operation after timeout
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/TimeBoundPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/PageStoreOptions.java
  core/client/fs/src/test/java/alluxio/client/file/cache/HangingPageStore.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/TimeBoundPageStoreTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
Labels: API Change

#12419 Downgrade hive client version in validation tools
  integration/tools/hms/pom.xml
Labels: POM Change

#12416 [DOCFIX] Add Job Service docs
  docs/en/operation/Admin-CLI.md
  docs/en/overview/FAQ.md
  docs/en/overview/Getting-Started.md
  docs/en/overview/JobService.md
  docs/en/overview/Use-Cases.md
Labels: Doc Fix

#12408 Upgrade swagger-maven-plugin from 3.1.1 to 3.1.7
  pom.xml
Labels: POM Change
