Repository Alluxio/alluxio, pull requests merged in 2021-01, with the labels that each got.

#12696 Add a configuration parameter for async cache manager workqueue size
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/grpc/GrpcExecutors.java
Labels: API Change

#12658 Change to journal large table partitions separately
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/JournalEntryAssociation.java
  core/server/common/src/test/java/alluxio/master/journal/JournalEntryAssociationTest.java
  core/transport/src/main/proto/proto/journal/journal.proto
  core/transport/src/main/proto/proto/journal/table.proto
  table/server/master/src/main/java/alluxio/master/table/AlluxioCatalog.java
  table/server/master/src/main/java/alluxio/master/table/BasePartitionScheme.java
  table/server/master/src/main/java/alluxio/master/table/Database.java
  table/server/master/src/main/java/alluxio/master/table/PartitionScheme.java
  table/server/master/src/main/java/alluxio/master/table/Table.java
  tests/src/test/java/alluxio/server/ft/journal/TableMasterJournalIntegrationTest.java
Labels: API Change

#12693 [DOCFIX] Add documents for running alluxio on tencent cloud EMR
  docs/cn/cloud/Tencent-Cloud-EMR.md
  docs/en/cloud/Tencent-Cloud-EMR.md
Labels: Doc Fix

#12682 Add a native profile to build jnifuse in compile phase
  integration/fuse/pom.xml
  integration/fuse/src/main/native/libjnifuse/Makefile
Labels: POM Change

#12705 Add Authentication to S3 API
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/web/ProxyWebServer.java
  tests/src/test/java/alluxio/client/rest/S3ClientRestApiTest.java
Labels: API Change

#12708 [DOCFIX] Fix COS_ALLUXIO_BUCKET Description
  docs/cn/ufs/COS.md
Labels: Doc Fix

#12713 Rename native flag for fuse to fuse-native
  integration/fuse/pom.xml
Labels: POM Change

#12746 [DOCFIX] Add JNI-Fuse general usage docs
  docs/_data/table/Alluxio-FUSE-parameter.csv
  docs/_data/table/en/Alluxio-FUSE-parameter.yml
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#12750 [DOCFIX] Add Fuse Docker/Kubernetes docs
  docs/cn/deploy/Running-AlluxioFuse-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#12743 Fix backup lock acquisition
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/server/common/src/main/java/alluxio/master/StateLockManager.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/test/java/alluxio/master/journal/JournalContextTest.java
  tests/src/test/java/alluxio/client/fs/io/FileOutStreamIntegrationTest.java
Labels: API Change

#11772 Support table quota for Local cache
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/DefaultMetaStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/MetaStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/NoExceptionCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageInfo.java
  core/client/fs/src/main/java/alluxio/client/file/cache/QuotaMetaStore.java
  core/client/fs/src/test/java/alluxio/client/file/cache/DefaultMetaStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/QuotaMetaStoreTest.java
  core/common/src/main/java/alluxio/client/file/URIStatus.java
  core/common/src/main/java/alluxio/client/quota/CacheQuota.java
  core/common/src/main/java/alluxio/client/quota/CacheScope.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/wire/FileInfo.java
  core/common/src/test/java/alluxio/client/quota/CacheScopeTest.java
Labels: API Change

#12770 Fix backup suspend timeout
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/StateLockManager.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/backup/BackupWorkerRole.java
Labels: API Change
