Repository Alluxio/alluxio, pull requests merged in 2021-12, with the labels that each got.

#14608 Enable standalone fuse JVM pause monitoring service
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
Labels: API Change

#14522 Fix s3 complete multipart upload request timeout
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadResult.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/MultipartUploadCleaner.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestUtils.java
  core/server/proxy/src/main/java/alluxio/web/ProxyWebServer.java
  docs/en/api/S3-API.md
  tests/src/test/java/alluxio/client/rest/S3ClientRestApiTest.java
Labels: API Change

#14575 Refactor ExecutorServiceBuilder and add to Worker gRPC server
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/common/src/main/java/alluxio/executor/ExecutorServiceBuilder.java
  core/server/common/src/test/java/alluxio/master/ExecutorServiceBuilderTest.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/worker/src/main/java/alluxio/worker/grpc/GrpcDataServer.java
Labels: API Change

#14629 Fix docGen and update configuration/metrics
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/fuse-metrics.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/en/worker-metrics.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/worker-metrics.csv
Labels: Doc Fix

#14625 [DOCFIX] Update The Contributor-Tools Doc
  docs/en/contributor/Contributor-Tools.md
Labels: Doc Fix

#14639 [DOCFIX] Fix doc
  docs/en/operation/StressBench.md
Labels: Doc Fix

#14642 Revert "Upgrade zookeeper from 3.5.5 to 3.5.8"
  core/common/pom.xml
  pom.xml
Labels: POM Change

#14530 Update DistributedLoad using cache request
  core/common/src/main/java/alluxio/exception/ExceptionMessage.java
  docs/en/operation/User-CLI.md
  job/common/src/main/java/alluxio/job/plan/load/LoadConfig.java
  job/common/src/test/java/alluxio/job/plan/load/LoadConfigTest.java
  job/common/src/test/java/alluxio/job/workflow/composite/CompositeConfigTest.java
  job/server/src/main/java/alluxio/job/plan/load/LoadDefinition.java
  job/server/src/main/java/alluxio/job/plan/replicate/ReplicateDefinition.java
  job/server/src/main/java/alluxio/job/util/JobUtils.java
  job/server/src/test/java/alluxio/job/plan/BatchedJobDefinitionTest.java
  job/server/src/test/java/alluxio/job/plan/load/LoadDefinitionTest.java
  job/server/src/test/java/alluxio/job/plan/replicate/ReplicateDefinitionTest.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
  stress/shell/src/main/java/alluxio/stress/cli/StressJobServiceBench.java
  tests/src/test/java/alluxio/client/cli/fs/command/DistributedLoadCommandTest.java
  tests/src/test/java/alluxio/job/plan/load/LoadIntegrationTest.java
Labels: API Change

#14651 Exclude findbugs dependency
  core/server/common/pom.xml
  core/server/worker/src/main/java/alluxio/worker/block/management/BlockManagementTaskResult.java
  pom.xml
Labels: POM Change

#14660 Change the thread pool for `CompletableFuture.runAsync`
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalConfiguration.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
Labels: API Change

#14663 Add a default hasSubCommand in Command
  core/common/src/main/java/alluxio/cli/Command.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectConfigCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectEnvCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectLogCommand.java
  shell/src/main/java/alluxio/cli/bundler/command/CollectMetricsCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/command/JournalCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/command/MetricsCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/command/PathConfCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/journal/QuorumCommand.java
Labels: API Change

#14665 Upgrade log4j to 2.15.0 to address CVE-2021-44228
  pom.xml
Labels: POM Change

#14671 Use boolean instead of String as default value type
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#14696 Upgrade log4j to 2.16.0
  pom.xml
Labels: POM Change

#14709 Upgrade log4j 2.17.0
  pom.xml
Labels: POM Change

#14703 Include missing Javadoc comments on public methods and classes
  build/checkstyle/alluxio_checks.xml
  build/checkstyle/suppressions.xml
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/common/src/main/java/alluxio/master/MasterInquireClient.java
  core/server/master/src/main/java/alluxio/master/file/meta/UfsAbsentPathCache.java
  core/server/master/src/main/java/alluxio/master/file/meta/UfsBlockLocationCache.java
  core/server/master/src/main/java/alluxio/master/metastore/BlockStore.java
  integration/fuse/src/main/java/alluxio/cli/command/AbstractFuseShellCommand.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/AbstractMetadataCacheSubCommand.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/DropAllCommand.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/DropCommand.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/SizeCommand.java
Labels: API Change

#14725 Use user-defined Hub cluster ID
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  hub/server/src/main/java/alluxio/hub/manager/process/ManagerProcessContext.java
Labels: API Change

#14750 [DOCFIX] Update unified-namespace doc
  docs/cn/core-services/Unified-Namespace.md
Labels: Doc Fix

#14675 Make recursive options consistent in the filesystem shell
  shell/src/main/java/alluxio/cli/fs/command/ChgrpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/ChmodCommand.java
  shell/src/main/java/alluxio/cli/fs/command/ChownCommand.java
  shell/src/main/java/alluxio/cli/fs/command/CpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/LsCommand.java
  shell/src/main/java/alluxio/cli/fs/command/RmCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/RmCommandIntegrationTest.java
Labels: API Change

#14755 [DOCFIX] Fix typo in tensorflow doc
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#14763 [DOCFIX] Fix tensorflow training script download
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#14764 Upgrade log4j to 2.17.1
  pom.xml
Labels: POM Change
