Repository Alluxio/alluxio, pull requests merged in 2021-06, with the labels that each got.

#13539 [DOCFIX] Improve contributing-tool doc
  docs/en/contributor/Contributor-Tools.md
Labels: Doc Fix

#13534 [DOCFIX] Improve security doc
  docs/en/operation/Security.md
Labels: Doc Fix

#13525 [DOCFIX] Improve basic-logging doc
  docs/en/operation/Basic-Logging.md
Labels: Doc Fix

#13545 [DOCFIX] Update Catalog doc
  docs/en/core-services/Catalog.md
Labels: Doc Fix

#13530 [DOCFIX] Improve scalability doc
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#13528 Fix NoClassDefFoundError #13527
  shaded/hadoop/pom.xml
  shaded/ozone/pom.xml
Labels: POM Change

#13404 [DOCFIX] Add java prerequisite to the contribution roadmap
  docs/en/contribution-roadmap/Knowledge.md
Labels: Doc Fix

#13546 [DOCFIX] Improve Docker POSIX doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#13526 [DOCFIX] Improve remote logging doc
  docs/en/operation/Remote-Logging.md
Labels: Doc Fix

#13538 [DOCFIX] Improve troubleshooting doc
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#13554 [DOCFIX] Fix typo for common configuration doc
  docs/_data/table/cn/common-configuration.yml
Labels: Doc Fix

#13559 [DOCFIX] Update scalability tuning doc
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#13553 [DOCFIX] Improve POSIX API Doc
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#13569 [DOCFIX] Improve S3 UFS documentation
  docs/en/ufs/S3.md
Labels: Doc Fix

#13568 [DOCFIX] Fix journal management doc
  docs/en/operation/Journal.md
Labels: Doc Fix

#13562 [DOCFIX] Update Reference doc by running alluxio docGen
  docs/_data/table/client-metrics.csv
  docs/_data/table/cluster-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/cluster-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-metrics.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-metrics.csv
Labels: Doc Fix

#13573 [DOCFIX] Add fix to errors that new users might get
  docs/en/overview/Getting-Started.md
  docs/img/screenshot_sharing_setting.png
Labels: Doc Fix

#13577 [DOCFIX] Clean up for Unified NS, Caching, and Configuration
  docs/en/core-services/Caching.md
  docs/en/core-services/Unified-Namespace.md
  docs/en/operation/Configuration.md
Labels: Doc Fix

#13536 Fix metrics performance regression
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/util/BucketCounter.java
  core/common/src/test/java/alluxio/util/BucketCounterTest.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/meta/AsyncUfsAbsentPathCache.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeCounter.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTreePersistentState.java
  core/server/master/src/main/java/alluxio/master/metastore/caching/Cache.java
Labels: API Change

#13589 [DOCFIX] Fix file name to capital
  docs/en/ufs/NFS.md
Labels: Doc Fix

#13591 [DOCFIX] Fix minor typo
  docs/en/overview/Getting-Started.md
Labels: Doc Fix

#13592 Change estimate of heap size per inode from 350 bytes to 2kb
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13579 [DOCFIX] Update k8s doc with new Helm additions
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#13608 [DOCFIX] Fix some grammar errors
  docs/en/ufs/WEB.md
Labels: Doc Fix

#13533 Fix failures reading data from HDFS files when HDFS EC is enabled
  shaded/hadoop/pom.xml
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
Labels: POM Change

#13625 [DOCFIX] Update swift doc
  docs/en/ufs/Swift.md
Labels: Doc Fix

#13627 [DOCFIX] Update S3 API doc
  docs/en/api/S3-API.md
Labels: Doc Fix

#13514 Support update config
  core/client/fs/src/main/java/alluxio/client/meta/MetaMasterConfigClient.java
  core/client/fs/src/main/java/alluxio/client/meta/RetryHandlingMetaMasterConfigClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMasterConfigurationServiceHandler.java
  core/transport/src/main/proto/grpc/meta_master.proto
  shell/src/main/java/alluxio/cli/fsadmin/command/UpdateConfCommand.java
  tests/src/test/java/alluxio/client/cli/fs/AbstractShellIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fsadmin/command/UpdateConfIntegrationTest.java
Labels: API Change

#13643 Support update config
  core/client/fs/src/main/java/alluxio/client/meta/MetaMasterConfigClient.java
  core/client/fs/src/main/java/alluxio/client/meta/RetryHandlingMetaMasterConfigClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMasterConfigurationServiceHandler.java
  core/transport/src/main/proto/grpc/meta_master.proto
  shell/src/main/java/alluxio/cli/fsadmin/command/UpdateConfCommand.java
  tests/src/test/java/alluxio/client/cli/fs/AbstractShellIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fsadmin/command/UpdateConfIntegrationTest.java
Labels: API Change

#13356 Implement Shadow Cache
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManagerWithShadowCache.java
  core/client/fs/src/test/java/alluxio/client/file/cache/CacheManagerWithShadowCacheTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
Labels: API Change

#13516 Fix various aspects of pin to specific medium
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcUtils.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTreePersistentState.java
  core/server/master/src/main/java/alluxio/master/file/meta/MutableInode.java
  core/server/master/src/main/java/alluxio/master/file/replication/ReplicationChecker.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMetadataManager.java
  core/transport/src/main/proto/grpc/file_system_master.proto
  job/common/src/main/java/alluxio/job/plan/replicate/MoveConfig.java
  job/common/src/main/java/alluxio/job/wire/JobInfo.java
  job/common/src/main/java/alluxio/job/wire/PlanInfo.java
  tests/src/test/java/alluxio/client/cli/fs/command/PinCommandMultipleMediaIntegrationTest.java
Labels: API Change

#13406 Support read(Bytebuffer buf) method in LocalCacheFileInStream
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/FileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/MockFileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AlluxioHdfsInputStream.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HdfsFileInputStream.java
  tests/src/test/java/alluxio/client/hadoop/HdfsFileInputStreamIntegrationTest.java
Labels: API Change

#13652 Port changes of #13241 to branch-2.4 (Manual)
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataWriter.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataWriter.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/user-configuration.csv
Labels: API Change

#13659 [DOCFIX] Update distributeLoad doc
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#13664 Update yarn version post release
  integration/yarn/pom.xml
Labels: POM Change

#13676 Remove aliyun repo
  pom.xml
Labels: POM Change

#13684 [DOCFIX] Remove extra space
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#13644 Add support for publishing REST from root path
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/proxy/src/main/java/alluxio/web/ProxyWebServer.java
Labels: API Change

#13695 Revert "Add support for publishing REST from root path"
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/proxy/src/main/java/alluxio/web/ProxyWebServer.java
Labels: API Change

#13689 Update Apache Ratis API to 2.0.0
  core/server/common/src/main/java/alluxio/master/journal/MasterJournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/LocalFirstRaftClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotDownloader.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalWriterTest.java
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  pom.xml
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTest.java
Labels: POM Change

#13675 Port changes of [#13516] to branch-2.5
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcUtils.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTreePersistentState.java
  core/server/master/src/main/java/alluxio/master/file/meta/MutableInode.java
  core/server/master/src/main/java/alluxio/master/file/replication/ReplicationChecker.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMetadataManager.java
  core/transport/src/main/proto/grpc/file_system_master.proto
  job/common/src/main/java/alluxio/job/plan/replicate/MoveConfig.java
  job/common/src/main/java/alluxio/job/wire/JobInfo.java
  job/common/src/main/java/alluxio/job/wire/PlanInfo.java
  tests/src/test/java/alluxio/client/cli/fs/command/PinCommandMultipleMediaIntegrationTest.java
Labels: API Change

#13679 Update cephfs and ceph rgw related documents
  docs/cn/overview/Getting-Started.md
  docs/cn/ufs/CephFS.md
  docs/cn/ufs/CephObjectStorage.md
  docs/en/overview/Getting-Started.md
  docs/en/ufs/CephFS.md
  docs/en/ufs/CephObjectStorage.md
Labels: Doc Fix
