Repository Alluxio/alluxio, pull requests merged in 2021-09, with the labels that each got.

#14004 [DOCFIX] Update Alluxio on k8s doc about worker pod OOMKilled
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#13944 Update default ZK path for jobmaster
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13837 Add configuration of min and max election timeout
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalConfiguration.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalConfigurationTest.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/master-configuration.csv
  tests/src/test/java/alluxio/client/cli/fsadmin/command/QuorumCommandIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTest.java
Labels: API Change

#14054 [DOCFIX] Fix typo in cn/core-services/Caching.html #14053
  docs/cn/core-services/Caching.md
Labels: Doc Fix

#13799 Update load command using new cache request
  core/client/fs/src/main/java/alluxio/client/block/AlluxioBlockStore.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/block/stream/DefaultBlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/options/InStreamOptions.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/common/src/main/java/alluxio/Sessions.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/worker/block/BlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/AsyncCacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/block/CacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWorkerClientServiceHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/GrpcExecutors.java
  core/server/worker/src/test/java/alluxio/worker/block/CacheRequestManagerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/NoopBlockWorker.java
  core/server/worker/src/test/java/alluxio/worker/grpc/GrpcExecutorsTest.java
  core/transport/src/main/proto/grpc/block_worker.proto
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
Labels: API Change

#13949 Add job service stress bench
  shell/src/main/java/alluxio/cli/fs/command/AbstractDistributedJobCommand.java
  stress/common/src/main/java/alluxio/stress/jobservice/JobServiceBenchOperation.java
  stress/common/src/main/java/alluxio/stress/jobservice/JobServiceBenchParameters.java
  stress/common/src/main/java/alluxio/stress/jobservice/JobServiceBenchSummary.java
  stress/common/src/main/java/alluxio/stress/jobservice/JobServiceBenchTaskResult.java
  stress/common/src/main/java/alluxio/stress/jobservice/JobServiceBenchTaskResultStatistics.java
  stress/shell/pom.xml
  stress/shell/src/main/java/alluxio/stress/cli/StressJobServiceBench.java
Labels: POM Change

#14044 Add property to skip listing broken symlinks on local UFS
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  underfs/local/src/main/java/alluxio/underfs/local/LocalUnderFileSystem.java
  underfs/local/src/test/java/alluxio/underfs/local/LocalUnderFileSystemTest.java
Labels: API Change

#14066 Fix printout bug for load command
  core/server/worker/src/main/java/alluxio/worker/block/CacheRequestManager.java
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
Labels: API Change

#13671 Add a metrics to track master RPC tput
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  core/server/common/src/main/java/alluxio/RpcUtils.java
Labels: perf-impact

#14071 Remove com.github.spotbugs:spotbugs-annotations
  core/client/fs/src/main/java/alluxio/client/block/stream/SharedGrpcDataReader.java
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/annotation/SuppressFBWarnings.java
  core/common/src/main/java/alluxio/concurrent/WeakSafeReentrantReadWriteLock.java
  core/common/src/main/java/alluxio/grpc/GrpcServerBuilder.java
  core/common/src/main/java/alluxio/grpc/ServiceVersionClientServiceHandler.java
  core/common/src/main/java/alluxio/security/user/UserState.java
  core/common/src/main/java/alluxio/util/executor/ControllableScheduler.java
  core/server/common/src/main/java/alluxio/master/journal/AsyncJournalWriter.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/util/EnvironmentUtils.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/journal/tool/JournalTool.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWorkerClientServiceHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWriteHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/UfsFallbackBlockWriteHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/UfsFileWriteHandler.java
  pom.xml
  stress/common/src/main/java/alluxio/stress/common/SummaryStatistics.java
  stress/common/src/main/java/alluxio/stress/jobservice/JobServiceBenchTaskResultStatistics.java
  stress/common/src/main/java/alluxio/stress/master/MasterBenchTaskResultStatistics.java
  stress/shell/src/main/java/alluxio/stress/cli/Benchmark.java
  stress/shell/src/main/java/alluxio/stress/cli/StressJobServiceBench.java
  stress/shell/src/main/java/alluxio/stress/cli/StressMasterBench.java
  stress/shell/src/main/java/alluxio/stress/cli/client/StressClientIOBench.java
  stress/shell/src/main/java/alluxio/stress/cli/fuse/FuseIOBench.java
  tests/src/main/java/alluxio/master/backcompat/ops/Mount.java
Labels: POM Change

#14005 [DOCFIX] Document common benchmark options
  docs/en/operation/StressBench.md
Labels: Doc Fix

#14095 [DOCFIX] Introduce alluxio-dev in Docker doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#14086 [DOCFIX] Update Hive.md
  docs/cn/compute/Hive.md
Labels: Doc Fix

#14097 [DOCFIX] Update StressBench.md
  docs/en/operation/StressBench.md
Labels: Doc Fix

#14025 Support shuffle master addresses for rpc client
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/master/PollingMasterInquireClient.java
Labels: API Change

#14106 Update Jobservice bench
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
  stress/shell/src/main/java/alluxio/stress/cli/StressJobServiceBench.java
Labels: API Change

#14049 [DOCFIX] Add some key metrics to the tuning docs
  docs/en/operation/Performance-Tuning.md
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#14116 Introduce deadlines for sync RPC stubs
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/security/authentication/ChannelAuthenticator.java
  core/common/src/main/java/alluxio/util/ConfigurationUtils.java
  core/server/master/src/main/java/alluxio/master/meta/RetryHandlingMetaMasterMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemMasterClient.java
  docs/en/operation/Scalability-Tuning.md
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/server/src/main/java/alluxio/master/file/FileSystemMasterClient.java
  job/server/src/main/java/alluxio/worker/job/RetryHandlingJobMasterClient.java
  table/client/src/main/java/alluxio/client/table/RetryHandlingTableMasterClient.java
Labels: API Change

#14104 [DOCFIX] Improve Async cache docs
  docs/en/operation/Performance-Tuning.md
Labels: Doc Fix

#14132 [DOCFIX] Update Unified-Namespace.md
  docs/en/core-services/Unified-Namespace.md
Labels: Doc Fix

#14119 Introduce deadlines for sync RPC stubs
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/security/authentication/ChannelAuthenticator.java
  core/common/src/main/java/alluxio/util/ConfigurationUtils.java
  core/server/master/src/main/java/alluxio/master/meta/RetryHandlingMetaMasterMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemMasterClient.java
  docs/en/operation/Scalability-Tuning.md
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/server/src/main/java/alluxio/master/file/FileSystemMasterClient.java
  job/server/src/main/java/alluxio/worker/job/RetryHandlingJobMasterClient.java
  table/client/src/main/java/alluxio/client/table/RetryHandlingTableMasterClient.java
Labels: API Change

#14136 Revert "Introduce deadlines for sync RPC stubs"
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/security/authentication/ChannelAuthenticator.java
  core/common/src/main/java/alluxio/util/ConfigurationUtils.java
  core/server/master/src/main/java/alluxio/master/meta/RetryHandlingMetaMasterMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemMasterClient.java
  docs/en/operation/Scalability-Tuning.md
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/server/src/main/java/alluxio/master/file/FileSystemMasterClient.java
  job/server/src/main/java/alluxio/worker/job/RetryHandlingJobMasterClient.java
  table/client/src/main/java/alluxio/client/table/RetryHandlingTableMasterClient.java
Labels: API Change

#14135 Revert "Introduce deadlines for sync RPC stubs"
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/security/authentication/ChannelAuthenticator.java
  core/common/src/main/java/alluxio/util/ConfigurationUtils.java
  core/server/master/src/main/java/alluxio/master/meta/RetryHandlingMetaMasterMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/file/FileSystemMasterClient.java
  docs/en/operation/Scalability-Tuning.md
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/server/src/main/java/alluxio/master/file/FileSystemMasterClient.java
  job/server/src/main/java/alluxio/worker/job/RetryHandlingJobMasterClient.java
  table/client/src/main/java/alluxio/client/table/RetryHandlingTableMasterClient.java
Labels: API Change

#14023 Support Hawei Cloud (PFS && OBS)
  core/common/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/ObjectUnderFileSystem.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/common.go
  docs/cn/ufs/OBS.md
  docs/en/ufs/OBS.md
  underfs/obs/pom.xml
  underfs/obs/src/main/java/alluxio/underfs/obs/OBSInputStream.java
  underfs/obs/src/main/java/alluxio/underfs/obs/OBSOutputStream.java
  underfs/obs/src/main/java/alluxio/underfs/obs/OBSUnderFileSystem.java
  underfs/obs/src/main/java/alluxio/underfs/obs/OBSUnderFileSystemFactory.java
  underfs/obs/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/obs/src/test/java/alluxio/underfs/obs/OBSInputStreamTest.java
  underfs/obs/src/test/java/alluxio/underfs/obs/OBSOutputStreamTest.java
  underfs/obs/src/test/java/alluxio/underfs/obs/OBSUnderFileSystemFactoryTest.java
  underfs/obs/src/test/java/alluxio/underfs/obs/OBSUnderFileSystemTest.java
  underfs/pom.xml
Labels: POM Change, API Change

#14146 [DOCFIX] Remove alluxio-fuse image reference
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#11999 [DOCFIX] Add guidelines for resource allocation with colocated services
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#14127 Add alluxio native api call for ClientIO bench
  core/client/fs/src/main/java/alluxio/client/ReadType.java
  stress/common/src/main/java/alluxio/stress/client/ClientIOParameters.java
  stress/common/src/main/java/alluxio/stress/common/FileSystemClientType.java
  stress/common/src/main/java/alluxio/stress/common/FileSystemParameters.java
  stress/common/src/main/java/alluxio/stress/master/MasterBenchParameters.java
  stress/common/src/main/java/alluxio/stress/worker/WorkerBenchParameters.java
  stress/shell/src/main/java/alluxio/stress/cli/client/StressClientIOBench.java
Labels: API Change

#14021 Support logical name as HA address
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/client/hdfs/src/main/java/alluxio/hadoop/FileSystem.java
  core/client/hdfs/src/test/java/alluxio/hadoop/AbstractFileSystemTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/uri/Authority.java
  core/common/src/main/java/alluxio/uri/EmbeddedLogicalAuthority.java
  core/common/src/main/java/alluxio/uri/ZookeeperLogicalAuthority.java
  core/common/src/test/java/alluxio/AlluxioURITest.java
  core/common/src/test/java/alluxio/uri/AuthorityTest.java
  docs/cn/deploy/Running-Alluxio-On-a-HA-Cluster.md
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
Labels: API Change

#14077 [DOCFIX] Update Basic-Logging.md
  docs/en/operation/Basic-Logging.md
Labels: Doc Fix

#14163 Introduce client-side keep-alive monitoring for channels of RPC network
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#14188 Fix Metrics page
  docs/en/reference/Metrics-List.md
Labels: Doc Fix

#14196 [DOCFIX] Add distributedLoad command to the caching docs
  docs/en/core-services/Caching.md
Labels: Doc Fix
