Repository Alluxio/alluxio, pull requests merged in 2021-03, with the labels that each got.

#12961 [DOCFIX] Add a section on statelock command
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#12954 [DOCFIX] Fix metrics doc syntax
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#12909 [DOCFIX] Update contributor getting started docs
  docs/en/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#12926 [DOCFIX] Update Caching documentation
  docs/en/core-services/Caching.md
Labels: Doc Fix

#12952 [DOCFIX] Fix typo and add a section make sure runTest succeeds
  docs/en/ufs/S3.md
Labels: Doc Fix

#12963 Change JNI-Fuse to default alluxio POSIX API implementation
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/_data/table/Alluxio-FUSE-parameter.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/Alluxio-FUSE-parameter.yml
  docs/_data/table/en/common-configuration.yml
  docs/cn/deploy/Running-AlluxioFuse-On-Docker.md
  docs/en/api/POSIX-API.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: API Change

#12955 Modify journal docs
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/operation/Journal.md
Labels: API Change

#12969 [DOCFIX] Update typo in filesystem api doc
  docs/en/api/FS-API.md
Labels: Doc Fix

#12970 [DOCFIX] Add additional functionality docs to S3 API
  docs/_data/table/s3-api-supported-operations.csv
  docs/en/api/S3-API.md
Labels: Doc Fix

#12975 [DOCFIX] Update upgrade docs
  docs/en/operation/Upgrade.md
Labels: Doc Fix

#12957 [DOCFIX] Update Presto documentation
  docs/en/compute/Presto.md
Labels: Doc Fix

#12960 [DOCFIX] Fix typo and errors in hdfs doc
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#12984 Add module name for jnifuse
  integration/jnifuse/fs/pom.xml
  integration/jnifuse/native/pom.xml
  integration/jnifuse/pom.xml
Labels: POM Change

#12986 Change to specify concrete project version of jnifuse-native
  integration/jnifuse/fs/pom.xml
Labels: POM Change

#12985 Add chown and xattr related operation to jnifuse
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/AbstractFuseFileSystem.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/utils/NativeLibraryLoader.java
  integration/jnifuse/native/pom.xml
  integration/jnifuse/native/src/main/native/libjnifuse/Makefile
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_fs.cc
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_fs.h
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_helper.cc
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_impls.cc
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_impls.h
  integration/jnifuse/native/src/main/native/libjnifuse/operation.cc
  integration/jnifuse/native/src/main/native/libjnifuse/operation.h
  integration/jnifuse/native/src/main/resources/libjnifuse.dylib
  integration/jnifuse/native/src/main/resources/libjnifuse.so
Labels: POM Change

#12974 Upgrade RocksDB to 6.15.2
  pom.xml
Labels: POM Change

#12992 Fix the Aliyun OSS Docs
  docs/en/ufs/OSS.md
Labels: Doc Fix

#12980 [DOCFIX] Update User CLI documentation
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#12996 [DOCFIX] Clean up performance tuning doc
  docs/en/operation/Performance-Tuning.md
Labels: Doc Fix

#12997 [DOCFIX] Clean up scalability tuning doc
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#12958 Support to skip corrupt journal entry when recovering from backup
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/BackupManager.java
Labels: API Change

#12890 Add worker Fuse manager and client read logics
  core/client/fs/src/main/java/alluxio/client/block/AlluxioBlockStore.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerDataReader.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/worker/block/BlockWorker.java
  core/server/master/src/main/java/alluxio/master/metrics/DefaultMetricsMaster.java
  core/server/master/src/main/java/alluxio/master/metrics/MetricsStore.java
  core/server/worker/pom.xml
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/FuseManager.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
Labels: API Change, POM Change

#13006 [DOCFIX] Update NFS UFS doc
  docs/en/ufs/NFS.md
Labels: Doc Fix

#13027 Do not use maven cache in certain cases and make sure build passes
  .github/workflows/java11_integration_tests.yml
  .github/workflows/java11_integration_tests_webui.yml
  .github/workflows/java11_unit_tests.yml
  .github/workflows/java11_unit_tests_webui.yml
  .github/workflows/java8_integration_tests.yml
  .github/workflows/java8_integration_tests_webui.yml
  .github/workflows/java8_unit_tests.yml
  .github/workflows/java8_unit_tests_webui.yml
  pom.xml
Labels: POM Change

#13041 Upgrade maven surefire plugin version
  pom.xml
Labels: POM Change

#13028 Simplify code of Worker-side RPC handling
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerProcess.java
  core/server/worker/src/main/java/alluxio/worker/DataServer.java
  core/server/worker/src/main/java/alluxio/worker/block/AsyncCacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/grpc/AbstractReadHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadRequest.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadRequestContext.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWorkerClientServiceHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/GrpcDataServer.java
  core/server/worker/src/main/java/alluxio/worker/grpc/ReadRequest.java
  core/server/worker/src/main/java/alluxio/worker/grpc/ReadRequestContext.java
  core/server/worker/src/test/java/alluxio/worker/grpc/ReadHandlerTest.java
Labels: API Change

#13053 [DOCFIX] Add security opt parameter to run the FUSE docker image
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#13000 [DOCFIX] Add a doc for Trino
  docs/en/compute/Trino.md
Labels: Doc Fix

#13074 [DOCFIX] Create host mount in Docker FUSE documentation
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#13045 [DOCFIX] Update POSIX-API.md
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#13095 [SMALLFIX] Remove unused Strings constant in PropertyKey.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13092 [SMALLFIX] Remove unused String constant in PropertyKey.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13099 Change GCS V2 to be the default GCS version
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/ufs/GCS.md
Labels: API Change

#13106 Enable ROCKS metastore as default
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/_data/table/master-configuration.csv
  docs/en/operation/Metastore.md
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/client/fs/FileSystemMasterRestartIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/MultiUfsMountIntegrationTest.java
Labels: API Change

#13102 [SMALLFIX] Hide test only property
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#12874 Improve logLevel command
  docs/en/operation/User-CLI.md
  shell/src/main/java/alluxio/cli/LogLevel.java
  shell/src/test/java/alluxio/cli/LogLevelTest.java
Labels: API Change

#13115 Reduce default inode cache size
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13068 Implement nondeterministic LRU
  core/client/fs/src/main/java/alluxio/client/file/cache/evictor/CacheEvictor.java
  core/client/fs/src/main/java/alluxio/client/file/cache/evictor/LRUCacheEvictor.java
  core/client/fs/src/main/java/alluxio/client/file/cache/evictor/NondeterministicLRUCacheEvictor.java
  core/client/fs/src/test/java/alluxio/client/file/cache/NondeterministicLRUCacheEvictorTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13130 Do not abbreviate job description if verbose flag is used
  shell/src/main/java/alluxio/cli/job/command/StatCommand.java
Labels: API Change

#13122 Improve Worker Interface and implementation
  core/client/fs/src/main/java/alluxio/client/block/AlluxioBlockStore.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerDataWriter.java
  core/client/fs/src/main/java/alluxio/client/block/stream/DataWriter.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/client/fs/src/test/java/alluxio/client/block/stream/BlockInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/common/src/main/java/alluxio/util/io/BufferUtils.java
  core/common/src/main/java/alluxio/worker/block/BlockWorker.java
  core/common/src/main/java/alluxio/worker/block/io/DelegatingBlockReader.java
  core/server/worker/src/main/java/alluxio/worker/block/AsyncCacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/FuseManager.java
  core/server/worker/src/main/java/alluxio/worker/block/TieredBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWorkerClientServiceHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWriteHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/ShortCircuitBlockReadHandler.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockWorkerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/DefaultBlockWorkerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/NoopBlockWorker.java
  core/server/worker/src/test/java/alluxio/worker/grpc/BlockReadHandlerTest.java
  core/server/worker/src/test/java/alluxio/worker/grpc/BlockWriteHandlerTest.java
  job/server/src/test/java/alluxio/job/plan/replicate/ReplicateDefinitionTest.java
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
  tests/src/test/java/alluxio/client/fs/UfsSyncIntegrationTest.java
Labels: API Change

#13046 [SMALLFIX] Adjust alluxio binary and comments to match user cli docs
  bin/alluxio
  core/client/fs/src/main/java/alluxio/client/WriteType.java
  shell/src/main/java/alluxio/cli/TestRunner.java
Labels: API Change

#13136 Load cluster conf only if property is set
  core/common/src/main/java/alluxio/ClientContext.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change
