Repository Alluxio/alluxio, pull requests merged in 2021-04, with the labels that each got.

#13145 [DOCFIX] Add Hive file storage format as textfile
  docs/cn/compute/Hive.md
Labels: Doc Fix

#13156 [DOCFIX] Fix Kubernetes cn document formatting issues
  docs/cn/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#13152 Update pr_title_words.md
  docs/resources/pr/pr_title_words.md
Labels: Doc Fix

#13139 [DOCFIX] Adjust Alluxio properties for HDFS
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#13109 Add configuration to stop master process on demotion
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/FaultTolerantAlluxioMasterProcess.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  core/server/master/src/test/java/alluxio/master/ControllablePrimarySelector.java
  docs/en/operation/Journal.md
Labels: API Change

#13195 [DOCFIX] Update Journal.md
  docs/en/operation/Journal.md
Labels: Doc Fix

#13151 Remove property of server-side buffer size when writing blocks
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
  core/server/worker/src/main/java/alluxio/worker/grpc/AbstractWriteHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWriteHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/UfsFallbackBlockWriteHandler.java
  core/server/worker/src/test/java/alluxio/worker/block/UnderFileSystemBlockReaderTest.java
  tests/src/test/java/alluxio/client/fs/io/UfsFallbackFileOutStreamIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/TierPromoteIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/TieredStoreIntegrationTest.java
Labels: API Change

#13197 Update default client pool size to accommodate more concurrent computes
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13173 Upgrade aws-sdk version
  pom.xml
  underfs/s3a/pom.xml
Labels: POM Change

#13201 Add metrics to JNIFuse and StackFS
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/test/java/alluxio/client/block/stream/TestBlockInStream.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseUtils.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/StackFS.java
Labels: API Change

#13213 [DOCFIX] Fix broken hyperlink in HDFS.md
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#13200 [DOCFIX] Update Azure-Data-Lake-Gen2.md
  docs/en/ufs/Azure-Data-Lake-Gen2.md
Labels: Doc Fix

#13220 [DOCFIX] Add docker instructions for fuse on worker
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#13217 [DOCFIX] Add Fuse in worker doc
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#13160 Fix Fuse write then read problem in async release and support umount
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
Labels: API Change

#13233 Enable /mnt/alluxio-fuse as default worker fuse mount
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/api/POSIX-API.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: API Change

#13170 Add index file option for distributedLoad command
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/DistributedLoadCommandTest.java
Labels: API Change

#13250 Document libfuse auto_cache option
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#13132 Add journal space monitor
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/heartbeat/HeartbeatContext.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/wire/JournalDiskInfo.java
  core/common/src/main/java/alluxio/wire/MasterWebUIMetrics.java
  core/common/src/main/java/alluxio/wire/MasterWebUIOverview.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/JournalSpaceMonitor.java
  core/server/master/src/main/java/alluxio/master/meta/MetaMaster.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  core/server/master/src/test/java/alluxio/master/meta/JournalSpaceMonitorTest.java
  table/server/master/src/test/java/alluxio/master/table/TableMasterFactoryTest.java
  webui/README.md
  webui/master/src/constants/types/IJournalDiskInfo.tsx
  webui/master/src/containers/pages/Metrics/Metrics.tsx
  webui/master/src/containers/pages/Metrics/__snapshots__/Metrics.test.tsx.snap
  webui/master/src/containers/pages/Overview/Overview.tsx
  webui/master/src/store/metrics/reducer.tsx
  webui/master/src/store/metrics/types.tsx
  webui/master/src/store/overview/reducer.tsx
  webui/master/src/store/overview/types.tsx
Labels: API Change

#13241 Split read and write timeouts
  core/client/fs/src/main/java/alluxio/client/block/stream/BufferCachingGrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/GrpcDataWriter.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataWriter.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/user-configuration.csv
Labels: API Change

#13126 Handle client cache failure on "no space left on device"
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/TimeBoundPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStoreOptions.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/PageStoreOptions.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStoreOptions.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/io/LocalCacheFileInStreamIntegrationTest.java
Labels: API Change

#13189 Support cephfs as underfs of alluxio
  core/common/src/main/java/alluxio/Constants.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  shaded/cephfs-hadoop/pom.xml
  shaded/pom.xml
  underfs/cephfs-hadoop/pom.xml
  underfs/cephfs-hadoop/src/main/java/alluxio/underfs/cephfshadoop/CephfsHadoopUnderFileSystemFactory.java
  underfs/cephfs-hadoop/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/pom.xml
Labels: POM Change

#13257 [DOCFIX] Update Contributor Getting Started Guide
  docs/en/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#13261 Change the way get "index"
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#13229 Support distributed load files to alluxio by a include worker set
  job/common/src/main/java/alluxio/job/plan/load/LoadConfig.java
  job/common/src/test/java/alluxio/job/plan/load/LoadConfigTest.java
  job/common/src/test/java/alluxio/job/workflow/composite/CompositeConfigTest.java
  job/server/src/main/java/alluxio/job/plan/load/LoadDefinition.java
  job/server/src/test/java/alluxio/job/plan/load/LoadDefinitionTest.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  tests/src/test/java/alluxio/job/plan/load/LoadIntegrationTest.java
Labels: API Change

#13271 [DOCFIX] Fix docker POSIX API command
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#13205 Support cephfs direct and native as underfs of alluxio
  core/common/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/UnderFileSystemUtils.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  underfs/cephfs/pom.xml
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephFSUnderFileSystem.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephFSUnderFileSystemFactory.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephInputStream.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephOutputStream.java
  underfs/cephfs/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/pom.xml
Labels: API Change, POM Change

#13281 Change LoadCommand read type from CACHE_PROMOTE to CACHE
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
Labels: API Change

#13262 Support overwrite in MigrateConfig
  job/server/src/main/java/alluxio/job/plan/migrate/MigrateDefinition.java
  job/server/src/test/java/alluxio/job/plan/migrate/MigrateDefinitionRunTaskTest.java
  shell/src/main/java/alluxio/cli/fs/FileSystemShellUtils.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
Labels: API Change

#13299 Enable webui ( master,worker) run normally when start Alluxio in IDE
  core/server/master/pom.xml
  core/server/worker/pom.xml
Labels: POM Change

#13302 Remove shaded/cephfs-hadoop module and add libcephfs dependency
  pom.xml
  shaded/cephfs-hadoop/pom.xml
  shaded/pom.xml
  underfs/cephfs-hadoop/pom.xml
  underfs/cephfs/pom.xml
Labels: POM Change

#13310 Remove ceph module from underfs temporarily
  underfs/pom.xml
Labels: POM Change

#13320 Remove cephfs module
  underfs/cephfs/pom.xml
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephFSUnderFileSystem.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephFSUnderFileSystemFactory.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephInputStream.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephOutputStream.java
  underfs/cephfs/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
Labels: POM Change

#13316 [SMALLFIX] Add space to alluxio.job.worker.throttling description
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13315 [SMALLFIX] Change alluxio.logger.type property to hidden
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13327 Remove whole ceph from master
  core/common/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/UnderFileSystemUtils.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/common.go
  pom.xml
  underfs/cephfs-hadoop/pom.xml
  underfs/cephfs-hadoop/src/main/java/alluxio/underfs/cephfshadoop/CephfsHadoopUnderFileSystemFactory.java
  underfs/cephfs-hadoop/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/pom.xml
Labels: API Change, POM Change

#13288 Fix packaging distributed load code into DistributedLoadUtils
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
Labels: API Change

#13286 Bump grpc version to 1.37.0
  core/common/pom.xml
  pom.xml
Labels: POM Change
