Repository Alluxio/alluxio, pull requests merged in 2021-07, with the labels that each got.

#13723 Disable interrupt-cycle by default to avoid RPC interruption
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#13690 Add journal checkpoint warnings on UI
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/wire/MasterWebUIMetrics.java
  core/common/src/main/java/alluxio/wire/MasterWebUIOverview.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  webui/master/src/containers/pages/Metrics/Metrics.tsx
  webui/master/src/containers/pages/Metrics/__snapshots__/Metrics.test.tsx.snap
  webui/master/src/containers/pages/Overview/Overview.tsx
  webui/master/src/store/metrics/reducer.tsx
  webui/master/src/store/metrics/types.tsx
  webui/master/src/store/overview/reducer.tsx
  webui/master/src/store/overview/types.tsx
Labels: API Change

#13750 Remove ineffective property keys for embedded journal
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/conf/RemovedKey.java
Labels: API Change

#13744 [DOCFIX] Update Caching.md
  docs/cn/core-services/Caching.md
Labels: Doc Fix

#13757 Update user-configuration.yml
  docs/_data/table/cn/user-configuration.yml
Labels: Doc Fix

#13665 Add CacheContext to URIStatus to enable per-read metrics
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HadoopUtils.java
  core/client/hdfs/src/main/java/alluxio/hadoop/LocalCacheFileSystem.java
  core/common/src/main/java/alluxio/client/file/CacheContext.java
  core/common/src/main/java/alluxio/client/file/URIStatus.java
  core/common/src/main/java/alluxio/client/quota/CacheQuota.java
  core/common/src/main/java/alluxio/wire/FileInfo.java
  core/common/src/test/java/alluxio/client/file/CacheContextTest.java
  core/common/src/test/java/alluxio/client/file/URIStatusTest.java
Labels: API Change

#13765 Support display clusterId from master ui
  core/common/src/main/java/alluxio/wire/MasterWebUIOverview.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  webui/master/src/containers/pages/Overview/Overview.tsx
  webui/master/src/containers/pages/Overview/__snapshots__/Overview.test.tsx.snap
  webui/master/src/store/overview/reducer.tsx
  webui/master/src/store/overview/types.tsx
Labels: area-webui

#13759 [DOCFIX] Support export jvm metric by run jmx_exporter as an agent
  docs/cn/operation/Metrics-System.md
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#13687 Support cache Not exist status
  core/client/fs/src/main/java/alluxio/client/file/MetadataCachingBaseFileSystem.java
  core/client/fs/src/test/java/alluxio/client/file/MetadataCachingBaseFileSystemTest.java
Labels: perf-impact

#13432 Add maven and pom instructions
  docs/en/contribution-roadmap/Knowledge.md
Labels: Doc Fix

#13506 Add a option in distributedLoad job to exclude some workers
  docs/en/operation/User-CLI.md
  job/common/src/main/java/alluxio/job/plan/load/LoadConfig.java
  job/common/src/test/java/alluxio/job/plan/load/LoadConfigTest.java
  job/common/src/test/java/alluxio/job/workflow/composite/CompositeConfigTest.java
  job/server/src/main/java/alluxio/job/plan/load/LoadDefinition.java
  job/server/src/test/java/alluxio/job/plan/load/LoadDefinitionTest.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
  tests/src/test/java/alluxio/job/plan/load/LoadIntegrationTest.java
Labels: API Change

#13780 Add TODO and address comments for maven
  docs/en/contribution-roadmap/Knowledge.md
Labels: Doc Fix

#13791 [DOCFIX] Update Security.md
  docs/cn/operation/Security.md
Labels: Doc Fix

#13809 [DOCFIX] Update overview diagram
  docs/cn/Overview.md
  docs/en/Overview.md
Labels: Doc Fix

#13806 Create jar content always from scratch for shading
  shaded/client/pom.xml
Labels: POM Change

#13761 Remove embedded journal heartbeat interval configuration
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalConfiguration.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/master-configuration.csv
  tests/src/test/java/alluxio/client/cli/fsadmin/command/QuorumCommandIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTest.java
Labels: API Change

#13708 Fix PathTranslator to compare path prefixes by path components
  table/server/common/pom.xml
  table/server/common/src/main/java/alluxio/table/common/udb/PathTranslator.java
  table/server/common/src/test/java/alluxio/table/common/udb/PathTranslatorTest.java
Labels: POM Change

#13855 [DOCFIX] Update rocksdb metastore doc
  docs/en/operation/Metastore.md
Labels: Doc Fix

#13854 [DOCFIX] Fix hyper link in Properties-List.md
  docs/_data/table/en/user-configuration.yml
Labels: Doc Fix

#13857 Add additional debug messages to persist waiting
  core/client/fs/src/main/java/alluxio/client/file/FileSystemUtils.java
  shell/src/main/java/alluxio/cli/fs/command/PersistCommand.java
Labels: API Change

#13853 [DOCFIX] Add examples for distributed load with host related options
  docs/en/operation/User-CLI.md
Labels: Doc Fix
