Repository Alluxio/alluxio, pull requests merged in 2021-05, with the labels that each got.

#13329 Add exception to FreeCommand for empty files
  shell/src/main/java/alluxio/cli/fs/command/FreeCommand.java
Labels: API Change

#13334 Cancel sync job in middle of ufs calls if client cancelled
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  core/server/master/src/main/java/alluxio/master/file/RpcContext.java
  core/server/master/src/main/java/alluxio/underfs/UfsStatusCache.java
  core/server/master/src/test/java/alluxio/underfs/UfsStatusCacheTest.java
  tests/src/test/java/alluxio/client/fs/LoadMetadataIntegrationTest.java
Labels: API Change

#13338 [DOCFIX] Improve logging convention docs
  docs/en/contributor/Code-Conventions.md
  docs/en/operation/Basic-Logging.md
Labels: Doc Fix

#13337 Add retry options to GCS requests
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/v2/GCSV2UnderFileSystem.java
Labels: API Change

#13347 Fix libcephfs version error by maintain a public repo
  pom.xml
  underfs/cephfs-hadoop/pom.xml
  underfs/cephfs/pom.xml
Labels: POM Change

#13360 [DOCFIX] Add the outline for Alluxio contribution roadmap
  docs/_config.yml
  docs/en/contribution-roadmap/Environment-Setup.md
  docs/en/contribution-roadmap/Getting-Started-With-Alluxio-Contribution.md
  docs/en/contribution-roadmap/Getting-Started-With-Alluxio.md
  docs/en/contribution-roadmap/Introduction.md
  docs/en/contribution-roadmap/Knowledge.md
Labels: Doc Fix

#13376 Shade ADL UFS
  shaded/adl/pom.xml
  shaded/cosn/pom.xml
  shaded/ozone/pom.xml
  shaded/pom.xml
  underfs/adl/pom.xml
Labels: POM Change

#13383 [DOCFIX] Fix GCS doc navtabs title
  docs/en/ufs/GCS.md
Labels: Doc Fix

#13395 Update ADL version to target ufs hadoop version
  shaded/adl/pom.xml
  shaded/pom.xml
  underfs/adl/pom.xml
Labels: POM Change

#13396 Update wasb to use the same hadoop version as ufs.hadoop.version
  underfs/wasb/pom.xml
Labels: POM Change

#13380 [DOCFIX] Fix contribution task description
  docs/en/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#13403 Remove cephfs ufs related code temporarily
  underfs/cephfs/pom.xml
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephFSUnderFileSystem.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephFSUnderFileSystemFactory.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephInputStream.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephOutputStream.java
  underfs/cephfs/src/main/resources/META-INF/services/alluxio.underfs.UnderFileSystemFactory
  underfs/pom.xml
Labels: POM Change

#13428 [DOCFIX] Modify wordings in Prepare Docker Volume to Persist Data
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#13431 Consolidate usage of tier names in the repo
  core/common/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/ConfigurationTestUtils.java
  core/common/src/test/java/alluxio/wire/BlockMasterInfoTest.java
  core/common/src/test/java/alluxio/wire/WorkerInfoTest.java
  core/server/common/src/test/java/alluxio/AbstractStorageTierAssocTest.java
  core/server/master/src/test/java/alluxio/master/block/BlockMasterMetricsTest.java
  core/server/master/src/test/java/alluxio/master/block/BlockMasterTest.java
  core/server/master/src/test/java/alluxio/master/block/meta/MasterWorkerInfoTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/master/src/test/java/alluxio/master/file/replication/ReplicationCheckerTest.java
  core/server/master/src/test/java/alluxio/master/meta/AlluxioMasterRestServiceHandlerTest.java
  core/server/worker/src/main/java/alluxio/worker/block/meta/DefaultStorageTier.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockHeartbeatReporterTest.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockMetadataManagerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockMetadataViewTest.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockStoreLocationTest.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockStoreMetaTest.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockWorkerMetricsTest.java
  core/server/worker/src/test/java/alluxio/worker/block/DefaultBlockWorkerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/TieredBlockStoreTest.java
  core/server/worker/src/test/java/alluxio/worker/block/TieredBlockStoreTestUtils.java
  core/server/worker/src/test/java/alluxio/worker/block/allocator/AllocatorTestBase.java
  core/server/worker/src/test/java/alluxio/worker/block/allocator/GreedyAllocatorTest.java
  core/server/worker/src/test/java/alluxio/worker/block/allocator/MaxFreeAllocatorTest.java
  core/server/worker/src/test/java/alluxio/worker/block/allocator/RoundRobinAllocatorTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/DefaultBlockMetaTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/DefaultStorageDirTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/DefaultStorageTierTest.java
  core/server/worker/src/test/java/alluxio/worker/block/meta/DefaultTempBlockMetaTest.java
  core/server/worker/src/test/java/alluxio/worker/block/stream/BlockWorkerDataReaderTest.java
  core/server/worker/src/test/java/alluxio/worker/grpc/UfsFallbackBlockWriteHandlerTest.java
  integration/tools/validation/src/main/java/alluxio/cli/RamDiskMountPrivilegeValidationTask.java
  integration/tools/validation/src/main/java/alluxio/cli/StorageSpaceValidationTask.java
  job/server/src/test/java/alluxio/job/plan/replicate/ReplicateDefinitionTest.java
  shell/src/main/java/alluxio/cli/fsadmin/FileSystemAdminShellUtils.java
  shell/src/test/java/alluxio/cli/fsadmin/FileSystemAdminShellUtilsTest.java
  shell/src/test/java/alluxio/cli/fsadmin/report/CapacityCommandTest.java
  shell/src/test/java/alluxio/cli/fsadmin/report/SummaryCommandTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/PinCommandMultipleMediaIntegrationTest.java
  tests/src/test/java/alluxio/client/rest/AlluxioMasterRestApiTest.java
  tests/src/test/java/alluxio/client/rest/AlluxioWorkerRestApiTest.java
  tests/src/test/java/alluxio/server/tieredstore/CapacityUsageIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/LostStorageIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/SpecificTierWriteIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/TierPromoteIntegrationTest.java
Labels: API Change

#13427 [DOCFIX] Add details to tutorials
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#13437 Fix xstream security issue CVE-2021-29505
  pom.xml
Labels: POM Change

#13441 [DOCFIX] Reorder @see tags of PropertyKey.isDeprecated
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: Doc Fix

#13443 [DOCFIX] Reorder @see tags of PropertyKey.isRemoved
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: Doc Fix

#13440 Update jnr-fuse version
  pom.xml
Labels: POM Change

#13314 Let distributed load files to specify job worker
  job/common/src/main/java/alluxio/job/plan/load/LoadConfig.java
  job/common/src/test/java/alluxio/job/plan/load/LoadConfigTest.java
  job/common/src/test/java/alluxio/job/workflow/composite/CompositeConfigTest.java
  job/server/src/main/java/alluxio/job/plan/load/LoadDefinition.java
  job/server/src/test/java/alluxio/job/plan/load/LoadDefinitionTest.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
  tests/src/test/java/alluxio/job/plan/load/LoadIntegrationTest.java
Labels: API Change

#13397 Add additional metrics throughout Alluxio system
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/common/src/main/java/alluxio/RpcUtils.java
  core/server/common/src/main/java/alluxio/master/journal/AbstractJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournal.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalSystem.java
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTreePersistentState.java
  core/server/master/src/main/java/alluxio/master/metastore/caching/Cache.java
  core/server/master/src/main/java/alluxio/master/metastore/caching/StatsCounter.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterMetricsTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
Labels: POM Change

#13447 Fix throw CCE when using Fuse while enable client cache bug
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/FileInStream.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
Labels: API Change

#13459 Change jnr-fuse version to 0.5.5
  pom.xml
Labels: POM Change

#13469 Add aliyun mirror of the spring plugins repo
  pom.xml
Labels: POM Change

#13321 Make connection pools per connection instead of per db for hive udb
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/HiveDatabase.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/HiveClientPool.java
  table/server/underdb/hive/src/main/java/alluxio/table/under/hive/util/HiveClientPoolCache.java
Labels: API Change

#13370 Improve logging message on exceptions
  core/client/fs/src/main/java/alluxio/client/block/stream/BufferCachingGrpcDataReader.java
  core/client/fs/src/main/java/alluxio/client/block/stream/UfsFallbackLocalFileDataWriter.java
  core/client/fs/src/main/java/alluxio/client/metrics/ClientMasterSync.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/grpc/GrpcSerializationUtils.java
  core/common/src/main/java/alluxio/metrics/sink/CsvSink.java
  core/common/src/main/java/alluxio/security/user/BaseUserState.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystem.java
  core/common/src/main/java/alluxio/util/CommonUtils.java
  core/common/src/main/java/alluxio/util/io/BufferUtils.java
  core/server/common/src/main/java/alluxio/RestUtils.java
  core/server/common/src/main/java/alluxio/RpcUtils.java
  core/server/common/src/main/java/alluxio/master/journal/raft/LocalFirstRaftClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalCheckpointThread.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalCheckpointWriter.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalGarbageCollector.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalLogWriter.java
  core/server/common/src/main/java/alluxio/underfs/AbstractUfsManager.java
  core/server/master/src/main/java/alluxio/master/backup/BackupWorkerRole.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/meta/AsyncUfsAbsentPathCache.java
  core/server/master/src/main/java/alluxio/master/file/replication/ReplicationChecker.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestUtils.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerRestServiceHandler.java
  core/server/worker/src/main/java/alluxio/worker/block/AsyncCacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/block/PinListSync.java
  core/server/worker/src/main/java/alluxio/worker/block/TieredBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/UnderFileSystemBlockReader.java
  core/server/worker/src/main/java/alluxio/worker/block/meta/DefaultStorageTier.java
  core/server/worker/src/main/java/alluxio/worker/grpc/AbstractWriteHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/ShortCircuitBlockReadHandler.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/tools/hms/src/main/java/alluxio/cli/HmsValidationTool.java
  job/common/src/main/java/alluxio/job/wire/TaskInfo.java
  job/server/src/main/java/alluxio/master/AlluxioJobMasterProcess.java
  job/server/src/main/java/alluxio/master/job/plan/PlanCoordinator.java
  job/server/src/main/java/alluxio/worker/AlluxioJobWorkerProcess.java
  shell/src/main/java/alluxio/cli/ValidateConf.java
  table/server/underdb/glue/src/main/java/alluxio/table/under/glue/GlueDatabase.java
  underfs/cephfs/src/main/java/alluxio/underfs/cephfs/CephFSUnderFileSystem.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/GCSUnderFileSystem.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/v2/GCSV2OutputStream.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/v2/GCSV2UnderFileSystem.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
  underfs/local/src/main/java/alluxio/underfs/local/LocalUnderFileSystem.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3ALowLevelOutputStream.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AOutputStream.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AUnderFileSystem.java
  underfs/swift/src/main/java/alluxio/underfs/swift/KeystoneV3AccessProvider.java
  underfs/swift/src/main/java/alluxio/underfs/swift/SwiftMockOutputStream.java
  underfs/swift/src/main/java/alluxio/underfs/swift/SwiftOutputStream.java
  underfs/web/src/main/java/alluxio/underfs/web/WebUnderFileSystem.java
Labels: API Change

#12783 Convert the configuration files to mount options when Mount
  pom.xml
  shell/pom.xml
  shell/src/main/java/alluxio/cli/fs/command/MountCommand.java
Labels: API Change, POM Change

#13489 Revert "Convert the configuration files to mount options when Mount"
  pom.xml
  shell/pom.xml
  shell/src/main/java/alluxio/cli/fs/command/MountCommand.java
Labels: API Change, POM Change

#13479 Support Fuse Auth policy
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/auth/AuthPolicy.java
  integration/fuse/src/main/java/alluxio/fuse/auth/AuthPolicyFactory.java
  integration/fuse/src/main/java/alluxio/fuse/auth/CustomAuthPolicy.java
  integration/fuse/src/main/java/alluxio/fuse/auth/SystemUserGroupAuthPolicy.java
Labels: API Change

#13475 Add metrics for inode and block heap sizes
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  core/common/src/main/java/alluxio/util/ObjectSizeCalculator.java
  core/common/src/test/java/alluxio/util/ObjectSizeCalculatorTest.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTreePersistentState.java
  core/server/master/src/main/java/alluxio/master/metastore/caching/CachingInodeStore.java
  core/server/master/src/main/java/alluxio/master/metastore/heap/HeapBlockStore.java
  core/server/master/src/main/java/alluxio/master/metastore/heap/HeapInodeStore.java
Labels: API Change

#13468 Fix the cosn shaded pom
  shaded/cosn/pom.xml
  shaded/pom.xml
  underfs/cosn/pom.xml
Labels: POM Change

#13509 [DOCFIX] Update Caching.md
  docs/cn/core-services/Caching.md
Labels: Doc Fix
