Repository Alluxio/alluxio, pull requests merged in 2021-08, with the labels that each got.

#13882 Use npm ci for Web UI for installing dependencies
  webui/pom.xml
Labels: POM Change

#13890 Fix underdb jar error
  table/server/underdb/glue/pom.xml
  table/server/underdb/hive/pom.xml
  table/server/underdb/pom.xml
Labels: POM Change

#13891 [DOCFIX] Improve documentation surrounding worker tiered stores
  bin/alluxio-common.sh
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/operation/Upgrade.md
Labels: API Change

#13733 Add unbuffer support for impala
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/FileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HdfsFileInputStream.java
Labels: API Change

#13902 Revert "Add unbuffer support for impala"
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/FileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheFileInStream.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/HdfsFileInputStream.java
Labels: API Change

#13892 Support Web server for fuse process
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/network/NetworkAddressUtils.java
  core/common/src/test/java/alluxio/util/network/NetworkAddressUtilsTest.java
  integration/fuse/pom.xml
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/main/java/alluxio/fuse/FuseWebServer.java
Labels: POM Change, API Change

#13870 [DOCFIX] Update tuning docs
  docs/en/operation/Performance-Tuning.md
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#13909 Add scaffold for TLS
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcConnectionPool.java
  core/common/src/main/java/alluxio/grpc/GrpcNetworkGroup.java
  core/common/src/main/java/alluxio/grpc/GrpcServerBuilder.java
  core/common/src/main/java/alluxio/util/network/tls/DefaultSslContextProvider.java
  core/common/src/main/java/alluxio/util/network/tls/SslContextProvider.java
Labels: API Change

#13918 Improve initialization of SslContextProvider factory instantiation
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcConnectionPool.java
  core/common/src/main/java/alluxio/util/network/tls/SslContextProvider.java
Labels: API Change

#13917 [DOCFIX] Add docs for the `fsadmin journal quorum elect` command
  docs/en/operation/Admin-CLI.md
  docs/en/operation/Journal.md
Labels: Doc Fix

#13866 Fix the job server or job worker starts failed and typo
  job/server/pom.xml
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystemFactory.java
Labels: POM Change

#13498 Add an RPC benchmark tool
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  job/server/src/main/java/alluxio/job/plan/stress/StressBenchDefinition.java
  stress/common/pom.xml
  stress/common/src/main/java/alluxio/stress/BaseParameters.java
  stress/common/src/main/java/alluxio/stress/CachingBlockMasterClient.java
  stress/common/src/main/java/alluxio/stress/Parameters.java
  stress/common/src/main/java/alluxio/stress/rpc/BlockMasterBenchParameters.java
  stress/common/src/main/java/alluxio/stress/rpc/GetPinnedFileIdsParameters.java
  stress/common/src/main/java/alluxio/stress/rpc/RpcBenchParameters.java
  stress/common/src/main/java/alluxio/stress/rpc/RpcTaskResult.java
  stress/common/src/main/java/alluxio/stress/rpc/RpcTaskSummary.java
  stress/common/src/main/java/alluxio/stress/rpc/TierAlias.java
  stress/shell/pom.xml
  stress/shell/src/main/java/alluxio/stress/cli/Benchmark.java
  stress/shell/src/main/java/alluxio/stress/cli/GetPinnedFileIdsBench.java
  stress/shell/src/main/java/alluxio/stress/cli/RegisterWorkerBench.java
  stress/shell/src/main/java/alluxio/stress/cli/RpcBench.java
  stress/shell/src/main/java/alluxio/stress/cli/RpcBenchPreparationUtils.java
  stress/shell/src/main/java/alluxio/stress/cli/WorkerHeartbeatBench.java
Labels: POM Change

#13879 Bump internal netty version to 4.1.55.Final
  pom.xml
Labels: POM Change

#13939 [DOCFIX] Add overview of stress bench
  docs/en/operation/StressBench.md
Labels: Doc Fix

#13895 Support list a specific status of job
  job/server/pom.xml
  job/server/src/main/java/alluxio/master/job/JobMasterClientRestServiceHandler.java
Labels: POM Change

#13966 Revert "Bump internal netty version to 4.1.55.Final"
  pom.xml
Labels: POM Change

#13974 Update pr_title_words.md
  docs/resources/pr/pr_title_words.md
Labels: Doc Fix

#13975 [DOCFIX] Fix wrong unit in docs
  docs/cn/core-services/Unified-Namespace.md
  docs/en/core-services/Unified-Namespace.md
Labels: Doc Fix

#13718 [DOCFIX] Add doc on Presto and Iceberg
  docs/en/compute/Presto-Iceberg.md
Labels: Doc Fix
