Repository Alluxio/alluxio, pull requests merged in 2021-11, with the labels that each got.

#14320 Resolve lock leak during recursive delete
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/SimpleInodeLockList.java
Labels: type-bug

#14355 Add authentication logic for Hub Manager
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  hub/server/src/main/java/alluxio/hub/agent/rpc/service/AgentManagerService.java
  hub/server/src/main/java/alluxio/hub/manager/process/ManagerProcessContext.java
  hub/server/src/main/java/alluxio/hub/manager/rpc/interceptor/HubAuthenticationInterceptor.java
  hub/server/src/main/java/alluxio/hub/manager/rpc/observer/RequestStreamObserver.java
  hub/transport/src/main/proto/grpc/agent.proto
  hub/transport/src/main/proto/grpc/rest.proto
Labels: API Change

#14366 Bump rocksdb version to 6.25.3
  pom.xml
Labels: POM Change

#14351 Implement configurable ExecutorService creation for Alluxio processes
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/AlluxioExecutorService.java
  core/server/common/src/main/java/alluxio/master/ExecutorServiceBuilder.java
  core/server/common/src/test/java/alluxio/master/ExecutorServiceBuilderTest.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  job/server/src/main/java/alluxio/master/job/plan/PlanTracker.java
Labels: API Change

#14380 Update license check rules and add missing license
  dev/scripts/generate-tarballs
  pom.xml
Labels: POM Change

#14364 [DOCFIX] Fix docker doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#14367 [DOCFIX] Update Posix API doc
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/api/POSIX-API.md
Labels: API Change

#14388 [DOCFIX] Fix HDFS Doc minor stuff
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#14381 [DOCFIX] Improve Contributor Tools documentation
  docs/en/contributor/Contributor-Tools.md
Labels: Doc Fix

#14362 Fix RPC benchmarks extra preparation and low concurrency
  stress/shell/src/main/java/alluxio/stress/cli/GetPinnedFileIdsBench.java
  stress/shell/src/main/java/alluxio/stress/cli/RegisterWorkerBench.java
  stress/shell/src/main/java/alluxio/stress/cli/RpcBenchPreparationUtils.java
  stress/shell/src/main/java/alluxio/stress/cli/StreamRegisterWorkerBench.java
  stress/shell/src/main/java/alluxio/stress/cli/WorkerHeartbeatBench.java
Labels: area-benchmark

#14407 [DOCFIX] Add ToC and links to Upgrading doc
  docs/en/operation/Upgrade.md
Labels: Doc Fix

#14403 [DOCFIX] Improve section name in Security.md
  docs/en/operation/Security.md
Labels: Doc Fix

#14411 [DOCFIX] Update Flink documentation
  docs/cn/compute/Flink.md
  docs/en/compute/Flink.md
Labels: Doc Fix

#14398 Fix integration/yarn/pom.xml enforcer-plugin miss hadoop 2.10.x config
  integration/yarn/pom.xml
Labels: POM Change

#14399 [DOCFIX] Tweak FUSE metric and property descriptions
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
Labels: API Change

#14410 [DOCFIX] Fix `Journal.md` and related strings in code
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/operation/Journal.md
  shell/src/main/java/alluxio/cli/fsadmin/command/BackupCommand.java
Labels: API Change

#14423 [DOCFIX] Update `Metrics-System.md`
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#14432 [DOCFIX] Update tensorflow doc example
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#14392 Update metrics and property keys
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/fuse-metrics.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/en/worker-metrics.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
  docs/_data/table/worker-metrics.csv
Labels: Doc Fix

#14395 [DOCFIX] Update FS and S3 API documentation
  docs/_data/table/s3-api-supported-operations.csv
  docs/en/api/FS-API.md
  docs/en/api/S3-API.md
Labels: Doc Fix

#14087 Change description secondary to standby
  conf/masters
  core/client/fs/src/main/java/alluxio/client/meta/MetaMasterClient.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/common/src/main/java/alluxio/master/AbstractMaster.java
  core/server/common/src/main/java/alluxio/master/AbstractPrimarySelector.java
  core/server/common/src/main/java/alluxio/master/PrimarySelector.java
  core/server/common/src/main/java/alluxio/master/PrimarySelectorClient.java
  core/server/common/src/main/java/alluxio/master/journal/JournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournal.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalCheckpointWriter.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalLogWriter.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalReader.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalSystem.java
  core/server/common/src/test/java/alluxio/master/AbstractPrimarySelectorTest.java
  core/server/master/src/main/java/alluxio/master/FaultTolerantAlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/backup/BackupOps.java
  core/server/master/src/main/java/alluxio/master/backup/BackupWorkerRole.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  core/server/master/src/test/java/alluxio/master/AlwaysStandbyPrimarySelector.java
  core/server/master/src/test/java/alluxio/master/journal/JournalContextTest.java
  core/server/master/src/test/java/alluxio/master/journal/ufs/UfsJournalTest.java
  docs/_data/table/en/master-configuration.yml
  docs/cn/contributor/Documentation-Conventions.md
  docs/en/contributor/Documentation-Conventions.md
  docs/en/operation/Journal.md
  docs/en/operation/Security.md
  job/server/src/main/java/alluxio/master/FaultTolerantAlluxioJobMasterProcess.java
  shell/src/main/java/alluxio/cli/fsadmin/command/BackupCommand.java
  shell/src/main/java/alluxio/master/MasterHealthCheckClient.java
  shell/src/test/java/alluxio/cli/bundler/command/CollectLogCommandTest.java
  tests/src/test/java/alluxio/server/ft/FileSystemMasterFaultToleranceIntegrationTest.java
Labels: API Change

#14426 [DOCFIX] Improve quick start guide
  docs/en/overview/Getting-Started.md
Labels: Doc Fix

#14437 [DOCFIX] Update perf doc
  docs/en/operation/Performance-Tuning.md
Labels: Doc Fix

#14436 [DOCFIX] Add additional requirement for fuse metrics
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#14445 [DOCFIX] Fix some formatting issues in Metrics-System.md
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#14433 [DOCFIX] Update metrics doc update for fuse
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#14448 [DOCFIX] Update unified namespace doc example comment
  docs/en/core-services/Unified-Namespace.md
Labels: Doc Fix

#14449 [DOCFIX] Fix "building from source" doc
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#14425 [DOCFIX] Improve file system api doc
  docs/en/api/FS-API.md
Labels: Doc Fix

#14444 [DOCFIX] Add doc for updateConf command
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#14457 [SMALLFIX] Add description for 3 property keys
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#14450 [DOCFIX] Update verbiage and some tutorials on deploying HA cluster
  docs/en/deploy/Running-Alluxio-On-a-HA-Cluster.md
  docs/en/operation/Journal.md
Labels: Doc Fix

#14396 [DOCFIX] Remove broken mirror link in Overview page
  docs/cn/Overview.md
  docs/en/Overview.md
Labels: Doc Fix

#14459 Update Use-Cases.md
  docs/en/overview/Use-Cases.md
Labels: Doc Fix

#14402 [DOCFIX] Improve scalability doc
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#14328 Support auto abort multiupload after timeout
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/MultipartUploadCleaner.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3ErrorCode.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
Labels: API Change

#14498 Fix distributedCp
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
Labels: API Change

#14496 [DOCFIX] Update job service api doc
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#14500 Fix batch size in user CLI
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
  tests/src/test/java/alluxio/client/cli/fs/command/DistributedCpCommandTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/DistributedLoadCommandTest.java
Labels: API Change

#14060 Update ozone from 1.0.0 to 1.1.0
  docs/cn/ufs/Ozone.md
  docs/en/ufs/Ozone.md
  pom.xml
  shaded/ozone/pom.xml
Labels: POM Change

#14519 Fix redundant free when inAlluxio percentage is 0
  shell/src/main/java/alluxio/cli/fs/command/FreeCommand.java
Labels: API Change

#14534 [DOCFIX] Add limitation for S3 API Doc
  docs/en/api/S3-API.md
Labels: Doc Fix

#14513 [DOCFIX] Create CSI Documentation
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#14574 [DOCFIX] Fix missing placeholder in metric names
  docs/en/reference/Metrics-List.md
Labels: Doc Fix

#14559 Change the thread pool for `CompletableFuture.runAsync`
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalConfiguration.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
Labels: API Change

#14230 Add clear metadata cache logic
  core/client/fs/src/main/java/alluxio/client/file/MetadataCache.java
  core/client/fs/src/main/java/alluxio/client/file/MetadataCachingBaseFileSystem.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/cli/FuseShell.java
  integration/fuse/src/main/java/alluxio/fuse/cli/command/MetadataCacheCommand.java
  integration/fuse/src/test/java/alluxio/fuse/cli/FuseShellTest.java
  integration/fuse/src/test/java/alluxio/fuse/cli/MockFuseFileSystemMasterClient.java
Labels: API Change
