Repository Alluxio/alluxio, pull requests merged in 2021-02, with the labels that each got.

#12794 Address race condition for async persist
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
Labels: API Change

#12785 Prevent leader from writing to embedded journal after stepping down
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/MasterJournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/raft/LocalFirstRaftClient.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
Labels: API Change

#12796 [DOCFIX] Fix typo in Running-AlluxioFuse-On-Docker.md
  docs/cn/deploy/Running-AlluxioFuse-On-Docker.md
Labels: Doc Fix

#12775 Bump version of proto-backwards-compatibility plugin to 1.0.6
  pom.xml
Labels: POM Change

#12795 Add an option for active job count
  shell/src/main/java/alluxio/cli/fs/command/AbstractDistributedJobCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#12815 [DOCFIX] Explain the different heap config for metastore types
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#12819 Bump the version of leveldbjni to 5.18.4 to support ARM platform
  pom.xml
Labels: POM Change

#12820 [DOCFIX] Update POSIX-API.md
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#12822 Fix tarball gen for 2.4 branch
  shaded/hadoop/pom.xml
Labels: POM Change

#12821 [DOCFIX] Add instructions of building different HDFS UFS
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#12777 Add Initial journal replay before ZK connections in ufs journal
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/common/src/main/java/alluxio/master/journal/JournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournal.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalCheckpointThread.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalSystem.java
  core/server/master/src/main/java/alluxio/master/FaultTolerantAlluxioMasterProcess.java
  core/server/master/src/test/java/alluxio/master/journal/ufs/UfsJournalCheckpointThreadTest.java
  core/server/master/src/test/java/alluxio/master/journal/ufs/UfsJournalTest.java
Labels: API Change

#12839 [DOCFIX] Update doc for distributedCp/distributedLoad
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#12844 Support logLevel for job master/worker
  job/server/src/main/java/alluxio/master/AlluxioJobMasterRestServiceHandler.java
  job/server/src/main/java/alluxio/worker/AlluxioJobWorkerRestServiceHandler.java
  shell/src/main/java/alluxio/cli/LogLevel.java
Labels: API Change

#12850 [DOCFIX] Add recommended instances types for AWS and GCP
  docs/en/cloud/AWS-EMR.md
  docs/en/cloud/Google-Dataproc.md
Labels: Doc Fix

#12854 [DOCFIX] Update POSIX API docs
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#12858 Remove alluxio presto ami from docs
  docs/cn/Overview.md
  docs/en/Overview.md
  docs/en/cloud/Alluxio-Presto-AMI.md
  docs/en/overview/Getting-Started.md
Labels: Doc Fix

#12861 Remove alluxio presto ami from docs
  docs/cn/Overview.md
  docs/en/Overview.md
  docs/en/overview/Getting-Started.md
Labels: Doc Fix

#12863 [DOCFIX] Update POSIX API doc
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#12866 Retry on benign racing for local cache
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#12871 [DOCFIX] Adjust steps in en/overview/Getting-Started.md
  docs/en/overview/Getting-Started.md
Labels: Doc Fix

#12870 [DOCFIX] Adjust wording in en/Overview.md
  docs/en/Overview.md
Labels: Doc Fix

#12873 [DOCFIX] Add guideline for developers using docker to build Alluxio
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#12842 Add GCS Version 2 integration using Google cloud API
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/ufs/GCS.md
  underfs/gcs/pom.xml
  underfs/gcs/src/main/java/alluxio/underfs/gcs/GCSUnderFileSystemFactory.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/v2/GCSV2InputStream.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/v2/GCSV2OutputStream.java
  underfs/gcs/src/main/java/alluxio/underfs/gcs/v2/GCSV2UnderFileSystem.java
Labels: API Change, POM Change

#12888 [DOCFIX] Improve remote-logging doc
  docs/en/operation/Remote-Logging.md
Labels: Doc Fix

#12884 Catch UnsatisfiedLinkError for alluxio.worker.ramdisk.size, improve desc
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#12886 Update logLevel help message and related doc etc
  docs/en/operation/Basic-Logging.md
  docs/en/operation/User-CLI.md
  shell/src/main/java/alluxio/cli/LogLevel.java
Labels: API Change

#12893 [DOCFIX] Fix collapsible in Building-Alluxio-From-Source.md
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#12887 [DOCFIX] Improve Basic-Logging doc
  docs/en/operation/Basic-Logging.md
Labels: Doc Fix

#12898 Add check for accordion titles in docs
  dev/scripts/src/alluxio.org/check-docs/main.go
Labels: Doc Fix

#12892 [DOCFIX] Fix transformation doc
  docs/en/core-services/Transformation.md
Labels: Doc Fix

#12876 [DOCFIX] Add extra commands to JobService Inspection Commands Docs
  docs/en/overview/JobService.md
Labels: Doc Fix

#12741 Add data operation ability on AbstractTableCommand
  table/shell/pom.xml
  table/shell/src/main/java/alluxio/cli/table/TableShell.java
  table/shell/src/main/java/alluxio/cli/table/command/AbstractTableCommand.java
  table/shell/src/main/java/alluxio/cli/table/command/AttachDatabaseCommand.java
  table/shell/src/main/java/alluxio/cli/table/command/DetachDatabaseCommand.java
  table/shell/src/main/java/alluxio/cli/table/command/ListDatabasesCommand.java
  table/shell/src/main/java/alluxio/cli/table/command/SyncDatabaseCommand.java
  table/shell/src/main/java/alluxio/cli/table/command/TransformStatusCommand.java
  table/shell/src/main/java/alluxio/cli/table/command/TransformTableCommand.java
  table/shell/src/test/java/alluxio/cli/table/TransformTableCommandTest.java
Labels: POM Change

#12910 [DOCFIX] Improve contributor tool doc
  docs/en/contributor/Contributor-Tools.md
Labels: Doc Fix

#12878 [DOCFIX] Update single-master Alluxio cluster docs
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#12903 Update configuration and Metrics by running docGen
  docs/_data/table/client-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
Labels: Doc Fix

#12908 [DOCFIX] Update dataproc docs
  docs/en/cloud/Google-Dataproc.md
Labels: Doc Fix

#12906 [DOCFIX] Improve docker doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#12920 [DOCFIX] Journal doc fix
  docs/en/operation/Journal.md
Labels: Doc Fix

#12902 [DOCFIX] Update aws emr doc
  docs/en/cloud/AWS-EMR.md
Labels: Doc Fix

#12907 [DOCFIX] Improve troubleshooting doc
  docs/en/operation/Basic-Logging.md
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#12927 [DOCFIX] Update unified namespace documentation
  docs/en/core-services/Unified-Namespace.md
Labels: Doc Fix

#12930 [DOCFIX] Fix AWS-emr doc grammar
  docs/en/cloud/AWS-EMR.md
Labels: Doc Fix

#12924 Remove redundant blank in PropertyKey
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#12883 Move jni-fuse to a independent project
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  integration/fuse/pom.xml
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/OpenFileEntry.java
  integration/fuse/src/main/java/alluxio/fuse/StackFS.java
  integration/fuse/src/main/java/alluxio/jnifuse/LibFuse.java
  integration/jnifuse/fs/pom.xml
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/AbstractFuseFileSystem.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/ErrorCodes.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/FuseException.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/FuseFileSystem.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/FuseFillDir.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/LibFuse.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/constants/Errno.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/struct/FileStat.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/struct/FuseContext.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/struct/FuseFileInfo.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/struct/Statvfs.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/utils/Environment.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/utils/NativeLibraryLoader.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/utils/SecurityUtils.java
  integration/jnifuse/native/pom.xml
  integration/jnifuse/native/src/main/native/libjnifuse/Makefile
  integration/jnifuse/native/src/main/native/libjnifuse/debug.h
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_fs.cc
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_fs.h
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_helper.cc
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_impls.cc
  integration/jnifuse/native/src/main/native/libjnifuse/jnifuse_impls.h
  integration/jnifuse/native/src/main/native/libjnifuse/operation.cc
  integration/jnifuse/native/src/main/native/libjnifuse/operation.h
  integration/jnifuse/native/src/main/resources/libjnifuse.dylib
  integration/jnifuse/native/src/main/resources/libjnifuse.so
  integration/jnifuse/pom.xml
  integration/pom.xml
  lib/libjnifuse.dylib
  lib/libjnifuse.so
Labels: POM Change

#12896 [DOCFIX] Adjust Spark on Alluxio in K8s docs
  docs/en/compute/Spark-On-Kubernetes.md
Labels: Doc Fix

#12938 [DOCFIX] Update spark documentation
  docs/en/compute/Spark.md
Labels: Doc Fix

#12901 Report error if any of the sync paths failed in syncMetadata
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  tests/src/test/java/alluxio/client/fs/UfsSyncIntegrationTest.java
Labels: API Change

#12945 [DOCFIX] Update Requirements.md
  docs/en/deploy/Requirements.md
Labels: Doc Fix

#12944 Skip object store parent creation
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/ObjectUnderFileSystem.java
Labels: API Change

#12939 [DOCFIX] Update configuration settings documentation
  docs/en/operation/Configuration.md
Labels: Doc Fix

#12895 [DOCFIX] Clarify steps to configure Alluxio on k8s
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#12948 Add logging on slow UFS calls
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystemWithLogging.java
  docs/en/operation/Basic-Logging.md
Labels: API Change
