Repository Alluxio/alluxio, pull requests merged in 2022-07, with the labels that each got.

#15796 Add missing functionality to S3 API multipart-uploads
  core/common/src/main/java/alluxio/Constants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/io/PathUtils.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadRequest.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadResult.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CopyPartResult.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/ListMultipartUploadsResult.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/ListPartsResult.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/MultipartUploadCleaner.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3Constants.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3ErrorCode.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestUtils.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/TaggingData.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/signature/AuthorizationV4Validator.java
  core/server/proxy/src/main/java/alluxio/web/ProxyWebServer.java
  docs/_data/table/s3-api-supported-actions.csv
  docs/en/api/S3-API.md
  tests/src/test/java/alluxio/client/rest/S3ClientRestApiTest.java
  tests/src/test/java/alluxio/client/rest/TestCase.java
Labels: API Change

#15805 [DOCFIX] Fix `logLevel` command doc
  docs/en/operation/Basic-Logging.md
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#15660 Implement multiple dir support in local cache
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/DefaultMetaStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/LocalCacheManager.java
  core/client/fs/src/main/java/alluxio/client/file/cache/MetaStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageInfo.java
  core/client/fs/src/main/java/alluxio/client/file/cache/PageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/QuotaMetaStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/TimeBoundPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStoreDir.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStoreOptions.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/MemoryPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/MemoryPageStoreDir.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/PageStoreDir.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/PageStoreOptions.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/QuotaManagedPageStoreDir.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStoreDir.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStoreOptions.java
  core/client/fs/src/test/java/alluxio/client/file/cache/CacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/DefaultMetaStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheManagerWithMemPageStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/QuotaMetaStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/TimeBoundPageStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/LocalPageStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/MemoryPageStoreTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/PageStoreDirTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/PageStoreTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/worker/src/main/java/alluxio/worker/block/LocalBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/page/PagedBlockMetaStore.java
  core/server/worker/src/main/java/alluxio/worker/page/PagedBlockStore.java
  tests/src/test/java/alluxio/client/fs/LocalCacheManagerIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/io/LocalCacheFileInStreamIntegrationTest.java
Labels: API Change

#15834 Port changes of [#15698] to branch-2.8
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalReader.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/FaultTolerantAlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  docs/en/operation/Journal.md
  minicluster/src/main/java/alluxio/multi/process/PortCoordination.java
  tests/src/test/java/alluxio/server/ft/journal/JournalBackupIntegrationTest.java
Labels: API Change

#15882 Modify the meaning of variables more clearly
  shell/src/main/java/alluxio/cli/fs/command/DuCommand.java
Labels: API Change

#15563 Fix load failed by display loaded
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
Labels: API Change

#15890 Create JMH microbench for `FileSystemMaster`
  microbench/pom.xml
  microbench/src/main/java/alluxio/BaseFileStructure.java
  microbench/src/main/java/alluxio/BaseThreadState.java
  microbench/src/main/java/alluxio/fsmaster/FileSystemMasterBase.java
  microbench/src/main/java/alluxio/fsmaster/FileSystemMasterBench.java
  microbench/src/main/java/alluxio/inode/InodeBenchRead.java
  microbench/src/main/java/alluxio/inode/InodeBenchWrite.java
  microbench/src/main/java/alluxio/inode/RocksBenchRead.java
  microbench/src/main/java/alluxio/inode/RocksBenchReadWrite.java
Labels: POM Change

#15866 Fix metric description of 'Cluster.BytesReadDirectThroughput'
  docs/_data/table/en/cluster-metrics.yml
Labels: Doc Fix

#15899 Fix api docs
  core/server/proxy/pom.xml
  job/server/pom.xml
Labels: POM Change

#15873 Fix snapshot from follower thread leak
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java
  core/server/common/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/transport/src/main/proto/grpc/raft_journal.proto
  core/transport/src/main/proto/proto.lock
Labels: API Change

#15892 Limit the cost in one run of block integrity check
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
Labels: API Change

#15911 Fix rockdb iterator leak for local cache
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStore.java
  core/client/fs/src/main/java/alluxio/client/file/cache/store/RocksPageStoreDir.java
  core/common/pom.xml
  core/common/src/main/java/alluxio/master/metastore/rocks/RocksUtils.java
Labels: POM Change

#15921 Upgrade Apache Ratis from 2.0.0 to 2.3.0
  core/server/common/pom.xml
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTestFaultTolerance.java
Labels: POM Change

#15951 [DOCFIX] Fix typo in deployment of Alluxio Cluster
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#15875 Refactor the address API of alluxio client
  core/client/fs/src/test/java/alluxio/client/file/MockFileSystemMasterClient.java
  core/common/src/main/java/alluxio/AbstractClient.java
  core/common/src/main/java/alluxio/AbstractJobMasterClient.java
  core/common/src/main/java/alluxio/AbstractMasterClient.java
  core/common/src/main/java/alluxio/Client.java
  core/common/src/test/java/alluxio/AbstractClientTest.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java
  integration/fuse/src/test/java/alluxio/fuse/cli/MockFuseFileSystemMasterClient.java
  shell/src/main/java/alluxio/cli/LogLevel.java
  shell/src/main/java/alluxio/cli/fs/command/LeaderCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/FileSystemAdminShellUtils.java
  shell/src/test/java/alluxio/cli/LogLevelTest.java
Labels: API Change

#15678 Fix getNewContainerId() in DefaultBlockMaster performance
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/block/BlockContainerIdGenerator.java
  core/server/master/src/main/java/alluxio/master/block/BlockMaster.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/test/java/alluxio/master/block/BlockMasterTest.java
Labels: API Change

#15823 Refactor Fuse user group policy
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/en/api/POSIX-API.md
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseFileSystemOpts.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseUtils.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJnrFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/StackFS.java
  integration/fuse/src/main/java/alluxio/fuse/auth/AuthPolicy.java
  integration/fuse/src/main/java/alluxio/fuse/auth/AuthPolicyFactory.java
  integration/fuse/src/main/java/alluxio/fuse/auth/CustomAuthPolicy.java
  integration/fuse/src/main/java/alluxio/fuse/auth/LaunchUserGroupAuthPolicy.java
  integration/fuse/src/main/java/alluxio/fuse/auth/NoopAuthPolicy.java
  integration/fuse/src/main/java/alluxio/fuse/auth/SystemUserGroupAuthPolicy.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioJniFuseFileSystemTest.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioJnrFuseFileSystemTest.java
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/auth/CustomAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/auth/LaunchUserGroupAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/auth/SystemUserGroupAuthPolicyTest.java
  tests/src/test/java/alluxio/client/fuse/AbstractFuseIntegrationTest.java
  tests/src/test/java/alluxio/client/fuse/JNRFuseIntegrationTest.java
  tests/src/test/java/alluxio/client/fuse/file/AbstractFuseFileStreamIntegrationTest.java
Labels: API Change

#15868 Update HDFS exception handling
  core/common/src/main/java/alluxio/exception/AlluxioRuntimeException.java
  core/common/src/main/java/alluxio/exception/BlockDoesNotExistRuntimeException.java
  core/common/src/main/java/alluxio/exception/JobDoesNotExistRuntimeException.java
  core/common/src/main/java/alluxio/exception/status/FailedPreconditionRuntimeException.java
  core/common/src/main/java/alluxio/exception/status/InvalidArgumentRuntimeException.java
  core/common/src/main/java/alluxio/exception/status/NotFoundRuntimeException.java
  core/common/src/main/java/alluxio/exception/status/ResourceExhaustedRuntimeException.java
  core/common/src/main/java/alluxio/exception/status/UnauthenticatedRuntimeException.java
  core/common/src/main/java/alluxio/exception/status/UnavailableRuntimeException.java
  core/common/src/main/java/alluxio/exception/status/UnknownRuntimeException.java
  core/server/worker/pom.xml
  core/server/worker/src/main/java/alluxio/worker/block/UfsIOManager.java
  core/server/worker/src/main/java/alluxio/worker/block/UfsInputStreamCache.java
  core/server/worker/src/test/java/alluxio/worker/block/DefaultBlockWorkerUfsExceptionTest.java
  core/transport/src/main/proto/grpc/common.proto
  core/transport/src/main/proto/proto.lock
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/AlluxioHdfsException.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsPositionedUnderFileInputStream.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileInputStream.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
  underfs/s3a/src/main/java/alluxio/underfs/s3a/AlluxioS3Exception.java
Labels: POM Change
