Repository Alluxio/alluxio, pull requests merged in 2022-04, with the labels that each got.

#15244 Fix the property builder
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#15253 [DOCFIX] Fix ambiguous description for impersonation in CN doc
  docs/cn/operation/Security.md
Labels: Doc Fix

#15245 Make log compaction local in embedded journal
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
Labels: API Change

#15096 [DOCFIX] Add docs about libfuse3
  docs/cn/api/POSIX-API.md
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#15243 Store ms byte as string
  core/common/src/main/java/alluxio/conf/InstancedConfiguration.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/conf/InstancedConfigurationTest.java
  tests/src/test/java/alluxio/client/cli/fs/GetConfTest.java
Labels: API Change

#15259 Rename AlluxioBlockStore to BlockStoreClient
  core/client/fs/src/main/java/alluxio/client/block/BlockStoreClient.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileOutStream.java
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/test/java/alluxio/client/block/BlockStoreClientTest.java
  core/client/fs/src/test/java/alluxio/client/file/AlluxioFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/FileOutStreamTest.java
  core/client/hdfs/src/test/java/alluxio/hadoop/AbstractFileSystemTest.java
  job/server/src/main/java/alluxio/job/plan/replicate/EvictDefinition.java
  job/server/src/main/java/alluxio/job/plan/replicate/ReplicateDefinition.java
  job/server/src/main/java/alluxio/job/util/JobUtils.java
  job/server/src/test/java/alluxio/job/plan/BatchedJobDefinitionTest.java
  job/server/src/test/java/alluxio/job/plan/load/LoadDefinitionTest.java
  job/server/src/test/java/alluxio/job/plan/migrate/MigrateDefinitionSelectExecutorsTest.java
  job/server/src/test/java/alluxio/job/plan/persist/PersistDefinitionTest.java
  job/server/src/test/java/alluxio/job/plan/replicate/EvictDefinitionTest.java
  job/server/src/test/java/alluxio/job/plan/replicate/ReplicateDefinitionTest.java
  shell/src/main/java/alluxio/cli/fs/command/GetCapacityBytesCommand.java
  shell/src/main/java/alluxio/cli/fs/command/GetUsedBytesCommand.java
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/LocationCommand.java
  shell/src/main/java/alluxio/cli/fs/command/StatCommand.java
  tests/src/test/java/alluxio/client/fs/RemoteReadIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MultiWorkerIntegrationTest.java
Labels: API Change

#15258 [DOCFIX] Fix POSIX API doc for umount command
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#15263 Improve fuse mount based on user configuration
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/block/FuseManager.java
  docs/en/api/POSIX-API.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  integration/docker/entrypoint.sh
  integration/fuse/bin/alluxio-fuse
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/main/java/alluxio/fuse/FuseMountConfig.java
  integration/fuse/src/main/java/alluxio/fuse/FuseMountOptions.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioFuseFileSystemTest.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioJniFuseFileSystemTest.java
  integration/kubernetes/helm-chart/alluxio/templates/config/alluxio-conf.yaml
  integration/kubernetes/helm-chart/alluxio/templates/fuse/daemonset.yaml
  integration/kubernetes/helm-chart/alluxio/values.yaml
  libexec/alluxio-config.sh
  tests/src/test/java/alluxio/client/fuse/JNIFuseIntegrationTest.java
  tests/src/test/java/alluxio/client/fuse/JNRFuseIntegrationTest.java
  tests/src/test/java/alluxio/server/worker/WorkerFuseIntegrationTest.java
Labels: API Change

#15228 Add a default implementation of cache filter to local cache
  core/client/fs/src/main/java/alluxio/client/file/cache/filter/CacheFilter.java
  core/client/fs/src/main/java/alluxio/client/file/cache/filter/DefaultCacheFilter.java
  core/client/hdfs/src/main/java/alluxio/hadoop/LocalCacheFileSystem.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#15242 Create command async submission on the client side
  docs/en/operation/User-CLI.md
  job/client/src/main/java/alluxio/client/job/JobMasterClient.java
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  shell/src/main/java/alluxio/cli/fs/command/AbstractDistributedJobCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/GetCmdStatusCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/DistributedLoadCommandTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/GetCmdStatusCommandTest.java
Labels: API Change

#15205 Add metadata tags to the Alluxio proxy's S3 REST API
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/contexts/CreatePathContext.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/MutableInode.java
  core/server/master/src/main/java/alluxio/master/file/meta/MutableInodeDirectory.java
  core/server/master/src/main/java/alluxio/master/file/meta/MutableInodeFile.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3Constants.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3ErrorCode.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3Exception.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestUtils.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/TaggingData.java
  core/transport/src/main/proto/grpc/file_system_master.proto
  core/transport/src/main/proto/proto.lock
  core/transport/src/main/proto/proto/journal/file.proto
  tests/src/test/java/alluxio/client/rest/JobMasterClientRestApiTest.java
  tests/src/test/java/alluxio/client/rest/S3ClientRestApiTest.java
  tests/src/test/java/alluxio/client/rest/TestCase.java
  tests/src/test/java/alluxio/client/rest/TestCaseOptions.java
  tests/src/test/java/alluxio/client/rest/TestCaseOptionsTest.java
Labels: API Change

#15240 Add NullPointerException occurred trouble shooting
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#15270 [DOCFIX] Improve Fuse mount docs
  docs/en/api/POSIX-API.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#15286 Fix FUSE deprecated property key
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#15280 Add missing options in DistributedLoad command
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
Labels: API Change

#15303 Improve Fuse.statfs to avoid copyProperties and cache on client side
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/block/FuseManager.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioJniFuseFileSystemTest.java
  tests/src/test/java/alluxio/client/fuse/AbstractFuseIntegrationTest.java
  tests/src/test/java/alluxio/client/fuse/JNIFuseIntegrationTest.java
  tests/src/test/java/alluxio/client/fuse/JNRFuseIntegrationTest.java
  tests/src/test/java/alluxio/server/worker/WorkerFuseIntegrationTest.java
Labels: API Change

#15315 Fix property key template type
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#15340 [DOCFIX] Fix catalog doc
  docs/en/core-services/Catalog.md
Labels: Doc Fix

#15338 Revert k8s fuse force umount
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/kubernetes/helm-chart/alluxio/templates/fuse/daemonset.yaml
Labels: API Change

#15336 Refactor property key template constructor
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#15358 [DOCFIX] Update stress bench doc
  docs/en/operation/StressBench.md
Labels: Doc Fix

#15375 [DOCFIX] Add newline to StressBench.md
  docs/en/operation/StressBench.md
Labels: Doc Fix

#15378 Validate `Journal.md`
  bin/alluxio-start.sh
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalConfiguration.java
Labels: API Change

#15367 [DOCFIX] Improve POSIX API docs
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#15391 [DOCFIX] Improve troubleshooting doc
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#15384 Add fall back for availableProcessor()
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/grpc/GrpcDataServer.java
Labels: API Change

#15383 [DOCFIX] Update quickstart doc
  docs/en/overview/Getting-Started.md
Labels: Doc Fix

#15385 [DOCFIX] Improve docker file
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#15393 [DOCFIX] Update configuration doc
  docs/_data/table/en/env_vars.yml
  docs/en/operation/Basic-Logging.md
  docs/en/operation/Configuration.md
Labels: Doc Fix

#15404 [DOCFIX] Validate `Tensorflow.md`
  docs/en/compute/Tensorflow.md
Labels: Doc Fix

#15379 Update job service docs
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#15392 [DOCFIX] Improve Hive doc
  docs/en/compute/Hive.md
Labels: Doc Fix

#15350 Reformat screen output for sync mode submission and fix wait flag
  core/transport/src/main/proto/grpc/job_master.proto
  job/client/src/main/java/alluxio/client/job/RetryHandlingJobMasterClient.java
  job/common/src/main/java/alluxio/job/ProtoUtils.java
  job/common/src/main/java/alluxio/job/wire/CmdStatusBlock.java
  job/common/src/main/java/alluxio/job/wire/SimpleJobStatusBlock.java
  job/server/src/main/java/alluxio/master/job/tracker/CmdJobTracker.java
  job/server/src/main/java/alluxio/master/job/tracker/CmdRunAttempt.java
  job/server/src/main/java/alluxio/master/job/tracker/DistLoadCliRunner.java
  job/server/src/main/java/alluxio/master/job/tracker/MigrateCliRunner.java
  job/server/src/test/java/alluxio/master/job/tracker/CliRunnerTest.java
  job/server/src/test/java/alluxio/master/job/tracker/CmdJobTrackerTest.java
  shell/src/main/java/alluxio/cli/fs/command/AbstractDistributedJobCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadCommand.java
  shell/src/main/java/alluxio/cli/fs/command/GetCmdStatusCommand.java
  shell/src/main/java/alluxio/cli/job/command/GetCmdStatusCommand.java
  shell/src/main/java/alluxio/cli/util/DistributedCommandUtil.java
  stress/shell/src/main/java/alluxio/stress/cli/StressJobServiceBench.java
  tests/src/test/java/alluxio/client/cli/fs/command/DistributedLoadCommandTest.java
  tests/src/test/java/alluxio/client/cli/job/GetCmdStatusCommandTest.java
Labels: API Change

#15399 [DOCFIX] Update HDFS doc
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#15355 [DOCFIX] Update scalability doc
  docs/en/operation/Scalability-Tuning.md
Labels: Doc Fix

#15347 [DOCFIX] Fix the inaccurate statement in the caching doc
  docs/en/core-services/Caching.md
Labels: Doc Fix

#15424 [DOCFIX] Update UFS S3 webpage doc
  docs/en/ufs/S3.md
Labels: Doc Fix

#15416 [DOCFIX] Fix POSIX API doc
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#15415 [DOCFIX] Update basic logging doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/operation/Basic-Logging.md
Labels: Doc Fix

#15382 Refactor BlockWorker API
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerDataReader.java
  core/common/src/main/java/alluxio/wire/BlockReadRequest.java
  core/common/src/main/java/alluxio/worker/block/BlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockStoreEventListener.java
  core/server/worker/src/main/java/alluxio/worker/block/CacheRequestManager.java
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/LocalBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/TieredBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/UnderFileSystemBlockReader.java
  core/server/worker/src/main/java/alluxio/worker/block/UnderFileSystemBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/evictor/Evictor.java
  core/server/worker/src/main/java/alluxio/worker/block/management/AbstractBlockManagementTask.java
  core/server/worker/src/main/java/alluxio/worker/block/management/BlockTransferExecutor.java
  core/server/worker/src/main/java/alluxio/worker/block/management/ManagementTaskCoordinator.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/AlignTask.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/PromoteTask.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/SwapRestoreTask.java
  core/server/worker/src/main/java/alluxio/worker/block/management/tier/TierManagementTaskProvider.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadHandler.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadRequestContext.java
  core/server/worker/src/test/java/alluxio/worker/block/DefaultBlockWorkerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/NoopBlockWorker.java
  core/server/worker/src/test/java/alluxio/worker/block/TieredBlockStoreTestUtils.java
  core/server/worker/src/test/java/alluxio/worker/block/UnderFileSystemBlockReaderTest.java
  core/server/worker/src/test/java/alluxio/worker/block/UnderFileSystemBlockStoreTest.java
  core/server/worker/src/test/java/alluxio/worker/grpc/BlockReadHandlerTest.java
  core/server/worker/src/test/java/alluxio/worker/grpc/UfsFallbackBlockWriteHandlerTest.java
Labels: API Change

#15386 [DOCFIX] Update HDFS build information for active sync
  docs/en/contributor/Building-Alluxio-From-Source.md
  docs/en/core-services/Unified-Namespace.md
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#15417 [DOCFIX] Update commands in spark doc
  docs/en/compute/Spark.md
Labels: Doc Fix

#15433 [DOCFIX] Validate fsadmin doc
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#15422 [DOCFIX] Update metastore document
  docs/en/operation/Metastore.md
Labels: Doc Fix

#15432 [DOCFIX] Validate Building from source doc
  docs/en/contributor/Building-Alluxio-From-Source.md
Labels: Doc Fix

#15445 Revert "Add timeout logic to local block reading/writing"
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/worker/block/io/TimeBoundBlockReader.java
  core/common/src/main/java/alluxio/worker/block/io/TimeBoundBlockWriter.java
  core/server/worker/src/main/java/alluxio/worker/block/TieredBlockStore.java
Labels: API Change

#15449 [DOCFIX] Add how to enable web/metrics on standby masters
  docs/en/operation/Metrics-System.md
  docs/en/operation/Web-Interface.md
Labels: Doc Fix

#15448 [DOCFIX] Add the memory overhead of rm/unmount/sync in the doc
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#15395 Bump Hadoop version to 3.3.1
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  dev/scripts/src/alluxio.org/build-distribution/cmd/common.go
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  docs/en/contributor/Building-Alluxio-From-Source.md
  docs/en/ufs/COSN.md
  docs/en/ufs/HDFS.md
  integration/tools/pom.xml
  pom.xml
  shaded/hadoop/pom.xml
  underfs/abfs/pom.xml
  underfs/adl/pom.xml
  underfs/hdfs/pom.xml
  underfs/wasb/pom.xml
Labels: POM Change, API Change

#15457 [DOCFIX] Update generated tables with docGen
  docs/_data/table/client-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
Labels: Doc Fix
