Repository Alluxio/alluxio, pull requests merged in 2022-10, with the labels that each got.

#16255 [DOCFIX] Update updateConf description in Admin-CLI.md
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#16260 Merge #16241 to branch-2.8
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  core/server/master/src/main/java/alluxio/master/file/MetadataSyncLockManager.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataConcurrentTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataMetricsTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataTestBase.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/master/src/test/java/alluxio/master/file/MetadataSyncLockManagerTest.java
  core/transport/src/main/proto/proto.lock
  tests/src/test/java/alluxio/client/fs/FileSystemMasterIntegrationTest.java
Labels: API Change

#16247 [DOCFIX] Clean up Eng Doc - remove glusterfs
  docs/cn/Overview.md
  docs/cn/contributor/Contributor-Getting-Started.md
  docs/cn/overview/FAQ.md
  docs/cn/overview/Getting-Started.md
  docs/cn/ufs/GlusterFS.md
  docs/cn/ufs/Ufs-Extensions.md
  docs/en/Overview.md
  docs/en/contributor/Contributor-Getting-Started.md
  docs/en/ufs/GlusterFS.md
  docs/en/ufs/Ufs-Extensions.md
Labels: Doc Fix

#16259 [DOCFIX] Clean up Eng Doc - remove OBS
  docs/cn/ufs/OBS.md
  docs/cn/ufs/Ufs-Extensions.md
  docs/en/ufs/OBS.md
  docs/en/ufs/Ufs-Extensions.md
Labels: Doc Fix

#16190 Add extra monitoring indicators part3
  core/common/src/main/java/alluxio/conf/InstancedConfiguration.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/throttle/DefaultThrottleMaster.java
  core/server/master/src/main/java/alluxio/master/throttle/MetricsMonitorUtils.java
  core/server/master/src/main/java/alluxio/master/throttle/ServerIndicator.java
  core/server/master/src/main/java/alluxio/master/throttle/SystemMonitor.java
  core/server/master/src/main/java/alluxio/master/throttle/ThrottleMasterFactory.java
  core/server/master/src/main/resources/META-INF/services/alluxio.master.MasterFactory
Labels: API Change

#16144 Add Invalidation Cache for metadata sync
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  core/server/master/src/main/java/alluxio/master/file/meta/LockingScheme.java
  core/server/master/src/main/java/alluxio/master/file/meta/MountTable.java
  core/server/master/src/main/java/alluxio/master/file/meta/SyncCheck.java
  core/server/master/src/main/java/alluxio/master/file/meta/SyncState.java
  core/server/master/src/main/java/alluxio/master/file/meta/UfsSyncPathCache.java
  core/server/master/src/main/java/alluxio/underfs/UfsStatusCache.java
  core/server/master/src/test/java/alluxio/master/file/AccessTimeUpdaterTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataConcurrentTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataMetricsTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTestBase.java
  core/server/master/src/test/java/alluxio/master/file/PermissionCheckerTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/AsyncUfsAbsentPathCacheTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/InodeTreeTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/InvalidationSyncCacheTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/LazyUfsBlockLocationCacheTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/MountTableTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/UfsSyncCachePathTest.java
  core/server/master/src/test/java/alluxio/master/file/replication/ReplicationCheckerTest.java
  core/server/master/src/test/java/alluxio/underfs/UfsStatusCacheTest.java
  microbench/src/main/java/alluxio/BaseFileStructure.java
  microbench/src/main/java/alluxio/BaseThreadState.java
  microbench/src/main/java/alluxio/inode/InodeBenchBase.java
  microbench/src/main/java/alluxio/invalidation/cache/InvalidationSyncCacheBench.java
Labels: API Change

#16287 Refactor FileSystem and RPC client calls
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java
  core/common/src/main/java/alluxio/master/MasterInquireClient.java
Labels: API Change

#16277 [DOCFIX] Improve Alluxio POSIX API doc
  docs/en/api/POSIX-API.md
  docs/img/posix-cache.png
  docs/img/posix-stack.png
Labels: Doc Fix

#16291 Refactor metadata caching filesystem
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemCache.java
  core/client/fs/src/main/java/alluxio/client/file/MetadataCachingFileSystem.java
  core/client/fs/src/test/java/alluxio/client/file/MetadataCachingFileSystemTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/AbstractMetadataCacheSubCommand.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/DropAllCommand.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/DropCommand.java
  integration/fuse/src/main/java/alluxio/cli/command/metadatacache/SizeCommand.java
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/cli/FuseShellTest.java
Labels: API Change

#16054 Optimize getFileBlockLocations performance
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemCache.java
  core/client/fs/src/main/java/alluxio/client/file/MetadataCachingFileSystem.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AbstractFileSystem.java
  core/client/hdfs/src/main/java/alluxio/hadoop/AlluxioFileStatus.java
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
Labels: API Change

#16322 Fix early release of buffer
  core/client/fs/src/main/java/alluxio/client/file/cache/store/LocalPageStore.java
  core/common/pom.xml
  core/common/src/main/java/alluxio/network/protocol/databuffer/PooledDirectNioByteBuf.java
  core/common/src/main/java/alluxio/network/protocol/databuffer/PooledNioDataBuffer.java
  core/common/src/main/java/alluxio/network/protocol/databuffer/RefCountedNioByteBuf.java
  core/common/src/main/java/alluxio/worker/block/io/BlockReader.java
  core/common/src/test/java/alluxio/network/protocol/databuffer/RefCountedNioByteBufTest.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockReadHandler.java
  core/server/worker/src/main/java/alluxio/worker/page/NettyBufTargetBuffer.java
  core/server/worker/src/main/java/alluxio/worker/page/PagedBlockReader.java
  microbench/src/main/java/alluxio/worker/BlockStoreSequentialReadBench.java
  tests/src/test/java/alluxio/client/fs/io/FileInStreamIntegrationTest.java
  tests/src/test/java/alluxio/server/worker/PagedBlockStoreIntegrationTest.java
Labels: POM Change

#16333 Reduce creation of unused strings
  core/common/src/main/java/alluxio/conf/InstancedConfiguration.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystemWithLogging.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  integration/fuse/src/main/java/alluxio/fuse/file/FuseFileInOrOutStream.java
  integration/fuse/src/main/java/alluxio/fuse/file/FuseFileOutStream.java
  shell/src/main/java/alluxio/cli/fs/command/CopyFromLocalCommand.java
Labels: API Change

#16338 Fix typo for the property key of paging store
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#16292 Add client to UFS bridge
  core/client/fs/pom.xml
  core/client/fs/src/main/java/alluxio/client/file/FileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/ufs/UfsBaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/ufs/UfsFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/ufs/UfsFileOutStream.java
  core/client/fs/src/test/java/alluxio/client/file/ufs/UfsBaseFileSystemTest.java
  core/client/fs/src/test/java/alluxio/client/file/ufs/UfsFileInStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/ufs/UfsFileOutStreamTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/UfsManager.java
  core/common/src/main/java/alluxio/util/io/BufferUtils.java
Labels: POM Change, API Change

#15863 Modify Libfuse version configuration
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseUtils.java
  integration/fuse/src/main/java/alluxio/fuse/StackMain.java
  integration/fuse/src/test/java/alluxio/fuse/AlluxioJniFuseFileSystemTest.java
  integration/fuse/src/test/java/alluxio/jnifuse/struct/FuseFileInfoTest.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/AbstractFuseFileSystem.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/LibFuse.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/utils/LibfuseVersion.java
  integration/jnifuse/fs/src/main/java/alluxio/jnifuse/utils/NativeLibraryLoader.java
  tests/src/test/java/alluxio/client/fuse/JNIFuseIntegrationTest.java
Labels: API Change

#16318 Add Alluxio FUSE SDK launch script to direct connect UFS
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/bin/alluxio-fuse-sdk
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseUtils.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java
Labels: API Change

#16358 [DOCFIX] Add master monitoring doc
  docs/en/operation/Troubleshooting.md
Labels: Doc Fix

#16339 [DOCFIX] Add docs for paging store
  docs/en/core-services/Caching.md
Labels: Doc Fix

#16348 Remove Configuration and CLI of Alluxio table
  bin/alluxio
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#16349 Remove conf & doc for tiered locality
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/network/TieredIdentityFactoryTest.java
  docs/cn/operation/Tiered-Locality.md
  docs/en/api/Java-API.md
  docs/en/operation/Tiered-Locality.md
  docs/en/operation/User-CLI.md
Labels: API Change

#16354 [DOCFIX] Add mention of ARM architecture in requirements doc
  docs/en/deploy/Requirements.md
Labels: Doc Fix

#16382 [DOCFIX] Fix wrong property name reference load to load.type
  docs/_data/table/cn/user-configuration.yml
Labels: Doc Fix

#16350 Remove Ufs Extension
  bin/alluxio
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/cn/overview/FAQ.md
  docs/cn/ufs/Ufs-Extension-API.md
  docs/cn/ufs/Ufs-Extensions.md
  docs/en/operation/User-CLI.md
  docs/en/overview/FAQ.md
  docs/en/ufs/Ufs-Extension-API.md
  docs/en/ufs/Ufs-Extensions.md
Labels: API Change

#16353 [DOCFIX] Update the posix api doc cache tuning
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#16321 [SMALLFIX] Fix typos in worker-configuration.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
Labels: Doc Fix

#16380 Clean up ignored table unit/integration tests and maven
  assembly/client/pom.xml
  assembly/server/pom.xml
  core/client/fs/src/test/java/alluxio/client/block/stream/UfsFallbackLocalFileDataWriterTest.java
  core/client/fs/src/test/java/alluxio/client/file/cache/store/PageStoreTest.java
  core/common/src/test/java/alluxio/resource/AlluxioLeakDetectorTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/LockedInodePathTest.java
  integration/fuse/src/test/java/alluxio/jnifuse/struct/StatvfsTest.java
  pom.xml
  shaded/client/pom.xml
  shell/pom.xml
  tests/pom.xml
  tests/src/test/java/alluxio/client/fs/BlockMasterRegisterStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/FileSystemMasterIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/io/UfsFallbackFileOutStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/table/TableMasterClientTest.java
  tests/src/test/java/alluxio/master/table/TableIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MasterFailoverIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/journal/TableMasterJournalIntegrationTest.java
  tests/src/test/java/alluxio/server/tieredstore/LostStorageIntegrationTest.java
Labels: POM Change

#16400 Refactor file system options
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileOutStream.java
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/MetadataCachingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/RetryHandlingFileSystemMasterClient.java
  core/client/fs/src/main/java/alluxio/client/file/options/FileSystemOptions.java
  core/client/fs/src/main/java/alluxio/client/file/options/InStreamOptions.java
  core/client/fs/src/main/java/alluxio/client/file/options/OutStreamOptions.java
  core/client/fs/src/main/java/alluxio/util/FileSystemOptionsUtils.java
  core/client/fs/src/test/java/alluxio/client/block/BlockStoreClientTest.java
  core/client/fs/src/test/java/alluxio/client/file/BaseFileSystemTest.java
  core/client/fs/src/test/java/alluxio/util/FileSystemOptionsUtilsTest.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterOptions.java
  core/server/master/src/main/java/alluxio/master/file/contexts/CheckAccessContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/CheckConsistencyContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/CreateDirectoryContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/CreateFileContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/DeleteContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/ExistsContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/FreeContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/GetStatusContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/ListStatusContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/LoadMetadataContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/MountContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/RenameContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/ScheduleAsyncPersistenceContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/SetAclContext.java
  core/server/master/src/main/java/alluxio/master/file/contexts/SetAttributeContext.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/master/src/test/java/alluxio/master/file/PermissionCheckTest.java
  core/server/worker/src/test/java/alluxio/worker/block/CacheRequestManagerTest.java
  core/server/worker/src/test/java/alluxio/worker/block/stream/BlockWorkerDataReaderTest.java
  shell/src/main/java/alluxio/cli/fs/command/CheckConsistencyCommand.java
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
  tests/src/main/java/alluxio/master/backcompat/ops/PersistFile.java
  tests/src/test/java/alluxio/client/fs/FileSystemMasterClientIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/UfsSyncIntegrationTest.java
  tests/src/test/java/alluxio/job/plan/persist/PersistIntegrationTest.java
  tests/src/test/java/alluxio/server/auth/MasterClientAuthenticationIntegrationTest.java
  tests/src/test/java/alluxio/testutils/IntegrationTestUtils.java
Labels: API Change

#16345 Make metadata sync work with merge inode journal feature flag
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/FileSystemMergeJournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/JournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/MetadataSyncMergeJournalContext.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemJournalEntryMerger.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  core/server/master/src/main/java/alluxio/master/file/meta/LockedInodePath.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemJournalEntryMergerTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataConcurrentTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataFlushJournalTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataMetricsTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataTestBase.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/LockedInodePathTest.java
  core/server/master/src/test/java/alluxio/master/journal/JournalContextTest.java
Labels: API Change

#16394 Add cli for marking a path as needing sync with UFS
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemMasterClient.java
  core/client/fs/src/main/java/alluxio/client/file/RetryHandlingFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/MockFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientServiceHandler.java
  core/server/master/src/main/java/alluxio/master/file/meta/UfsSyncPathCache.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncTest.java
  core/transport/src/main/proto/grpc/file_system_master.proto
  core/transport/src/main/proto/proto.lock
  docs/en/operation/User-CLI.md
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/cli/MockFuseFileSystemMasterClient.java
  shell/src/main/java/alluxio/cli/fs/command/NeedsSyncCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/NeedsSyncCommandIntegrationTest.java
Labels: API Change

#16408 [DOCFIX] Clean up Eng Doc - reorganize files
  docs/_config.yml
  docs/cn/administration/Troubleshooting.md
  docs/cn/compute/Tensorflow.md
  docs/cn/kubernetes/Running-Alluxio-On-Kubernetes.md
  docs/cn/kubernetes/Spark-On-Kubernetes.md
  docs/cn/reference/Properties-List.md
  docs/cn/security/Security.md
  docs/cn/solutions/Deep-Learning.md
  docs/cn/ufs/HDFS.md
  docs/en/administration/Basic-Logging.md
  docs/en/administration/Performance-Tuning.md
  docs/en/administration/Remote-Logging.md
  docs/en/administration/Scalability-Tuning.md
  docs/en/administration/StressBench.md
  docs/en/administration/Troubleshooting.md
  docs/en/administration/Upgrade.md
  docs/en/api/Java-API.md
  docs/en/api/POSIX-API.md
  docs/en/api/S3-API.md
  docs/en/cloud/Alibaba-Cloud-ACK.md
  docs/en/compute/Tensorflow.md
  docs/en/contributor/Code-Conventions.md
  docs/en/deploy/Requirements.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/kubernetes/Running-Alluxio-On-Kubernetes.md
  docs/en/kubernetes/Spark-On-Kubernetes.md
  docs/en/operation/User-CLI.md
  docs/en/overview/FAQ.md
  docs/en/overview/Getting-Started.md
  docs/en/reference/Properties-List.md
  docs/en/security/Security.md
  docs/en/solutions/Deep-Learning.md
  docs/en/ufs/HDFS.md
  integration/docker/csi/README.md
  integration/kubernetes/helm-chart/README.md
  integration/kubernetes/helm-chart/alluxio/README.md
Labels: Doc Fix

#16414 Fix shaded client dependencies for prestodb's alluxio connector
  pom.xml
  shaded/client/pom.xml
Labels: POM Change

#16389 Enable backup delegation by default
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#16366 [DOCFIX] Add doc on how to deploy proxy in docker/k8s
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/kubernetes/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#16441 [DOCFIX] Port changes of [#16366] to branch-2.9
  docs/en/deploy/Running-Alluxio-On-Docker.md
  docs/en/kubernetes/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix
