Repository Alluxio/alluxio, pull requests merged in 2022-01, with the labels that each got.

#14775 Improve Fuse metrics docs
  docs/en/api/POSIX-API.md
  docs/en/operation/Metrics-System.md
  docs/en/reference/Metrics-List.md
Labels: Doc Fix

#14787 Support build ozone 1.2.1, remove shaded-ozone module
  dev/scripts/src/alluxio.org/build-distribution/cmd/common.go
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  docs/cn/ufs/Ozone.md
  docs/en/ufs/Ozone.md
  pom.xml
  shaded/ozone/pom.xml
  shaded/pom.xml
  underfs/ozone/pom.xml
  underfs/ozone/src/main/java-templates/alluxio/OzoneUfsConstants.java
  underfs/ozone/src/main/java/alluxio/underfs/ozone/OzoneUnderFileSystemFactory.java
Labels: POM Change

#14753 [DOCFIX] Fix wrong file name in k8s doc
  docs/en/deploy/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#14701 Add LoadTableCommand
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  table/shell/pom.xml
  table/shell/src/main/java/alluxio/cli/table/command/LoadTableCommand.java
Labels: POM Change, API Change

#14829 Update guava to fix some CVEs
  core/client/fs/src/main/java/alluxio/client/file/cache/CacheManagerWithShadowCache.java
  core/server/common/src/main/java/alluxio/AbstractStorageTierAssoc.java
  core/server/master/src/main/java/alluxio/master/file/UfsSyncChecker.java
  pom.xml
Labels: POM Change

#14832 Update jersey version
  pom.xml
Labels: POM Change

#14830 Update kubernetes packages
  pom.xml
Labels: POM Change

#14777 Add fuse shell doc
  docs/cn/api/POSIX-API.md
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#14678 Add distributed commands related metrics to job service
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  job/common/src/main/java/alluxio/job/plan/migrate/MigrateConfig.java
  job/server/src/main/java/alluxio/master/job/metrics/DistributedCmdMetrics.java
  job/server/src/main/java/alluxio/master/job/plan/PlanCoordinator.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
  tests/src/test/java/alluxio/client/cli/job/DistributedCommandsCancelStatsTest.java
Labels: API Change

#14827 [DOCFIX] Add 2.10 to HDFS.md
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#14720 [DOCFIX] Update obsolete default WriteType value
  docs/_data/table/cn/WriteType.yml
  docs/_data/table/en/WriteType.yml
Labels: Doc Fix

#14831 Update protobuf version
  pom.xml
Labels: POM Change

#14871 Add default_permissions fuse mount option
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
Labels: API Change

#14873 Fix default value and description for inode cache property key
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#14864 [DOCFIX] Fix the HDFS document
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#14877 Bump gson version
  pom.xml
Labels: POM Change

#14770 [SMALLFIX] Modify the hdfs ufsConstants output path
  underfs/hdfs/pom.xml
Labels: POM Change

#14860 Remove integration/yarn
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  integration/yarn/bin/alluxio-application-master.sh
  integration/yarn/bin/alluxio-master-yarn.sh
  integration/yarn/bin/alluxio-worker-yarn.sh
  integration/yarn/bin/alluxio-yarn-setup.sh
  integration/yarn/bin/alluxio-yarn.sh
  integration/yarn/bin/common.sh
  integration/yarn/pom.xml
  integration/yarn/src/main/java/alluxio/yarn/ApplicationMaster.java
  integration/yarn/src/main/java/alluxio/yarn/Client.java
  integration/yarn/src/main/java/alluxio/yarn/CommandBuilder.java
  integration/yarn/src/main/java/alluxio/yarn/ContainerAllocator.java
  integration/yarn/src/main/java/alluxio/yarn/YarnUtils.java
  integration/yarn/src/test/java/alluxio/yarn/ClientTest.java
  integration/yarn/src/test/java/alluxio/yarn/ContainerAllocatorTest.java
  pom.xml
Labels: POM Change

#14288 [DOCFIX] Update guide on logging convention
  docs/en/contributor/Code-Conventions.md
Labels: Doc Fix

#14872 Separate ratis dependencies between alluxio server and ufs ozone
  core/server/common/pom.xml
  pom.xml
Labels: POM Change

#14881 Update hadoop dependencies
  pom.xml
Labels: POM Change

#14861 Update protolock plugin
  core/transport/pom.xml
  core/transport/src/main/proto/proto.lock
  pom.xml
Labels: POM Change

#14259 Support web server/metrics sink in standby masters
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  core/common/src/main/java/alluxio/wire/MasterWebUIOverview.java
  core/server/common/src/main/java/alluxio/master/MasterProcess.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/FaultTolerantAlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/meta/AlluxioMasterRestServiceHandler.java
  core/server/master/src/main/java/alluxio/master/metrics/DefaultMetricsMaster.java
  core/server/master/src/test/java/alluxio/master/AlluxioMasterProcessTest.java
  job/server/src/main/java/alluxio/master/AlluxioJobMasterProcess.java
  job/server/src/main/java/alluxio/master/FaultTolerantAlluxioJobMasterProcess.java
  minicluster/src/main/java/alluxio/master/LocalAlluxioMaster.java
  webui/master/src/containers/pages/Overview/Overview.tsx
  webui/master/src/containers/pages/Overview/__snapshots__/Overview.test.tsx.snap
  webui/master/src/store/overview/reducer.tsx
  webui/master/src/store/overview/types.tsx
Labels: API Change

#14914 Fix not closing terminal
  shell/src/main/java/alluxio/cli/fs/command/HelpCommand.java
Labels: API Change

#14918 Add worker startup timeout property key
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/AlluxioWorkerProcess.java
Labels: API Change
