Repository Alluxio/alluxio, pull requests merged in 2022-11, with the labels that each got.

#16187 Remove caching for CapacityBaseRandomPolicy
  core/client/fs/src/main/java/alluxio/client/block/policy/CapacityBaseRandomPolicy.java
  core/client/fs/src/test/java/alluxio/client/block/policy/CapacityBaseRandomPolicyTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: priority-high, API Change

#16271 Add a command to free a worker
  core/client/fs/src/main/java/alluxio/client/block/BlockMasterClient.java
  core/client/fs/src/main/java/alluxio/client/block/RetryHandlingBlockMasterClient.java
  core/client/fs/src/main/java/alluxio/client/block/options/GetWorkerReportOptions.java
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/block/stream/DefaultBlockWorkerClient.java
  core/common/src/main/java/alluxio/worker/block/BlockWorker.java
  core/server/master/src/main/java/alluxio/master/block/BlockMaster.java
  core/server/master/src/main/java/alluxio/master/block/BlockMasterClientServiceHandler.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/meta/DefaultStorageTier.java
  core/server/worker/src/main/java/alluxio/worker/grpc/BlockWorkerClientServiceHandler.java
  core/server/worker/src/test/java/alluxio/worker/block/NoopBlockWorker.java
  core/transport/src/main/proto/grpc/block_master.proto
  core/transport/src/main/proto/grpc/block_worker.proto
  core/transport/src/main/proto/proto.lock
  shell/src/main/java/alluxio/cli/fs/command/FreeWorkerCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/command/ReportCommand.java
  shell/src/main/java/alluxio/cli/fsadmin/report/CapacityCommand.java
Labels: API Change

#14565 Configure block and inode metastore separately
  core/common/src/main/java/alluxio/check/UpdateCheck.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/util/FeatureUtils.java
  core/common/src/test/java/alluxio/check/UpdateCheckTest.java
  core/server/master/src/main/java/alluxio/master/MasterUtils.java
  tests/src/test/java/alluxio/server/ft/journal/JournalBackupIntegrationTest.java
Labels: API Change

#16470 [DOCFIX] Add job service metrics to doc
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#16449 [DOCFIX] Add the POSIX user group policy doc
  docs/en/api/POSIX-API.md
Labels: Doc Fix

#16443 Optimize MasterWorkerInfo memory usage by introducing fastutil Set
  core/server/master/pom.xml
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/block/meta/MasterWorkerInfo.java
  core/server/master/src/test/java/alluxio/master/block/BlockMasterTest.java
  pom.xml
Labels: POM Change

#16336 Add hadoop dependencies into ozone ufs connector
  underfs/ozone/pom.xml
Labels: POM Change

#16485 Add flag sync root
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  tests/src/test/java/alluxio/server/ft/journal/JournalBackupIntegrationTest.java
Labels: API Change

#16489 Fix worker fuse metadata cache
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
Labels: API Change

#16505 [DOCFIX] Add note in doc about automatic backup upon journal corruption
  docs/en/operation/Journal.md
Labels: Doc Fix

#16251 Add the replica number feature through heartbeat
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/wire/HeartBeatResponseMessage.java
  core/server/master/src/main/java/alluxio/master/block/BlockMaster.java
  core/server/master/src/main/java/alluxio/master/block/BlockMasterWorkerServiceHandler.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/block/meta/MasterWorkerInfo.java
  core/server/master/src/test/java/alluxio/master/block/BlockMasterTest.java
  core/server/master/src/test/java/alluxio/master/block/ConcurrentBlockMasterTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterSync.java
  core/server/worker/src/test/java/alluxio/worker/block/BlockMasterClientTest.java
  core/server/worker/src/test/java/alluxio/worker/block/DefaultBlockWorkerTest.java
  core/transport/src/main/proto/grpc/block_master.proto
  core/transport/src/main/proto/proto.lock
  stress/shell/src/main/java/alluxio/stress/cli/WorkerHeartbeatBench.java
  tests/src/test/java/alluxio/client/fs/BlockMasterRegisterStreamIntegrationTest.java
  tests/src/test/java/alluxio/client/fs/BlockWorkerRegisterStreamIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/MasterFaultToleranceIntegrationTest.java
Labels: API Change

#16500 [DOCFIX] Add missing doc changes
  docs/en/operation/Journal.md
  docs/en/operation/User-CLI.md
  docs/en/ufs/HDFS.md
Labels: Doc Fix

#16516 [DOCFIX] Add fuse to clientIO stressbench doc
  docs/en/administration/StressBench.md
Labels: Doc Fix

#16499 [DOCFIX] Update generated tables with docGen
  docs/_data/table/client-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/cluster-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/fuse-metrics.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/process-metrics.yml
  docs/_data/table/en/proxy-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/en/worker-metrics.yml
  docs/_data/table/fuse-metrics.csv
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/process-metrics.csv
  docs/_data/table/proxy-metrics.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
  docs/_data/table/worker-metrics.csv
Labels: Doc Fix

#16520 [DOCFIX] Update generated tables with docGen
  docs/_data/table/client-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/cluster-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/fuse-metrics.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/process-metrics.yml
  docs/_data/table/en/proxy-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/en/worker-metrics.yml
  docs/_data/table/fuse-metrics.csv
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/process-metrics.csv
  docs/_data/table/proxy-metrics.csv
  docs/_data/table/user-configuration.csv
  docs/_data/table/worker-configuration.csv
  docs/_data/table/worker-metrics.csv
Labels: Doc Fix

#16515 [DOCFIX] Add java11 image doc
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#16479 Support config ratis configurations through alluxio config
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/master/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
Labels: API Change

#16531 [DOCFIX] Update Troubleshooting and Running on Docker pages
  docs/en/administration/Troubleshooting.md
  docs/en/deploy/Running-Alluxio-On-Docker.md
Labels: Doc Fix

#16539 [DOCFIX] Rename k8s doc
  docs/en/kubernetes/Running-Alluxio-On-Kubernetes.md
Labels: Doc Fix

#15080 Support RocksDB inode/block store to different disk paths
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
Labels: API Change

#15513 [DOCFIX] Update Chinese HDFS Docs
  docs/cn/ufs/HDFS.md
Labels: Doc Fix

#16357 Add replica based annotation
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/wire/HeartBeatResponseMessage.java
  core/common/src/main/java/alluxio/worker/block/BlockStore.java
  core/common/src/main/java/alluxio/worker/block/BlockStoreEventListener.java
  core/common/src/main/java/alluxio/worker/block/BlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/AbstractBlockStoreEventListener.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterSync.java
  core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java
  core/server/worker/src/main/java/alluxio/worker/block/LocalBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/MonoBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/TieredBlockStore.java
  core/server/worker/src/main/java/alluxio/worker/block/annotator/BlockAnnotator.java
  core/server/worker/src/main/java/alluxio/worker/block/annotator/BlockIterator.java
  core/server/worker/src/main/java/alluxio/worker/block/annotator/DefaultBlockIterator.java
  core/server/worker/src/main/java/alluxio/worker/block/annotator/EmulatingBlockIterator.java
  core/server/worker/src/main/java/alluxio/worker/block/annotator/LRFUAnnotator.java
  core/server/worker/src/main/java/alluxio/worker/block/annotator/LRUAnnotator.java
  core/server/worker/src/main/java/alluxio/worker/block/annotator/ReplicaBasedAnnotator.java
  core/server/worker/src/main/java/alluxio/worker/page/PagedBlockStore.java
  core/server/worker/src/test/java/alluxio/worker/block/NoopBlockWorker.java
  core/server/worker/src/test/java/alluxio/worker/block/annotator/AbstractBlockAnnotatorTest.java
  core/server/worker/src/test/java/alluxio/worker/block/annotator/ReplicaBasedAnnotatorTest.java
Labels: API Change

#15155 Delete worker metadata from master after heartbeat timeout
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/master/src/main/java/alluxio/master/block/BlockMaster.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/meta/checkconf/ConfigurationStore.java
  core/server/master/src/test/java/alluxio/master/block/BlockMasterTest.java
  tests/src/test/java/alluxio/client/fs/BlockMasterDeleteLostWorkerIntegrationTest.java
Labels: API Change

#16397 Upgrade Apache Ratis from 2.3.0 to 2.4.0
  core/server/common/pom.xml
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  core/server/master/src/test/java/alluxio/master/journal/raft/RaftJournalTest.java
  core/server/master/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTestFaultTolerance.java
Labels: POM Change

#16569 Fix code style
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#16573 Optimize FUSE mount options
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/src/main/java/alluxio/fuse/options/FuseOptions.java
  tests/src/test/java/alluxio/client/fuse/JNRFuseIntegrationTest.java
Labels: API Change

#16551 [DOCFIX] Add headBucket for S3 API documentation
  docs/_data/table/s3-api-supported-actions.csv
  docs/en/api/S3-API.md
Labels: Doc Fix

#16558 Refactor `JournalMaster` to extend `Master` class
  core/common/src/main/java/alluxio/Constants.java
  core/server/common/src/main/java/alluxio/master/AlwaysStandbyPrimarySelector.java
  core/server/common/src/main/java/alluxio/master/MasterContext.java
  core/server/common/src/main/java/alluxio/master/NoopMaster.java
  core/server/master/src/main/java/alluxio/master/AlluxioMasterProcess.java
  core/server/master/src/main/java/alluxio/master/AlluxioSecondaryMaster.java
  core/server/master/src/main/java/alluxio/master/AlluxioSimpleMasterProcess.java
  core/server/master/src/main/java/alluxio/master/CoreMasterContext.java
  core/server/master/src/main/java/alluxio/master/journal/DefaultJournalMaster.java
  core/server/master/src/main/java/alluxio/master/journal/JournalMaster.java
  core/server/master/src/main/java/alluxio/master/journal/JournalMasterClientServiceHandler.java
  core/server/master/src/main/java/alluxio/master/journal/JournalMasterFactory.java
  core/server/master/src/main/resources/META-INF/services/alluxio.master.MasterFactory
  core/server/master/src/test/java/alluxio/master/MasterTestUtils.java
  job/server/pom.xml
  job/server/src/main/java/alluxio/master/AlluxioJobMasterProcess.java
  job/server/src/test/java/alluxio/master/job/JobMasterTest.java
  table/server/master/src/test/java/alluxio/master/table/TableMasterFactoryTest.java
  tests/src/test/java/alluxio/testutils/master/MasterTestUtils.java
Labels: POM Change

#16523 Fix client side config using wrong hash
  core/client/fs/src/main/java/alluxio/client/file/ConfigHashSync.java
  core/common/src/main/java/alluxio/ClientContext.java
  tests/src/test/java/alluxio/client/fs/FileSystemContextReinitIntegrationTest.java
Labels: priority-high, type-bug, API Change

#16501 Support multiple versions of cosn lib jars in alluxio tarball
  dev/scripts/src/alluxio.org/build-distribution/cmd/common.go
  underfs/cosn/pom.xml
  underfs/cosn/src/main/java-templates/alluxio/CosnUfsConstants.java
  underfs/cosn/src/main/java/alluxio/underfs/cosn/CosNUnderFileSystemFactory.java
  underfs/cosn/src/test/java/alluxio/underfs/cosn/CosNUnderFileSystemFactoryTest.java
Labels: POM Change

#16583 [DOCFIX] Add doc for recursively remove path config
  docs/en/operation/Admin-CLI.md
Labels: Doc Fix

#16544 Ignore no_cache setting for "load" command
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
Labels: API Change

#16591 Fix nullpointerException in distributed cmd
  shell/src/main/java/alluxio/cli/fs/command/AbstractDistributedJobCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedCpCommand.java
  shell/src/main/java/alluxio/cli/fs/command/DistributedLoadUtils.java
Labels: API Change

#16562 [DOCFIX] Add metrics doc on k8s
  docs/en/kubernetes/Metrics-On-Kubernetes.md
  docs/en/operation/Metrics-System.md
Labels: Doc Fix

#16578 Eliminate race condition in completempupload and support overwrite
  core/client/fs/src/main/java/alluxio/client/block/stream/UnderFileSystemFileOutStream.java
  core/client/fs/src/main/java/alluxio/client/file/AlluxioFileOutStream.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/common/src/main/java/alluxio/metrics/MetricsSystem.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadHandler.java
  core/transport/src/main/proto/grpc/file_system_master.proto
  tests/src/test/java/alluxio/client/rest/S3ClientRestApiTest.java
Labels: API Change
