Repository Alluxio/alluxio, pull requests merged in 2022-02, with the labels that each got.

#14952 Update docs with docGen
  docs/_data/table/client-metrics.csv
  docs/_data/table/cluster-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/cluster-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/fuse-metrics.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/worker-configuration.yml
  docs/_data/table/en/worker-metrics.yml
  docs/_data/table/fuse-metrics.csv
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/worker-configuration.csv
  docs/_data/table/worker-metrics.csv
Labels: Doc Fix

#14950 Fix shading for webHdfs
  pom.xml
  shaded/hadoop/pom.xml
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
Labels: POM Change

#14863 [DOCFIX] Add doc on running sudo without password
  docs/en/deploy/Running-Alluxio-On-a-Cluster.md
Labels: Doc Fix

#14951 Add ElasticsearchInfo to Hub rest.proto
  hub/transport/src/main/proto/grpc/rest.proto
Labels: area-hub

#14980 Give warning on setting alluxio.logs.dir in ALLUXIO_JAVA_OPTS
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  docs/_data/table/cn/common-configuration.yml
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/user-configuration.csv
  libexec/alluxio-config.sh
Labels: API Change

#14981 Add support for customize PropertyKey validation function
  core/common/src/main/java/alluxio/conf/InstancedConfiguration.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/test/java/alluxio/conf/InstancedConfigurationTest.java
  core/common/src/test/java/alluxio/conf/PropertyKeyTest.java
Labels: API Change

#15013 Add examples for Hub Manager/Agent to alluxio-env.sh
  conf/alluxio-env.sh.template
Labels: area-hub

#15020 Fix Hub ManagerProcessContext checkstyle errors
  build/checkstyle/suppressions.xml
  hub/server/src/main/java/alluxio/hub/manager/process/ManagerProcessContext.java
Labels: area-hub

#15036 [SMALLFIX] Fix S3 Document
  docs/cn/ufs/S3.md
Labels: Doc Fix

#15009 Make alluxioOnly delete not sync with UFS
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterSyncMetadataTest.java
  shell/src/main/java/alluxio/cli/fs/command/RmCommand.java
Labels: API Change

#15040 Fix Alluxio/new-contributor-tasks#638
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#14934 Request all followers for snapshot instead of a single follower
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/raft/JournalStateMachine.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotUploader.java
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
Labels: API Change
