Repository Alluxio/alluxio, pull requests merged in 2022-08, with the labels that each got.

#15848 Add benchmark for BlockWorker
  microbench/pom.xml
  microbench/src/main/java/alluxio/worker/BlockWorkerBase.java
  microbench/src/main/java/alluxio/worker/WorkerBenchLoad.java
Labels: POM Change

#15988 Create microbenchmark for FileSystem class
  microbench/pom.xml
  microbench/src/main/java/alluxio/fsmaster/BenchStandaloneGrpcServer.java
  microbench/src/main/java/alluxio/fsmaster/FileSystemBase.java
  microbench/src/main/java/alluxio/fsmaster/FileSystemBench.java
Labels: POM Change

#15997 Revert "Upgrade Apache Ratis from 2.0.0 to 2.3.0"
  core/server/common/pom.xml
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTestFaultTolerance.java
Labels: POM Change

#15993 Include `benchmarks.jar` into tarball
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  microbench/pom.xml
Labels: POM Change

#16005 Revert "Include `benchmarks.jar` into tarball"
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  microbench/pom.xml
Labels: POM Change

#15952 Remove S3 API ETag requirement & misc. cleanups
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestUtils.java
  docs/en/api/S3-API.md
  tests/src/test/java/alluxio/client/rest/S3ClientRestApiTest.java
Labels: API Change

#16006 Port changes of [#15952] to branch-2.8
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestUtils.java
  docs/en/api/S3-API.md
  tests/src/test/java/alluxio/client/rest/S3ClientRestApiTest.java
Labels: API Change

#15811 Add s3 rest service audit log
  conf/log4j.properties
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/CompleteMultipartUploadHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3AuditContext.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestServiceHandler.java
  core/server/proxy/src/main/java/alluxio/proxy/s3/S3RestUtils.java
  docs/_data/table/en/proxy-metrics.yml
  docs/_data/table/proxy-metrics.csv
  libexec/alluxio-config.sh
Labels: API Change

#16032 Disable block integrity check by default
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#15972 [DOCFIX] Add detailed steps in the upgrade document
  docs/en/operation/Upgrade.md
  docs/img/screenshot_cdh_compute_hadoop_classpath.png
Labels: Doc Fix

#16070 Bump up maven frontend plugin for m1 arm support
  webui/pom.xml
Labels: POM Change

#15733 Add configuration for kerberos authentication for Ufs HDFS
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  underfs/hdfs/src/main/java/alluxio/underfs/hdfs/HdfsUnderFileSystem.java
Labels: API Change

#16046 Merge journals & flush journals before lock release
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/master/journal/FileSystemMergeJournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/JournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/JournalEntryMerger.java
  core/server/common/src/main/java/alluxio/master/journal/MasterJournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/MergeJournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/NoopJournalContext.java
  core/server/common/src/main/java/alluxio/master/journal/StateChangeJournalContext.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemJournalEntryMerger.java
  core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java
  core/server/master/src/main/java/alluxio/master/file/InodeTtlChecker.java
  core/server/master/src/main/java/alluxio/master/file/LostFileDetector.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTree.java
  core/server/master/src/main/java/alluxio/master/file/meta/LockedInodePath.java
  core/server/master/src/main/java/alluxio/master/file/replication/ReplicationChecker.java
  core/server/master/src/test/java/alluxio/master/file/AccessTimeUpdaterTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemJournalEntryMergerTest.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterTest.java
  core/server/master/src/test/java/alluxio/master/file/PermissionCheckerTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/InodeTreeTest.java
  core/server/master/src/test/java/alluxio/master/file/meta/LockedInodePathTest.java
  core/server/master/src/test/java/alluxio/master/file/replication/ReplicationCheckerTest.java
  core/server/master/src/test/java/alluxio/master/journal/JournalContextTest.java
  microbench/src/main/java/alluxio/inode/InodeBenchBase.java
  tests/src/test/java/alluxio/server/ft/FileSystemMasterFaultToleranceIntegrationTest.java
  tests/src/test/java/alluxio/server/ft/FileSystemMasterMergeJournalContextIntegrationTest.java
  tests/src/test/java/alluxio/server/health/BlockMasterIntegrityIntegrationTest.java
Labels: API Change

#16091 Upgrade Apache Ratis from 2.0.0 to 2.3.0
  core/server/common/pom.xml
  core/server/common/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/server/master/src/main/java/alluxio/master/journal/tool/RaftJournalDumper.java
  tests/src/test/java/alluxio/client/cli/JournalToolTest.java
  tests/src/test/java/alluxio/server/ft/journal/raft/EmbeddedJournalIntegrationTestFaultTolerance.java
Labels: POM Change

#16082 Add client operation for partial listing
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemMasterClient.java
  core/client/fs/src/main/java/alluxio/client/file/RetryHandlingFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/MockFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/common/src/main/java/alluxio/client/file/ListStatusPartialResult.java
  core/common/src/main/java/alluxio/exception/ExceptionMessage.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/ListStatusPartial.java
  core/server/master/src/test/java/alluxio/master/file/FileSystemMasterPartialListingTest.java
  core/transport/src/main/proto/grpc/file_system_master.proto
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/cli/MockFuseFileSystemMasterClient.java
  tests/src/test/java/alluxio/client/fs/FileSystemIntegrationTest.java
Labels: API Change

#16003 Support getMountTable without invoke ufs
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemCache.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemMasterClient.java
  core/client/fs/src/main/java/alluxio/client/file/RetryHandlingFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/MockFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientServiceHandler.java
  core/transport/src/main/proto/grpc/file_system_master.proto
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/cli/MockFuseFileSystemMasterClient.java
Labels: API Change

#16018 Support strict version match option for mount
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/underfs/UnderFileSystemFactoryRegistry.java
Labels: API Change
