Repository Alluxio/alluxio, pull requests merged in 2023-01, with the labels that each got.

#16685 Build and symlink to shaded client jar within client/build/
  dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go
  shaded/client/pom.xml
Labels: POM Change

#16668 Port changes of [#16620] to branch-2.8
  core/common/src/main/java/alluxio/conf/InstancedConfiguration.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/util/TarUtils.java
  core/server/common/src/test/java/alluxio/util/FileUtil.java
  core/server/common/src/test/java/alluxio/util/TarUtilsTest.java
  core/server/master/src/main/java/alluxio/master/metastore/rocks/RocksStore.java
  tests/src/test/java/alluxio/server/ft/journal/MultiProcessCheckpointTest.java
Labels: API Change

#16666 Port changes of [#16620] to branch-2.9
  core/common/src/main/java/alluxio/conf/InstancedConfiguration.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/common/src/main/java/alluxio/util/ParallelZipUtils.java
  core/server/common/src/main/java/alluxio/util/TarUtils.java
  core/server/common/src/test/java/alluxio/util/ParallelZipUtilsTest.java
  core/server/common/src/test/java/alluxio/util/TarUtilsTest.java
  core/server/master/src/main/java/alluxio/master/metastore/rocks/RocksStore.java
  tests/src/test/java/alluxio/server/ft/journal/MultiProcessCheckpointTest.java
Labels: API Change

#16680 [DOCFIX] Update cn version of Trino doc
  docs/cn/compute/Trino.md
Labels: Doc Fix

#16679 Add grpc reflection
  core/common/pom.xml
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/GrpcServerBuilder.java
  pom.xml
Labels: POM Change, API Change

#16673 [DOCFIX] Update cn version of Presto-Iceberg doc
  docs/cn/compute/Presto-Iceberg.md
Labels: Doc Fix

#16700 [DOCFIX] Update cn version of Azure-Data-Lake doc
  docs/cn/ufs/Azure-Data-Lake.md
Labels: Doc Fix

#16697 [DOCFIX] Translate use cases
  docs/cn/overview/Use-Cases.md
Labels: Doc Fix

#16481 Support STS for OSS ufs through RAMRole
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  underfs/oss/pom.xml
  underfs/oss/src/main/java/alluxio/underfs/oss/OSSUnderFileSystem.java
  underfs/oss/src/main/java/alluxio/underfs/oss/OSSUnderFileSystemFactory.java
  underfs/oss/src/main/java/alluxio/underfs/oss/StsOssClientProvider.java
  underfs/oss/src/test/java/alluxio/underfs/oss/StsOssClientProviderTest.java
Labels: POM Change, API Change, needs-response

#16582 Make client send version to server and audit log contain version
  core/common/src/main/java/alluxio/RuntimeConstants.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/grpc/ClientVersionClientInjector.java
  core/common/src/main/java/alluxio/grpc/GrpcChannelBuilder.java
  core/common/src/main/java/alluxio/security/authentication/ClientContextServerInjector.java
  core/server/common/src/main/java/alluxio/RpcUtils.java
  core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServer.java
  core/server/common/src/main/java/alluxio/master/transport/GrpcMessagingServiceClientHandler.java
  core/server/master/src/main/java/alluxio/master/backup/BackupLeaderRole.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterAuditContext.java
  core/server/master/src/main/java/alluxio/master/journal/DefaultJournalMaster.java
  core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java
  core/server/master/src/main/java/alluxio/master/metrics/DefaultMetricsMaster.java
  job/server/src/main/java/alluxio/master/job/JobMaster.java
  job/server/src/main/java/alluxio/master/job/JobMasterAuditContext.java
  table/server/master/src/main/java/alluxio/master/table/DefaultTableMaster.java
Labels: API Change

#16682 Set default fuse version to 3 and support setting via command line
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  integration/fuse/bin/alluxio-fuse-sdk
  integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java
  integration/fuse/src/test/java/alluxio/fuse/meta/UpdateCheckerTest.java
  integration/fuse/src/test/java/alluxio/jnifuse/struct/FuseFileInfoTest.java
Labels: API Change

#16686 [DOCFIX] Update cn version of Job Service doc
  docs/cn/overview/JobService.md
Labels: Doc Fix

#16726 Implement Dora client side affinity
  core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/block/stream/DefaultBlockWorkerClient.java
  core/client/fs/src/main/java/alluxio/client/file/DoraCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/dora/DoraCacheClient.java
  core/client/fs/src/main/java/alluxio/client/file/dora/DoraCacheFileInStream.java
  core/client/fs/src/main/java/alluxio/client/file/dora/WorkerLocationPolicy.java
  core/client/fs/src/main/java/alluxio/client/file/options/FileSystemOptions.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/resources/META-INF/services/alluxio.worker.WorkerFactory
  tests/src/test/java/alluxio/client/fs/io/DoraReadIntegrationTest.java
  tests/src/test/java/alluxio/client/hadoop/FileSystemRenameIntegrationTest.java
Labels: API Change

#16745 [DOCFIX] Add newline to end of doc file
  docs/cn/overview/JobService.md
Labels: Doc Fix

#16701 [DOCFIX] Update cn version of Metric doc
  docs/_data/table/cn/client-metrics.yml
  docs/_data/table/cn/cluster-metrics.yml
  docs/_data/table/cn/fuse-metrics.yml
  docs/_data/table/cn/master-metrics.yml
  docs/_data/table/cn/process-metrics.yml
  docs/_data/table/cn/server-metrics.yml
  docs/_data/table/cn/worker-metrics.yml
  docs/cn/reference/Metrics-List.md
Labels: Doc Fix

#16747 Add new distributed load
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystemMasterClient.java
  core/client/fs/src/main/java/alluxio/client/file/RetryHandlingFileSystemMasterClient.java
  core/client/fs/src/main/java/alluxio/client/file/ufs/UfsBaseFileSystem.java
  core/client/fs/src/test/java/alluxio/client/file/MockFileSystemMasterClient.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/metrics/MetricKey.java
  core/server/common/src/main/java/alluxio/master/journal/JournalEntryAssociation.java
  core/server/common/src/main/java/alluxio/master/journal/checkpoint/CheckpointName.java
  core/server/common/src/test/java/alluxio/master/journal/JournalEntryAssociationTest.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/FileSystemMasterClientServiceHandler.java
  core/server/master/src/main/java/alluxio/master/file/loadmanager/LoadJob.java
  core/server/master/src/main/java/alluxio/master/file/loadmanager/LoadJobState.java
  core/server/master/src/main/java/alluxio/master/file/loadmanager/LoadManager.java
  core/server/master/src/test/java/alluxio/master/file/loadmanager/LoadJobTest.java
  core/server/master/src/test/java/alluxio/master/file/loadmanager/LoadManagerTest.java
  core/server/master/src/test/java/alluxio/master/file/loadmanager/LoadTestUtils.java
  core/server/worker/src/main/java/alluxio/worker/block/UfsIOManager.java
  core/transport/src/main/proto/grpc/block_worker.proto
  core/transport/src/main/proto/grpc/file_system_master.proto
  core/transport/src/main/proto/proto.lock
  core/transport/src/main/proto/proto/journal/job.proto
  core/transport/src/main/proto/proto/journal/journal.proto
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
  integration/fuse/src/test/java/alluxio/fuse/cli/MockFuseFileSystemMasterClient.java
  microbench/src/main/java/alluxio/fsmaster/FileSystemMasterBase.java
  shell/src/main/java/alluxio/cli/fs/command/LoadCommand.java
  tests/src/test/java/alluxio/client/cli/fs/command/LoadCommandIntegrationTest.java
  tests/src/test/java/alluxio/client/cli/fs/command/OldLoadCommandIntegrationTest.java
Labels: API Change

#16753 [DOCFIX] Add doc for load v2
  docs/en/operation/User-CLI.md
Labels: Doc Fix

#16762 Restore table command with deprecated status
  bin/alluxio
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#16732 Implement Worker metadata caching
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/grpc/DoraWorkerClientServiceHandler.java
Labels: API Change

#16756 Bump xstream version to 1.4.20
  pom.xml
Labels: POM Change

#16766 [DOCFIX] Fix docGen and update config/metrics
  docs/_data/table/client-metrics.csv
  docs/_data/table/common-configuration.csv
  docs/_data/table/en/client-metrics.yml
  docs/_data/table/en/common-configuration.yml
  docs/_data/table/en/master-configuration.yml
  docs/_data/table/en/master-metrics.yml
  docs/_data/table/en/proxy-metrics.yml
  docs/_data/table/en/user-configuration.yml
  docs/_data/table/master-configuration.csv
  docs/_data/table/master-metrics.csv
  docs/_data/table/proxy-metrics.csv
  docs/_data/table/user-configuration.csv
Labels: Doc Fix

#16768 [SMALLFIX] Import class type before code class
  core/client/fs/src/main/java/alluxio/client/file/BaseFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/DelegatingFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/FileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/ufs/UfsBaseFileSystem.java
  core/client/fs/src/test/java/alluxio/client/file/cache/LocalCacheFileInStreamTest.java
  integration/fuse/src/test/java/alluxio/fuse/auth/AbstractAuthPolicyTest.java
Labels: API Change

#16699 Add client-hadoop3 module
  core/client/hdfs3/pom.xml
  core/client/pom.xml
  shaded/client-hadoop3/pom.xml
  shaded/pom.xml
Labels: POM Change

#16802 [SMALLFIX]Update job service batch size default value
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#16801 Change default value for checkpoint compression level
  core/common/src/main/java/alluxio/conf/PropertyKey.java
Labels: API Change

#16798 Add some small refactoring changes
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/common/src/main/java/alluxio/master/selectionpolicy/MasterSelectionPolicy.java
  core/common/src/main/java/alluxio/master/selectionpolicy/SelectionPolicyAnyMaster.java
  core/common/src/main/java/alluxio/master/selectionpolicy/SelectionPolicyAnyStandbyMaster.java
  core/common/src/main/java/alluxio/master/selectionpolicy/SelectionPolicyPrimaryMaster.java
  core/common/src/main/java/alluxio/master/selectionpolicy/SelectionPolicySpecifiedMaster.java
  core/common/src/main/java/alluxio/resource/NoopCloseable.java
  core/common/src/main/java/alluxio/wire/WorkerNetAddress.java
  core/server/common/src/main/java/alluxio/master/AbstractMaster.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalServiceHandler.java
  core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSystem.java
  core/server/master/src/main/java/alluxio/master/CoreMaster.java
  core/server/master/src/main/java/alluxio/master/CoreMasterContext.java
  core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java
  core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeLockManager.java
  core/server/master/src/main/java/alluxio/master/file/meta/InodeTreePersistentState.java
  core/server/master/src/main/java/alluxio/master/file/meta/UfsSyncPathCache.java
  core/server/master/src/test/java/alluxio/master/file/meta/InodeTreeTest.java
  core/server/master/src/test/java/alluxio/master/journal/NoopRaftJournalSystem.java
  core/server/master/src/test/java/alluxio/master/journal/raft/SnapshotReplicationManagerTest.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockHeartbeatReporter.java
  core/server/worker/src/main/java/alluxio/worker/block/BlockMasterSyncHelper.java
  shell/src/main/java/alluxio/cli/fsadmin/report/CapacityCommand.java
  shell/src/test/java/alluxio/cli/fsadmin/report/CapacityCommandTest.java
Labels: API Change

#16809 Support FUSE SDK with dora
  core/client/fs/src/main/java/alluxio/client/file/DoraCacheFileSystem.java
  core/client/fs/src/main/java/alluxio/client/file/ufs/UfsBaseFileSystem.java
  core/client/fs/src/test/java/alluxio/client/file/ufs/AbstractUfsStreamTest.java
  core/client/fs/src/test/java/alluxio/client/file/ufs/UfsBaseFileSystemTest.java
  core/common/src/main/java/alluxio/conf/PropertyKey.java
  core/server/worker/src/main/java/alluxio/worker/grpc/DoraWorkerClientServiceHandler.java
  integration/fuse/src/test/java/alluxio/fuse/ufs/AbstractTest.java
  tests/pom.xml
  tests/src/test/java/alluxio/client/fuse/dora/AbstractFuseDoraTest.java
  tests/src/test/java/alluxio/client/fuse/dora/AbstractFuseFileSystemTest.java
  tests/src/test/java/alluxio/client/fuse/dora/FuseEndToEndTest.java
  tests/src/test/java/alluxio/client/fuse/dora/FuseFileSystemDataTest.java
  tests/src/test/java/alluxio/client/fuse/dora/FuseFileSystemMetadataTest.java
  tests/src/test/java/alluxio/client/fuse/dora/readonly/AbstractFuseDoraReadOnlyTest.java
  tests/src/test/java/alluxio/client/fuse/dora/readonly/AbstractFuseFileSystemTest.java
  tests/src/test/java/alluxio/client/fuse/dora/readonly/FuseDoraReadOnlyTest.java
  tests/src/test/java/alluxio/client/fuse/dora/readonly/stream/AbstractStreamTest.java
  tests/src/test/java/alluxio/client/fuse/dora/readonly/stream/InStreamTest.java
  tests/src/test/java/alluxio/client/fuse/dora/stream/AbstractStreamTest.java
  tests/src/test/java/alluxio/client/fuse/dora/stream/InOrOutStreamInTest.java
  tests/src/test/java/alluxio/client/fuse/dora/stream/InOrOutStreamOutTest.java
  tests/src/test/java/alluxio/client/fuse/dora/stream/InStreamTest.java
  tests/src/test/java/alluxio/client/fuse/dora/stream/OutStreamTest.java
Labels: POM Change, API Change

#16820 [DOCFIX] Update new contributor doc
  docs/en/contributor/Contributor-Getting-Started.md
Labels: Doc Fix

#16647 Add examples for Alluxio Native API, Hadoop Compatible FS and HDFS
  docs/en/api/Java-API.md
  examples/pom.xml
  examples/src/main/java/alluxio/examples/AlluxioFS.java
  examples/src/main/java/alluxio/examples/AlluxioHDFS.java
  examples/src/main/java/alluxio/examples/HDFS.java
Labels: POM Change
